# x2ap.cnf
# x2ap conformation file
# Copyright 2007 Anders Broman 
# $Id$

#.OPT
PER
ALIGNED
#.END

#.OMIT_ASSIGNMENT
# Get rid of unused code warnings
PrivateMessage
PrivateIE-Container
PrivateIE-Field
PrivateIE-ID 
#.END

#.PDU
X2AP-PDU

#.MAKE_DEFINES
ProcedureCode

#.MAKE_ENUM
ProtocolIE-ID

#.TYPE_RENAME

ProtocolIE-Field/value     ProtocolIE_Field_value
#PrivateIE-Field/value      PrivateIE_Field_value
InitiatingMessage/value    InitiatingMessage_value
SuccessfulOutcome/value    SuccessfulOutcome_value
UnsuccessfulOutcome/value  UnsuccessfulOutcome_value


#.FIELD_RENAME
ProtocolExtensionField/id extension_id
#PrivateIE-Field/id private_id
InitiatingMessage/value initiatingMessage_value 

ProtocolIE-Field/value protocolIE_Field_value 
SuccessfulOutcome/value successfulOutcome_value 
#PrivateIE-Field/value privateIE_Field_value 

#.OMIT_ASSIGNMENT
Presence
ProtocolIE-FieldPair
ProtocolIE-ContainerList
ProtocolIE-ContainerPair
ProtocolIE-ContainerPairList
#.END

#.FN_PARS ProtocolIE-ID  VAL_PTR = &ProtocolIE_ID

#.FN_PARS ProtocolIE-Field/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_ProtocolIEFieldValue 

#.FN_PARS ProtocolExtensionField/extensionValue  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_ProtocolExtensionFieldExtensionValue

#.FN_PARS  ProcedureCode  VAL_PTR = &ProcedureCode
#.FN_FTR ProcedureCode
	if (check_col(actx->pinfo->cinfo, COL_INFO))
       col_add_fstr(actx->pinfo->cinfo, COL_INFO, "%s ",
                   val_to_str(ProcedureCode, x2ap_ProcedureCode_vals,
                              "unknown message"));
#.END

#.FN_HDR ProcedureCode
  ProcedureCode = 0xFFFF;
#.END


#.FN_PARS InitiatingMessage/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_InitiatingMessageValue

#.FN_PARS SuccessfulOutcome/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_SuccessfulOutcomeValue

#.FN_PARS UnsuccessfulOutcome/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_UnsuccessfulOutcomeValue



#.TYPE_ATTR
#.END

# Handle 64 bit constraint
#.FN_PARS BitRate FN_VARIANT = _64b

#.ASSIGN_VALUE_TO_TYPE  # X2AP does not have constants assigned to types, they are pure INTEGER
# ProcedureCode

id-handoverPreparation				ProcedureCode
id-handoverCancel					ProcedureCode
id-loadIndication					ProcedureCode
id-errorIndication					ProcedureCode
id-snStatusTransfer					ProcedureCode
id-uEContextRelease					ProcedureCode
id-x2Setup							ProcedureCode
id-reset							ProcedureCode
id-eNBConfigurationUpdate			ProcedureCode
id-resourceStatusUpdateInitiation	ProcedureCode
id-resourceStatusReporting			ProcedureCode


# ProtocolIE-ID

id-Bearers-Admitted-Item													ProtocolIE-ID
id-Bearers-Admitted-List													ProtocolIE-ID
id-Bearers-NotAdmitted-Item													ProtocolIE-ID
id-Bearers-NotAdmitted-List													ProtocolIE-ID
id-Bearers-ToBeSetup-Item													ProtocolIE-ID
id-Cause																	ProtocolIE-ID
id-CellInformation															ProtocolIE-ID
id-CellInformation-Item														ProtocolIE-ID
id-InterfacesToTrace-Item													ProtocolIE-ID
id-New-eNB-UE-X2AP-ID														ProtocolIE-ID
id-Old-eNB-UE-X2AP-ID														ProtocolIE-ID
id-TargetCell-ID															ProtocolIE-ID
id-TargeteNBtoSource-eNBTransparentContainer								ProtocolIE-ID
id-TraceActivation															ProtocolIE-ID
id-UE-ContextInformation													ProtocolIE-ID
id-UE-HistoryInformation													ProtocolIE-ID
id-UE-X2AP-ID																ProtocolIE-ID
id-CriticalityDiagnostics													ProtocolIE-ID
id-Bearers-SubjectToStatusTransfer-List										ProtocolIE-ID
id-Bearers-SubjectToStatusTransfer-Item										ProtocolIE-ID
id-ServedCells																ProtocolIE-ID
id-GlobalENB-ID																ProtocolIE-ID
id-TimeToWait																ProtocolIE-ID
id-GUMMEI-ID																ProtocolIE-ID
id-GUGroupIDList															ProtocolIE-ID
id-ServedCellsToAdd															ProtocolIE-ID
id-ServedCellsToModify														ProtocolIE-ID
id-ServedCellsToDelete														ProtocolIE-ID
id-Registration-Request														ProtocolIE-ID
id-CellToReport																ProtocolIE-ID
id-ReportingPeriodicity														ProtocolIE-ID
id-CellToReport-Item														ProtocolIE-ID
id-CellMeasurementResult													ProtocolIE-ID
id-CellMeasurementResult-Item												ProtocolIE-ID
id-GUGroupIDListToAdd														ProtocolIE-ID
id-GUGroupIDListToDelete													ProtocolIE-ID

#.REGISTER_NEW

#X2AP-PROTOCOL-IES
Bearers-Admitted-Item						N x2ap.ies id-Bearers-Admitted-Item
Bearers-Admitted-List						N x2ap.ies id-Bearers-Admitted-List
Bearers-NotAdmitted-Item					N x2ap.ies id-Bearers-NotAdmitted-Item
Bearers-NotAdmitted-List					N x2ap.ies id-Bearers-NotAdmitted-List
Bearers-ToBeSetup-Item						N x2ap.ies id-Bearers-ToBeSetup-Item
Cause										N x2ap.ies id-Cause		
CellInformation-List						N x2ap.ies id-CellInformation	
CellInformation-Item						N x2ap.ies id-CellInformation-Item
InterfacesToTrace-Item						N x2ap.ies id-InterfacesToTrace-Item
UE-X2AP-ID									N x2ap.ies id-New-eNB-UE-X2AP-ID
UE-X2AP-ID									N x2ap.ies id-Old-eNB-UE-X2AP-ID
ECGI										N x2ap.ies id-TargetCell-ID
TargeteNBtoSource-eNBTransparentContainer	N x2ap.ies id-TargeteNBtoSource-eNBTransparentContainer
TraceActivation								N x2ap.ies id-TraceActivation
UE-ContextInformation						N x2ap.ies id-UE-ContextInformation
UE-HistoryInformation						N x2ap.ies id-UE-HistoryInformation
UE-X2AP-ID									N x2ap.ies id-UE-X2AP-ID
CriticalityDiagnostics						N x2ap.ies id-CriticalityDiagnostics
Bearers-SubjectToStatusTransfer-List		N x2ap.ies id-Bearers-SubjectToStatusTransfer-List
Bearers-SubjectToStatusTransfer-Item		N x2ap.ies id-Bearers-SubjectToStatusTransfer-Item
ServedCells									N x2ap.ies id-ServedCells
GlobalENB-ID								N x2ap.ies id-GlobalENB-ID
TimeToWait									N x2ap.ies id-TimeToWait
GUMMEI										N x2ap.ies id-GUMMEI-ID
GUGroupIDList								N x2ap.ies id-GUGroupIDList
ServedCells									N x2ap.ies id-ServedCellsToAdd
ServedCellsToModify							N x2ap.ies id-ServedCellsToModify
Old-ECGIs									N x2ap.ies id-ServedCellsToDelete
Registration-Request						N x2ap.ies id-Registration-Request
CellToReport-List							N x2ap.ies id-CellToReport
ReportingPeriod								N x2ap.ies id-ReportingPeriodicity
CellToReport-Item							N x2ap.ies id-CellToReport-Item
CellMeasurementResult-List					N x2ap.ies id-CellMeasurementResult
CellMeasurementResult-Item					N x2ap.ies id-CellMeasurementResult-Item
GUGroupIDList								N x2ap.ies id-GUGroupIDListToAdd
GUGroupIDList								N x2ap.ies id-GUGroupIDListToDelete

#X2AP-PROTOCOL-EXTENSION
# this is from rnsap MessageStructure                   N x2ap.extension id-MessageStructure

# X2AP-PDU-Descriptions.asn  Interface Elementary Procedures
#X2AP-ELEMENTARY-PROCEDURE
HandoverRequest						S x2ap.proc.imsg "id-handoverPreparation"
HandoverRequestAcknowledge			S x2ap.proc.sout "id-handoverPreparation"
HandoverPreparationFailure			S x2ap.proc.uout "id-handoverPreparation"

SNStatusTransfer					S x2ap.proc.imsg "id-snStatusTransfer"

UEContextRelease					S x2ap.proc.imsg "id-uEContextRelease"

HandoverCancel						S x2ap.proc.imsg "id-handoverCancel"

ErrorIndication						S x2ap.proc.imsg "id-errorIndication"

ResetRequest						S x2ap.proc.imsg "id-reset"
ResetResponse						S x2ap.proc.sout "id-reset"

X2SetupRequest						S x2ap.proc.imsg "id-x2Setup"
X2SetupResponse						S x2ap.proc.sout "id-x2Setup"
X2SetupFailure						S x2ap.proc.uout "id-x2Setup"

LoadInformation						S x2ap.proc.imsg "id-loadIndication"

ENBConfigurationUpdate				S x2ap.proc.imsg "id-eNBConfigurationUpdate"
ENBConfigurationUpdateAcknowledge	S x2ap.proc.sout "id-eNBConfigurationUpdate"
ENBConfigurationUpdateFailure		S x2ap.proc.uout "id-eNBConfigurationUpdate"

ResourceStatusRequest				S x2ap.proc.imsg "id-resourceStatusUpdateInitiation"
ResourceStatusResponse				S x2ap.proc.sout "id-resourceStatusUpdateInitiation"
ResourceStatusFailure				S x2ap.proc.uout "id-resourceStatusUpdateInitiation"

ResourceStatusUpdate				S x2ap.proc.imsg "id-resourceStatusReporting"
#.END
