# h248-package-bcp.cnf
# H.248-package-bcp conformation file

# $Id: h248_package_bcp.cnf 12205 2004-10-05 09:50:19Z sahlberg $

#.MODULE_IMPORT

#.EXPORTS

#.PDU
BNCChar

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#.END


