#.IMPORT_TAG
AlgorithmIdentifier      BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
Attribute                BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
AttributeTypeAndValue    BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
Certificate		 BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CertificateList		 BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CertificateSerialNumber  BER_CLASS_UNI BER_UNI_TAG_INTEGER
DirectoryString  BER_CLASS_UNI BER_UNI_TAG_PrintableString
Extension                BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
Extensions               BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
GeneralName              BER_CLASS_CON -1/*choice*/
Name                     BER_CLASS_ANY -1
RDNSequence              BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
RelativeDistinguishedName BER_CLASS_UNI BER_UNI_TAG_SET
SubjectPublicKeyInfo     BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
TeletexDomainDefinedAttribute BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
TerminalType             BER_CLASS_UNI BER_UNI_TAG_INTEGER
Time                     BER_CLASS_ANY/*choice*/ -1/*choice*/
UniqueIdentifier         BER_CLASS_UNI BER_UNI_TAG_BITSTRING
Version                  BER_CLASS_UNI BER_UNI_TAG_INTEGER
#.END

#.TYPE_ATTR
Attribute                TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
AttributeTypeAndValue    TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
Certificate		 TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CertificateList		 TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CertificateSerialNumber  TYPE = FT_INT32   DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
DirectoryString          TYPE = FT_STRING  DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
Extension                TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
Extensions               TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
GeneralName              TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
Name                     TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
RDNSequence              TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
RelativeDistinguishedName TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
SubjectPublicKeyInfo     TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
TeletexDomainDefinedAttribute TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
TerminalType             TYPE = FT_INT32   DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
Time                     TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(pkix1explicit_Time_vals)  BITMASK = 0
UniqueIdentifier         TYPE = FT_BYTES   DISPLAY = BASE_NONE   STRINGS = NULL  BITMASK = 0
Version                  TYPE = FT_INT32   DISPLAY = BASE_DEC   STRINGS = VALS(pkix1explicit_Version_vals)  BITMASK = 0
#.END

