# pkix1explicit.cnf
# pkix1explicit conformation file

# $Id$

#.MODULE_IMPORT

#.EXPORTS

TeletexDomainDefinedAttribute
TerminalType

#.REGISTER
DomainParameters B "1.2.840.10046.2.1" "dhpublicnumber"

#.PDU

#.NO_EMIT

CertificateSerialNumber

#.TYPE_RENAME

#.FIELD_RENAME

#.END

