[Format]
Type=PortableApps.comFormat
Version=3.0

[Details]
Name=Wireshark Portable (@PORTABLEAPPS_BITS@-bit)
AppID=@PORTABLEAPPS_NAME@
Publisher=Wireshark.org
Homepage=https://www.wireshark.org/
Category=Internet
Description=Wireshark is one of the world's foremost network protocol analyzers.
Language=Multilingual
Trademarks=Wireshark and the fin logo are registered trademarks of the Wireshark Foundation

[License]
Shareable=true
OpenSource=true
Freeware=true
CommercialUse=true

[Version]
PackageVersion=@PORTABLEAPPS_PACKAGE_VERSION@
DisplayVersion=@PROJECT_VERSION@

[Control]
Icons=1
Start=@PORTABLEAPPS_NAME@.exe
