[Format]
Type=PortableApps.comFormat
Version=0.9.6

[Details]
Name=Wireshark Portable
Publisher=Wireshark.org
Homepage=www.wireshark.org
Category=Internet
Description=Wireshark is one of the world's foremost network protocol analysers.
InstallSize=TBD

[License]
Shareable=true

[Version]
PackageVersion=$(PAPPS_VERSION)
PackageRevision=$(VERSION_MAJOR)
DisplayVersion=$(VERSION_MAJOR).$(VERSION_MINOR)

[Control]
Icons=1
Start=WiresharkPortable.exe