# umts_rrc_ies.cnf
# umts_rrc_ies conformation file
# Copyright 2006 Anders Broman 
# $Id$


#----------------------------------------------------------------------------------------
#.EXPORTS
#----------------------------------------------------------------------------------------
#-- Core Network IEs :
	CN-DomainIdentity
	CN-InformationInfo
	CN-InformationInfo-r6
	CN-InformationInfoFull
	NAS-Message
	PagingRecordTypeID
	PLMN-Identity
#-- UTRAN Mobility IEs :
	CellIdentity
	CellIdentity-PerRL-List
	URA-Identity
#-- User Equipment IEs :
	UE-RadioAccessCapabBandFDDList2
	UE-RadioAccessCapabBandFDDList-ext
	AccessStratumReleaseIndicator
	ActivationTime
	C-RNTI
	CapabilityUpdateRequirement
	CapabilityUpdateRequirement-r4
	CapabilityUpdateRequirement-r4-ext
	CapabilityUpdateRequirement-r5
	CellUpdateCause
	CellUpdateCause-ext
	CipheringAlgorithm
	CipheringModeInfo
	DelayRestrictionFlag
	DSCH-RNTI
	E-RNTI
	EstablishmentCause
	FailureCauseWithProtErr
	FailureCauseWithProtErrTrId
	GroupReleaseInformation
	H-RNTI
	UESpecificBehaviourInformation1idle
	UESpecificBehaviourInformation1interRAT
	InitialUE-Identity
	IntegrityCheckInfo
	IntegrityProtActivationInfo
	IntegrityProtectionModeInfo
	N-308
	PagingCause
	PagingRecordList
	PagingRecord2List-r5
	ProtocolErrorIndicator
	ProtocolErrorIndicatorWithMoreInfo
	RadioFrequencyBandTDDList
	Rb-timer-indicator
	RedirectionInfo
	RedirectionInfo-r6
	RejectionCause
	ReleaseCause
	RF-CapabilityComp
	RRC-StateIndicator
	RRC-TransactionIdentifier
	SecurityCapability
	START-Value
	STARTList
	SystemSpecificCapUpdateReq-v590ext
	U-RNTI
	U-RNTI-Short
	UE-CapabilityContainer-IEs
	UE-RadioAccessCapability
	UE-RadioAccessCapability-v370ext
	UE-RadioAccessCapability-v380ext
	UE-RadioAccessCapability-v3a0ext
	UE-RadioAccessCapability-v3g0ext
	UE-RadioAccessCapability-v4b0ext
	UE-RadioAccessCapability-v590ext
	UE-RadioAccessCapability-v5c0ext
	UE-RadioAccessCapability-v650ext
	UE-RadioAccessCapabilityComp
	DL-PhysChCapabilityFDD-v380ext
	UE-ConnTimersAndConstants
	UE-ConnTimersAndConstants-v3a0ext
	UE-ConnTimersAndConstants-r5
	UE-SecurityInformation
	UE-SecurityInformation2
	URA-UpdateCause
	UTRAN-DRX-CycleLengthCoefficient
	WaitTime
#-- Radio Bearer IEs :
	DefaultConfigIdentity
	DefaultConfigIdentity-r4
	DefaultConfigIdentity-r5
	DefaultConfigMode
	DL-CounterSynchronisationInfo
	DL-CounterSynchronisationInfo-r5
	PDCP-ROHC-TargetMode
	PredefinedConfigIdentity
	PredefinedConfigStatusList
	PredefinedConfigStatusListComp
	PredefinedConfigSetWithDifferentValueTag
	RAB-Info
	RAB-Info-Post
	RAB-InformationList
	RAB-InformationList-r6
	RAB-InformationReconfigList
	RAB-InformationSetupList
	RAB-InformationSetupList-r4
	RAB-InformationSetupList-r5
	RAB-InformationSetupList-r6-ext
	RAB-InformationSetupList-r6
	RB-ActivationTimeInfoList
	RB-COUNT-C-InformationList
	RB-COUNT-C-MSB-InformationList
	RB-IdentityList
	RB-InformationAffectedList
	RB-InformationAffectedList-r5
	RB-InformationAffectedList-r6
	RB-InformationChangedList-r6
	RB-InformationReconfigList
	RB-InformationReconfigList-r4
	RB-InformationReconfigList-r5
	RB-InformationReconfigList-r6
	RB-InformationReleaseList
	RB-PDCPContextRelocationList
	SRB-InformationSetupList
	SRB-InformationSetupList-r5
	SRB-InformationSetupList-r6
	SRB-InformationSetupList2
	UL-CounterSynchronisationInfo
#-- Transport Channel IEs:
	CPCH-SetID
	DL-AddReconfTransChInfo2List
	DL-AddReconfTransChInfoList
	DL-AddReconfTransChInfoList-r4
	DL-AddReconfTransChInfoList-r5
	DL-CommonTransChInfo
	DL-CommonTransChInfo-r4
	DL-DeletedTransChInfoList
	DL-DeletedTransChInfoList-r5
	DRAC-StaticInformationList
	PowerOffsetInfoShort
	TFC-Subset
	TFCS-Identity
	UL-AddReconfTransChInfoList
	UL-AddReconfTransChInfoList-r6
	UL-CommonTransChInfo
	UL-CommonTransChInfo-r4
	UL-DeletedTransChInfoList
	UL-DeletedTransChInfoList-r6
#-- Physical Channel IEs :
	Alpha
	BEACON-PL-Est
	CCTrCH-PowerControlInfo
	CCTrCH-PowerControlInfo-r4
	CCTrCH-PowerControlInfo-r5
	ConstantValue
	ConstantValueTdd
	CPCH-SetInfo
	DHS-Sync
	DL-CommonInformation
	DL-CommonInformation-r4
	DL-CommonInformation-r5
	DL-CommonInformation-r6
	DL-CommonInformationPost
	DL-HSPDSCH-Information
	DL-HSPDSCH-Information-r6
	DL-InformationPerRL-List
	DL-InformationPerRL-List-r4
	DL-InformationPerRL-List-r5
	DL-InformationPerRL-List-r5bis
	DL-InformationPerRL-List-r6
	DL-InformationPerRL-ListPostFDD
	DL-InformationPerRL-PostTDD
	DL-InformationPerRL-PostTDD-LCR-r4
	DL-PDSCH-Information
	DL-TPC-PowerOffsetPerRL-List
	DPC-Mode
	DPCH-CompressedModeStatusInfo
	DynamicPersistenceLevel
	FrequencyInfo
	FrequencyInfoFDD
	FrequencyInfoTDD
	HARQ-Preamble-Mode
	HS-SICH-Power-Control-Info-TDD384
	MaxAllowedUL-TX-Power
	OpenLoopPowerControl-IPDL-TDD-r4
	PDSCH-CapacityAllocationInfo
	PDSCH-CapacityAllocationInfo-r4
	PDSCH-Identity
	PrimaryCPICH-Info
	PrimaryCCPCH-TX-Power
	PUSCH-CapacityAllocationInfo
	PUSCH-CapacityAllocationInfo-r4
	PUSCH-Identity
	PUSCH-SysInfoList-HCR-r5
	PDSCH-SysInfoList-HCR-r5
	RL-AdditionInformationList
	RL-AdditionInformationList-r6
	RL-RemovalInformationList
	Serving-HSDSCH-CellInformation
	Scheduling-E-DCH-CellInformation
	SpecialBurstScheduling
	SSDT-Information
	SSDT-Information-r4
	TFC-ControlDuration
	SSDT-UL
	TimeslotList
	TimeslotList-r4
	TX-DiversityMode
	UL-ChannelRequirement
	UL-ChannelRequirement-r4
	UL-ChannelRequirement-r5
	UL-ChannelRequirement-r6
	UL-ChannelRequirementWithCPCH-SetID
	UL-ChannelRequirementWithCPCH-SetID-r4
	UL-ChannelRequirementWithCPCH-SetID-r5
	UL-DPCH-Info
	UL-DPCH-Info-r4
	UL-DPCH-Info-r5
	UL-DPCH-Info-r6
	UL-DPCH-InfoPostFDD
	UL-DPCH-InfoPostTDD
	UL-DPCH-InfoPostTDD-LCR-r4
	UL-EDCH-Information-r6
	UL-SynchronisationParameters-r4
	UL-TimingAdvance
	UL-TimingAdvanceControl
	UL-TimingAdvanceControl-r4
#-- Measurement IEs :
	AdditionalMeasurementID-List
	DeltaRSCP
	Frequency-Band
	EventResults
	Inter-FreqEventCriteriaList-v590ext
	Intra-FreqEventCriteriaList-v590ext
	IntraFreqReportingCriteria-1b-r5
	IntraFreqEvent-1d-r5
	IntraFreqCellID
	InterFreqEventResults-LCR-r4-ext
	InterRATCellInfoIndication
	InterRAT-TargetCellDescription
	MeasuredResults
	MeasuredResults-v390ext
	MeasuredResults-v590ext
	MeasuredResultsList
	MeasuredResultsList-LCR-r4-ext
	MeasuredResultsOnRACH
	MeasuredResultsOnRACHinterFreq
	MeasurementCommand
	MeasurementCommand-r4
	MeasurementIdentity
	MeasurementReportingMode
	PrimaryCCPCH-RSCP
	SFN-Offset-Validity
	TimeslotListWithISCP
	TrafficVolumeMeasuredResultsList
	UE-Positioning-GPS-AssistanceData
	UE-Positioning-Measurement-v390ext
	UE-Positioning-OTDOA-AssistanceData
	UE-Positioning-OTDOA-AssistanceData-r4ext
	UE-Positioning-OTDOA-AssistanceData-UEB
#-- Other IEs :
	BCCH-ModificationInfo
	CDMA2000-MessageList
	GSM-TargetCellInfoList
	GERANIu-MessageList
	GERAN-SystemInformation
	GSM-MessageList
	GSMSecurityCapability-v6xyext
	InterRAT-ChangeFailureCause
	InterRAT-HO-FailureCause
	InterRAT-UE-RadioAccessCapabilityList
	InterRAT-UE-RadioAccessCapability-v590ext
	InterRAT-UE-SecurityCapList
	IntraDomainNasNodeSelector
	ProtocolErrorMoreInformation
	Rplmn-Information
	Rplmn-Information-r4
	SegCount
	SegmentIndex
	SFN-Prime
	SIB-Data-fixed
	SIB-Data-variable
	SIB-Type
#-- MBMS IEs:
	MBMS-CellGroupIdentity-r6
	MBMS-CommonRBInformationList-r6
	MBMS-CurrentCell-SCCPCHList-r6
	MBMS-JoinedInformation-r6
	MBMS-MICHConfigurationInfo-r6
	MBMS-ModifedServiceList-r6
	MBMS-MSCHConfigurationInfo-r6
	MBMS-NeighbouringCellSCCPCHList-r6
	MBMS-NumberOfNeighbourCells-r6
	MBMS-PhyChInformationList-r6
	MBMS-PL-ServiceRestrictInfo-r6
	MBMS-PreferredFreqRequest-r6
	MBMS-PreferredFrequencyList-r6
	MBMS-PtMActivationTime
	MBMS-ServiceAccessInfoList-r6
	MBMS-ServiceIdentity
	MBMS-ServiceSchedulingInfoList-r6
	MBMS-SIBType5-SCCPCHList-r6
	MBMS-TimersAndCouneters-r6
	MBMS-TranspChInfoForEachCCTrCh-r6
	MBMS-TranspChInfoForEachTrCh-r6
	MBMS-UnmodifiedServiceList-r6
#.FIELD_RENAME

