# IEEE1609dot2.cnf
# IEEE1609dot2 conformation file

#.OPT
OER
#.END

#.MODULE
#.MODULE_IMPORT

#.EXPORTS

#.REGISTER

#.PDU
Ieee1609Dot2Data

#.NO_EMIT

#.OMIT_ASSIGNMENT
# Get rid of unused code warnings
Countersignature
ExplicitCertificate
HashedId4
HashedId10
HashedId32
ImplicitCertificate
KnownLatitude
KnownLongitude
LaId
LinkageSeed
SequenceOfPsid
SequenceOfUint3
Uint3
UnknownLatitude
UnknownLongitude

#.TYPE_RENAME

#.FIELD_RENAME

#.FN_BODY Ieee1609Dot2Content/unsecuredData

tvbuff_t *parameter_tvb=NULL;

  offset = dissect_oer_octet_string(tvb, offset, actx, tree, hf_index,
                                       NO_BOUND, NO_BOUND, FALSE, &parameter_tvb);

  if((parameter_tvb)&& (j2735_handle)){
    /* Call next dissector here */
    call_dissector(j2735_handle, parameter_tvb, actx->pinfo, tree);
  }

#.END

