# MAP_Dialouge.cnf
# MAP_Dialouge conformation file

# $Id$

#.MODULE_IMPORT
MAP-CommonDataTypes gsm_map
MAP-ExtensionDataTypes gsm_map
MAP-ST-DataTypes gsm_map

#.INCLUDE ../gsmmap/gsm_map-exp.cnf

#.EXPORTS

#.PDU

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#.END
