# MAP_Dialouge.cnf
# MAP_Dialouge conformation file

# $Id$

#.MODULE_IMPORT
MAP-CommonDataTypes gsm_map
MAP-ExtensionDataTypes gsm_map
MAP-ST-DataTypes gsm_map

#.INCLUDE ../gsmmap/gsm_map-exp.cnf

#.EXPORTS

#.PDU
MAP-DialoguePDU

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#.REGISTER
MAP-DialoguePDU				B "0.4.0.0.1.1.1.1" "map-DialogueAS"
# MAP-ProtectedDialoguePDU	B "0.4.0.0.1.1.3.1" "map-ProtectedDialogueAS"

#.END
