# m2ap.cnf
# m2ap conformation file

#.OPT
PER
ALIGNED
#.END

#.USE_VALS_EXT
ProcedureCode
ProtocolIE-ID

#.EXPORTS

#.PDU
M2AP-PDU

#.MAKE_ENUM
ProcedureCode
ProtocolIE-ID

#.OMIT_ASSIGNMENT
ProtocolIE-FieldPair
ProtocolIE-ContainerPair
ProtocolIE-ContainerPairList
ProtocolIE-ContainerList
Presence

#.TYPE_RENAME
InitiatingMessage/value InitiatingMessage_value
SuccessfulOutcome/value SuccessfulOutcome_value
UnsuccessfulOutcome/value UnsuccessfulOutcome_value

#.FIELD_RENAME
InitiatingMessage/value initiatingMessage_value
UnsuccessfulOutcome/value unsuccessfulOutcome_value
SuccessfulOutcome/value successfulOutcome_value

PrivateIE-Field/id private_id
ProtocolExtensionField/id ext_id

PrivateIE-Field/value private_value
ProtocolIE-Field/value ie_field_value

#.FN_PARS ProtocolIE-ID  VAL_PTR=&ProtocolIE_ID
#.FN_FTR ProtocolIE-ID
  if (tree) {
    proto_item_append_text(proto_item_get_parent_nth(actx->created_item, 2), ": %s", val_to_str_ext(ProtocolIE_ID, &m2ap_ProtocolIE_ID_vals_ext, "unknown (%d)"));
  }
#.END

#.FN_PARS ProtocolIE-Field/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_ProtocolIEFieldValue
#.FN_PARS ProtocolExtensionField/extensionValue  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_ProtocolExtensionFieldExtensionValue

#.FN_PARS ProcedureCode VAL_PTR=&ProcedureCode

#.FN_PARS InitiatingMessage/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_InitiatingMessageValue
#.FN_HDR InitiatingMessage/value
  message_type = INITIATING_MESSAGE;

#.FN_PARS SuccessfulOutcome/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_SuccessfulOutcomeValue
#.FN_HDR SuccessfulOutcome/value
  message_type = SUCCESSFUL_OUTCOME;

#.FN_PARS UnsuccessfulOutcome/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_UnsuccessfulOutcomeValue
#.FN_HDR UnsuccessfulOutcome/value
  message_type = UNSUCCESSFUL_OUTCOME;

#.FN_BODY PLMN-Identity  VAL_PTR = &parameter_tvb
  tvbuff_t *parameter_tvb = NULL;
  struct m2ap_private_data *m2ap_data = m2ap_get_private_data(actx->pinfo);
  e212_number_type_t number_type = m2ap_data->number_type;
  m2ap_data->number_type = E212_NONE;
%(DEFAULT_BODY)s
  if (parameter_tvb) {
    proto_tree *subtree = proto_item_add_subtree(actx->created_item, ett_m2ap_PLMN_Identity);
    dissect_e212_mcc_mnc(parameter_tvb, actx->pinfo, subtree, 0, number_type, false);
  }
#.END

#.FN_BODY ECGI
  struct m2ap_private_data *m2ap_data = m2ap_get_private_data(actx->pinfo);
  m2ap_data->number_type = E212_ECGI;
%(DEFAULT_BODY)s

#.FN_BODY IPAddress VAL_PTR = &parameter_tvb
  tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
  if (parameter_tvb) {
    int tvb_len = tvb_reported_length(parameter_tvb);
    proto_tree *subtree = proto_item_add_subtree(actx->created_item, ett_m2ap_IPAddress);

    switch (tvb_len) {
      case 4:
        proto_tree_add_item(subtree, hf_m2ap_IPAddress_v4, parameter_tvb, 0, 4, ENC_BIG_ENDIAN);
        break;
      case 16:
        proto_tree_add_item(subtree, hf_m2ap_IPAddress_v6, parameter_tvb, 0, 16, ENC_NA);
        break;
      default:
        proto_tree_add_expert(subtree, actx->pinfo, &ei_m2ap_invalid_ip_address_len, parameter_tvb, 0, tvb_len);
        break;
      }
    }
#.END

#.TYPE_ATTR
BitRate DISPLAY=BASE_DEC|BASE_UNIT_STRING STRINGS=&units_bit_sec

#.FN_HDR SessionStartRequest
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MBMS Session Start Request");
#.FN_HDR SessionStartResponse
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MBMS Session Start Response");
#.FN_HDR SessionStartFailure
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MBMS Session Start Failure");
#.FN_HDR SessionStopRequest
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MBMS Session Stop Request");
#.FN_HDR SessionStopResponse
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MBMS Session Stop Response");
#.FN_HDR SessionUpdateRequest
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MBMS Session Update Request");
#.FN_HDR SessionUpdateResponse
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MBMS Session Update Response");
#.FN_HDR SessionUpdateFailure
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MBMS Session Update Failure");
#.FN_HDR MbmsSchedulingInformation
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MBMS Scheduling Information");
#.FN_HDR MbmsSchedulingInformationResponse
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MBMS Scheduling Information Response");
#.FN_HDR M2SetupRequest
  col_set_str(actx->pinfo->cinfo, COL_INFO, "M2 Setup Request");
#.FN_HDR M2SetupResponse
  col_set_str(actx->pinfo->cinfo, COL_INFO, "M2 Setup Response");
#.FN_HDR M2SetupFailure
  col_set_str(actx->pinfo->cinfo, COL_INFO, "M2 Setup Failure");
#.FN_HDR ENBConfigurationUpdate
  col_set_str(actx->pinfo->cinfo, COL_INFO, "eNB Configuration Update");
#.FN_HDR ENBConfigurationUpdateAcknowledge
  col_set_str(actx->pinfo->cinfo, COL_INFO, "eNB Configuration Update Acknowledge");
#.FN_HDR ENBConfigurationUpdateFailure
  col_set_str(actx->pinfo->cinfo, COL_INFO, "eNB Configuration Update Failure");
#.FN_HDR MCEConfigurationUpdate
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MCE Configuration Update");
#.FN_HDR MCEConfigurationUpdateAcknowledge
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MCE Configuration Update Acknowledge");
#.FN_HDR MCEConfigurationUpdateFailure
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MCE Configuration Update Failure");
#.FN_HDR ErrorIndication
  col_set_str(actx->pinfo->cinfo, COL_INFO, "Error Indication");
#.FN_HDR Reset
  col_set_str(actx->pinfo->cinfo, COL_INFO, "Reset");
#.FN_HDR ResetAcknowledge
  col_set_str(actx->pinfo->cinfo, COL_INFO, "Reset Acknowledge");
#.FN_HDR PrivateMessage
  col_set_str(actx->pinfo->cinfo, COL_INFO, "Private Message");
#.FN_HDR MbmsServiceCountingRequest
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MBMS Service Counting Request");
#.FN_HDR MbmsServiceCountingResponse
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MBMS Service Counting Response");
#.FN_HDR MbmsServiceCountingFailure
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MBMS Service Counting Failure");
#.FN_HDR MbmsServiceCountingResultsReport
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MBMS Service Counting Results Report");
#.FN_HDR MbmsOverloadNotification
  col_set_str(actx->pinfo->cinfo, COL_INFO, "MBMS Overload Notification");

#.ASSIGN_VALUE_TO_TYPE
# ProcedureCode
id-sessionStart                     ProcedureCode
id-sessionStop                      ProcedureCode
id-mbmsSchedulingInformation        ProcedureCode
id-errorIndication                  ProcedureCode
id-reset                            ProcedureCode
id-m2Setup                          ProcedureCode
id-eNBConfigurationUpdate           ProcedureCode
id-mCEConfigurationUpdate           ProcedureCode
id-privateMessage                   ProcedureCode
id-sessionUpdate                    ProcedureCode
id-mbmsServiceCounting              ProcedureCode
id-mbmsServiceCountingResultsReport ProcedureCode
id-mbmsOverloadNotification         ProcedureCode

# ProtocolIE
id-MCE-MBMS-M2AP-ID                                      ProtocolIE-ID
id-ENB-MBMS-M2AP-ID                                      ProtocolIE-ID
id-TMGI                                                  ProtocolIE-ID
id-MBMS-Session-ID                                       ProtocolIE-ID
id-MBMS-Service-Area                                     ProtocolIE-ID
id-TNL-Information                                       ProtocolIE-ID
id-CriticalityDiagnostics                                ProtocolIE-ID
id-Cause                                                 ProtocolIE-ID
id-MBSFN-Area-Configuration-List                         ProtocolIE-ID
id-PMCH-Configuration-List                               ProtocolIE-ID
id-PMCH-Configuration-Item                               ProtocolIE-ID
id-GlobalENB-ID                                          ProtocolIE-ID
id-ENBname                                               ProtocolIE-ID
id-ENB-MBMS-Configuration-data-List                      ProtocolIE-ID
id-ENB-MBMS-Configuration-data-Item                      ProtocolIE-ID
id-GlobalMCE-ID                                          ProtocolIE-ID
id-MCEname                                               ProtocolIE-ID
id-MCCHrelatedBCCH-ConfigPerMBSFNArea                    ProtocolIE-ID
id-MCCHrelatedBCCH-ConfigPerMBSFNArea-Item               ProtocolIE-ID
id-TimeToWait                                            ProtocolIE-ID
id-MBSFN-Subframe-Configuration-List                     ProtocolIE-ID
id-MBSFN-Subframe-Configuration-Item                     ProtocolIE-ID
id-Common-Subframe-Allocation-Period                     ProtocolIE-ID
id-MCCH-Update-Time                                      ProtocolIE-ID
id-ENB-MBMS-Configuration-data-List-ConfigUpdate         ProtocolIE-ID
id-ENB-MBMS-Configuration-data-ConfigUpdate-Item         ProtocolIE-ID
id-MBMS-Service-associatedLogicalM2-ConnectionItem       ProtocolIE-ID
id-MBSFN-Area-ID                                         ProtocolIE-ID
id-ResetType                                             ProtocolIE-ID
id-MBMS-Service-associatedLogicalM2-ConnectionListResAck ProtocolIE-ID
id-MBMS-Counting-Request-Session                         ProtocolIE-ID
id-MBMS-Counting-Request-Session-Item                    ProtocolIE-ID
id-MBMS-Counting-Result-List                             ProtocolIE-ID
id-MBMS-Counting-Result-Item                             ProtocolIE-ID
id-Modulation-Coding-Scheme2                             ProtocolIE-ID
id-MCH-Scheduling-PeriodExtended                         ProtocolIE-ID
id-Alternative-TNL-Information                           ProtocolIE-ID
id-Overload-Status-Per-PMCH-List                         ProtocolIE-ID
id-PMCH-Overload-Status                                  ProtocolIE-ID
id-Active-MBMS-Session-List                              ProtocolIE-ID
id-MBMS-Suspension-Notification-List                     ProtocolIE-ID
id-MBMS-Suspension-Notification-Item                     ProtocolIE-ID
id-SC-PTM-Information                                    ProtocolIE-ID
id-Modification-PeriodExtended                           ProtocolIE-ID
id-Repetition-PeriodExtended                             ProtocolIE-ID
id-MCH-Scheduling-PeriodExtended2                        ProtocolIE-ID
id-Subcarrier-SpacingMBMS                                ProtocolIE-ID
id-SubframeAllocationExtended                            ProtocolIE-ID
id-MCCHrelatedBCCH-ExtConfigPerMBSFNArea-Item            ProtocolIE-ID
id-MCCHrelatedBCCH-ExtConfigPerMBSFNArea                 ProtocolIE-ID
id-SubframeAllocationFurtherExtension                    ProtocolIE-ID
id-AdditionalConfigParameters                            ProtocolIE-ID

#.REGISTER

#M2AP-PROTOCOL-IES
MCE-MBMS-M2AP-ID                                      N m2ap.ies id-MCE-MBMS-M2AP-ID
ENB-MBMS-M2AP-ID                                      N m2ap.ies id-ENB-MBMS-M2AP-ID
TMGI                                                  N m2ap.ies id-TMGI
MBMS-Session-ID                                       N m2ap.ies id-MBMS-Session-ID
MBMS-Service-Area                                     N m2ap.ies id-MBMS-Service-Area
TNL-Information                                       N m2ap.ies id-TNL-Information
CriticalityDiagnostics                                N m2ap.ies id-CriticalityDiagnostics
Cause                                                 N m2ap.ies id-Cause
MBSFN-Area-Configuration-List                         N m2ap.ies id-MBSFN-Area-Configuration-List
PMCH-Configuration-List                               N m2ap.ies id-PMCH-Configuration-List
PMCH-Configuration-Item                               N m2ap.ies id-PMCH-Configuration-Item
GlobalENB-ID                                          N m2ap.ies id-GlobalENB-ID
ENBname                                               N m2ap.ies id-ENBname
ENB-MBMS-Configuration-data-List                      N m2ap.ies id-ENB-MBMS-Configuration-data-List
ENB-MBMS-Configuration-data-Item                      N m2ap.ies id-ENB-MBMS-Configuration-data-Item
GlobalMCE-ID                                          N m2ap.ies id-GlobalMCE-ID
MCEname                                               N m2ap.ies id-MCEname
MCCHrelatedBCCH-ConfigPerMBSFNArea                    N m2ap.ies id-MCCHrelatedBCCH-ConfigPerMBSFNArea
MCCHrelatedBCCH-ConfigPerMBSFNArea-Item               N m2ap.ies id-MCCHrelatedBCCH-ConfigPerMBSFNArea-Item
TimeToWait                                            N m2ap.ies id-TimeToWait
MBSFN-Subframe-ConfigurationList                      N m2ap.ies id-MBSFN-Subframe-Configuration-List
MBSFN-Subframe-Configuration                          N m2ap.ies id-MBSFN-Subframe-Configuration-Item
Common-Subframe-Allocation-Period                     N m2ap.ies id-Common-Subframe-Allocation-Period
MCCH-Update-Time                                      N m2ap.ies id-MCCH-Update-Time
ENB-MBMS-Configuration-data-List-ConfigUpdate         N m2ap.ies id-ENB-MBMS-Configuration-data-List-ConfigUpdate
ENB-MBMS-Configuration-data-ConfigUpdate-Item         N m2ap.ies id-ENB-MBMS-Configuration-data-ConfigUpdate-Item
MBMS-Service-associatedLogicalM2-ConnectionItem       N m2ap.ies id-MBMS-Service-associatedLogicalM2-ConnectionItem
MBSFN-Area-ID                                         N m2ap.ies id-MBSFN-Area-ID
ResetType                                             N m2ap.ies id-ResetType
MBMS-Service-associatedLogicalM2-ConnectionListResAck N m2ap.ies id-MBMS-Service-associatedLogicalM2-ConnectionListResAck
MBMS-Counting-Request-Session                         N m2ap.ies id-MBMS-Counting-Request-Session
MBMS-Counting-Request-SessionIE                       N m2ap.ies id-MBMS-Counting-Request-Session-Item
MBMS-Counting-Result-List                             N m2ap.ies id-MBMS-Counting-Result-List
MBMS-Counting-Result                                  N m2ap.ies id-MBMS-Counting-Result-Item
TNL-Information                                       N m2ap.ies id-Alternative-TNL-Information
Overload-Status-Per-PMCH-List                         N m2ap.ies id-Overload-Status-Per-PMCH-List
PMCH-Overload-Status                                  N m2ap.ies id-PMCH-Overload-Status
Active-MBMS-Session-List                              N m2ap.ies id-Active-MBMS-Session-List
MBMS-Suspension-Notification-List                     N m2ap.ies id-MBMS-Suspension-Notification-List
MBMS-Suspension-Notification-Item                     N m2ap.ies id-MBMS-Suspension-Notification-Item
SC-PTM-Information                                    N m2ap.ies id-SC-PTM-Information
MCCHrelatedBCCH-ExtConfigPerMBSFNArea-Item            N m2ap.ies id-MCCHrelatedBCCH-ExtConfigPerMBSFNArea-Item
MCCHrelatedBCCH-ExtConfigPerMBSFNArea                 N m2ap.ies id-MCCHrelatedBCCH-ExtConfigPerMBSFNArea

#M2AP-PROTOCOL-EXTENSION
Modulation-Coding-Scheme2                             N m2ap.extension id-Modulation-Coding-Scheme2
MCH-Scheduling-PeriodExtended                         N m2ap.extension id-MCH-Scheduling-PeriodExtended
Repetition-PeriodExtended                             N m2ap.extension id-Repetition-PeriodExtended
Modification-PeriodExtended                           N m2ap.extension id-Modification-PeriodExtended
MCH-Scheduling-PeriodExtended2                        N m2ap.extension id-MCH-Scheduling-PeriodExtended2
SubframeAllocationExtended                            N m2ap.extension id-SubframeAllocationExtended
Subcarrier-SpacingMBMS                                N m2ap.extension id-Subcarrier-SpacingMBMS
SubframeAllocationFurtherExtension                    N m2ap.extension id-SubframeAllocationFurtherExtension
AdditionalConfigParameters                            N m2ap.extension id-AdditionalConfigParameters

#M2AP-ELEMENTARY-PROCEDURE
SessionStartRequest               N m2ap.proc.imsg id-sessionStart
SessionStartResponse              N m2ap.proc.sout id-sessionStart
SessionStartFailure               N m2ap.proc.uout id-sessionStart
SessionStopRequest                N m2ap.proc.imsg id-sessionStop
SessionStopResponse               N m2ap.proc.sout id-sessionStop
SessionUpdateRequest              N m2ap.proc.imsg id-sessionUpdate
SessionUpdateResponse             N m2ap.proc.sout id-sessionUpdate
SessionUpdateFailure              N m2ap.proc.uout id-sessionUpdate
MbmsSchedulingInformation         N m2ap.proc.imsg id-mbmsSchedulingInformation
MbmsSchedulingInformationResponse N m2ap.proc.sout id-mbmsSchedulingInformation
M2SetupRequest                    N m2ap.proc.imsg id-m2Setup
M2SetupResponse                   N m2ap.proc.sout id-m2Setup
M2SetupFailure                    N m2ap.proc.uout id-m2Setup
ENBConfigurationUpdate            N m2ap.proc.imsg id-eNBConfigurationUpdate
ENBConfigurationUpdateAcknowledge N m2ap.proc.sout id-eNBConfigurationUpdate
ENBConfigurationUpdateFailure     N m2ap.proc.uout id-eNBConfigurationUpdate
MCEConfigurationUpdate            N m2ap.proc.imsg id-mCEConfigurationUpdate
MCEConfigurationUpdateAcknowledge N m2ap.proc.sout id-mCEConfigurationUpdate
MCEConfigurationUpdateFailure     N m2ap.proc.uout id-mCEConfigurationUpdate
ErrorIndication                   N m2ap.proc.imsg id-errorIndication
Reset                             N m2ap.proc.imsg id-reset
ResetAcknowledge                  N m2ap.proc.sout id-reset
PrivateMessage                    N m2ap.proc.imsg id-privateMessage
MbmsServiceCountingRequest        N m2ap.proc.imsg id-mbmsServiceCounting
MbmsServiceCountingResponse       N m2ap.proc.sout id-mbmsServiceCounting
MbmsServiceCountingFailure        N m2ap.proc.uout id-mbmsServiceCounting
MbmsServiceCountingResultsReport  N m2ap.proc.imsg id-mbmsServiceCountingResultsReport
MbmsOverloadNotification          N m2ap.proc.imsg id-mbmsOverloadNotification

#.END
