# x509if.cnf
# X509IF conformation file

# $Id: x509if.cnf,v 1.2 2004/06/03 08:35:44 guy Exp $

#.MODULE_IMPORT

#.EXPORTS

AttributeType
Name
RelativeDistinguishedName

#.NO_EMIT

AttributeTypeAndDistinguishedValue

#.TYPE_RENAME

#.FIELD_RENAME

#.END


