#.IMPORT_TAG
AttributeValue           BER_CLASS_ANY 0
Attribute                BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
AttributeType            BER_CLASS_UNI BER_UNI_TAG_OID
Context                  BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
AttributeValueAssertion  BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
ContextAssertion         BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
AttributeTypeAssertion   BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
Name                     BER_CLASS_ANY/*choice*/ -1/*choice*/
RDNSequence              BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
DistinguishedName        BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
RelativeDistinguishedName BER_CLASS_UNI BER_UNI_TAG_SET
AttributeTypeAndDistinguishedValue BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
SubtreeSpecification     BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
LocalName                BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
ChopSpecification        BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
BaseDistance             BER_CLASS_UNI BER_UNI_TAG_INTEGER
Refinement               BER_CLASS_ANY/*choice*/ -1/*choice*/
AttributeUsage           BER_CLASS_UNI BER_UNI_TAG_ENUMERATED
DITStructureRule         BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
RuleIdentifier           BER_CLASS_UNI BER_UNI_TAG_INTEGER
DITContentRule           BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
DITContextUse            BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
SearchRuleDescription    BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
SearchRule               BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
SearchRuleId             BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
AllowedSubset            BER_CLASS_UNI BER_UNI_TAG_BITSTRING
ImposedSubset            BER_CLASS_UNI BER_UNI_TAG_ENUMERATED
RequestAttribute         BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
ContextProfile           BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
ContextCombination       BER_CLASS_ANY/*choice*/ -1/*choice*/
MatchingUse              BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
AttributeCombination     BER_CLASS_ANY/*choice*/ -1/*choice*/
ResultAttribute          BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
OutputValues             BER_CLASS_ANY/*choice*/ -1/*choice*/
ControlOptions           BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
EntryLimit               BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
RelaxationPolicy         BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
MRMapping                BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
Mapping                  BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
MRSubstitution           BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
#.END

#.TYPE_ATTR
AttributeValue           TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
Attribute                TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
AttributeType            TYPE = FT_STRING  DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
Context                  TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
AttributeValueAssertion  TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
ContextAssertion         TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
AttributeTypeAssertion   TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
Name                     TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(x509if_Name_vals)  BITMASK = 0
RDNSequence              TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
DistinguishedName        TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
RelativeDistinguishedName TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
AttributeTypeAndDistinguishedValue TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
SubtreeSpecification     TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
LocalName                TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
ChopSpecification        TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
BaseDistance             TYPE = FT_INT32   DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
Refinement               TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(x509if_Refinement_vals)  BITMASK = 0
AttributeUsage           TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(x509if_AttributeUsage_vals)  BITMASK = 0
DITStructureRule         TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
RuleIdentifier           TYPE = FT_INT32   DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
DITContentRule           TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
DITContextUse            TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
SearchRuleDescription    TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
SearchRule               TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
SearchRuleId             TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
AllowedSubset            TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
ImposedSubset            TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(x509if_ImposedSubset_vals)  BITMASK = 0
RequestAttribute         TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
ContextProfile           TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
ContextCombination       TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(x509if_ContextCombination_vals)  BITMASK = 0
MatchingUse              TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
AttributeCombination     TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(x509if_AttributeCombination_vals)  BITMASK = 0
ResultAttribute          TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
OutputValues             TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(x509if_OutputValues_vals)  BITMASK = 0
ControlOptions           TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
EntryLimit               TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
RelaxationPolicy         TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
MRMapping                TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
Mapping                  TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
MRSubstitution           TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
#.END

