# x509if.cnf
# X509IF conformation file

# $Id$

#.MODULE_IMPORT
SelectedAttributeTypes x509sat

#.INCLUDE ../x509sat/x509sat-exp.cnf

#.EXPORTS
AllowedSubset
Attribute
AttributeCombination
AttributeType
AttributeTypeAndDistinguishedValue
AttributeTypeAssertion
AttributeUsage
AttributeValueAssertion
BaseDistance
ChopSpecification
Context
ContextAssertion
ContextCombination
ContextProfile
ControlOptions
DistinguishedName
DITContentRule
DITContextUse
DITStructureRule
EntryLimit
ImposedSubset
LocalName
Mapping
MatchingUse
MRMapping
MRSubstitution
Name
OutputValues
Refinement
RelativeDistinguishedName
RelaxationPolicy
RDNSequence
RequestAttribute
ResultAttribute
RuleIdentifier
SearchRule
SearchRuleDescription
SearchRuleId
SubtreeSpecification

#.NO_EMIT

#.TYPE_RENAME
AttributeTypeAndDistinguishedValue/valuesWithContext	T_valWithContext
AttributeTypeAndDistinguishedValue/valuesWithContext/_item	T_valWithContext_item
ChopSpecification/specificExclusions			T_chopSpecificExclusions
ChopSpecification/specificExclusions/_item		T_chopSpecificExclusions_item

#.FIELD_RENAME
AttributeTypeAssertion/assertedContexts		ata_assertedContexts
AttributeTypeAndDistinguishedValue/value		atadv_value
AttributeTypeAndDistinguishedValue/valuesWithContext	valueswithContext
AttributeTypeAndDistinguishedValue/valuesWithContext/_item	valueswithContext_item
ChopSpecification/specificExclusions			chopSpecificExclusions
ChopSpecification/specificExclusions/_item		chopSpecificExclusions_item
Refinement/and			refinement_and
Refinement/and/_item		refinement_and_item
Refinement/not			refinement_not
Refinement/or			refinement_or
Refinement/or/_item		refinement_or_item
ContextAssertion/contextType		ca_contextType
ContextAssertion/contextValues		ca_contextValues
ContextAssertion/contextValues/_item	ca_contextValues_item
ContextCombination/not		contextcombination_not
ContextCombination/and		contextcombination_and
ContextCombination/and/_item	contextcombination_and_item
ContextCombination/or		contextcombination_or
ContextCombination/or/_item	contextcombination_or_item
RelaxationPolicy/maximum	maximum_relaxation
RelaxationPolicy/minimum	minimum_relaxation
RequestAttribute/defaultValues/_item/values		ra_values
RequestAttribute/defaultValues/_item/values/_item	ra_values_item
RequestAttribute/selectedValues				ra_selectedValues
RequestAttribute/selectedValues/_item			ra_selectedValues_item

#.FN_PARS ContextId
  FN_VARIANT = _str  HF_INDEX = hf_x509if_object_identifier_id  VAL_PTR = &object_identifier_id

#.FN_BODY ContextValue
  offset=call_ber_oid_callback(object_identifier_id, tvb, offset, pinfo, tree);

#.FN_PARS AttributeId
  FN_VARIANT = _str  HF_INDEX = hf_x509if_object_identifier_id  VAL_PTR = &object_identifier_id

#.FN_BODY AttributeValue
  offset=call_ber_oid_callback(object_identifier_id, tvb, offset, pinfo, tree);

#.FN_BODY SelectedValues
  offset=call_ber_oid_callback(object_identifier_id, tvb, offset, pinfo, tree);

#.FN_PARS DefaultValueType
  FN_VARIANT = _str  HF_INDEX = hf_x509if_object_identifier_id  VAL_PTR = &object_identifier_id

#.FN_BODY DefaultValueValues
  offset=call_ber_oid_callback(object_identifier_id, tvb, offset, pinfo, tree);

#.FN_BODY ValuesWithContextValue
  offset=call_ber_oid_callback("unknown", tvb, offset, pinfo, tree);

#.END


