# pkix1implicit.cnf
# pkix1implicit conformation file

# $Id$

#.MODULE_IMPORT
PKIX1Explicit93 pkix1explicit

#.INCLUDE ../pkix1explicit/pkix1explicit_exp.cnf
#.INCLUDE ../x509ce/x509ce-exp.cnf

#.EXPORTS

AuthorityInfoAccessSyntax
UserNotice

#.PDU

#.REGISTER
AuthorityInfoAccessSyntax B "1.3.6.1.5.5.7.1.1" "id-pe-authorityInfoAccessSyntax"
Dummy         B "1.3.6.1.5.5.7.3.1"  "id-kp-serverAuth"
Dummy         B "1.3.6.1.5.5.7.3.2"  "id-kp-clientAuth"
Dummy         B "1.3.6.1.5.5.7.3.3"  "id-kp-codeSigning"
Dummy         B "1.3.6.1.5.5.7.3.4"  "id-kp-emailProtection"
Dummy         B "1.3.6.1.5.5.7.3.5"  "id-kp-ip-kp-ipsecEndSystem"
Dummy         B "1.3.6.1.5.5.7.3.6"  "id-kp-ipsecTunnel"
Dummy         B "1.3.6.1.5.5.7.3.7"  "id-kp-ipsecUser"
Dummy         B "1.3.6.1.5.5.7.3.8"  "id-kp-timeStamping"
Dummy         B "1.3.6.1.5.5.7.3.9"  "OCSPSigning"

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#.END

