# pkix1implicit.cnf
# pkix1implicit conformation file

# $Id: pkix1implicit.cnf,v 1.2 2004/06/03 08:35:44 guy Exp $

#.MODULE_IMPORT

#.EXPORTS

#.PDU

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#.END

