# Conformance file for iwbemloginclientidex

MANUAL IWbemLoginClientIDEx_dissect_element_SetClientInfoEx_orpcthis
MANUAL IWbemLoginClientIDEx_dissect_element_SetClientInfoEx_orpcthat_

ETT_FIELD ett_IWbemLoginClientIDEx_SetClientInfoEx_orpcthis
ETT_FIELD ett_IWbemLoginClientIDEx_SetClientInfoEx_orpcthat

CODE START

	#include "packet-dcom.h"

/* SetClientInfoEx */
static int
IWbemLoginClientIDEx_dissect_element_SetClientInfoEx_orpcthis(tvbuff_t *tvb _U_, int offset _U_, packet_info *pinfo _U_, proto_tree *tree _U_, dcerpc_info* di _U_, uint8_t *drep _U_)
{
	proto_item *sub_item;
	proto_tree *sub_tree;

	sub_item = proto_tree_add_item(tree, hf_IWbemLoginClientIDEx_SetClientInfoEx_orpcthis, tvb, offset, 0, ENC_NA);
	sub_tree = proto_item_add_subtree(sub_item, ett_IWbemLoginClientIDEx_SetClientInfoEx_orpcthis);

	offset = dissect_dcom_this(tvb, offset, pinfo, sub_tree, di, drep);

	return offset;
}

static int
IWbemLoginClientIDEx_dissect_element_SetClientInfoEx_orpcthat_(tvbuff_t *tvb _U_, int offset _U_, packet_info *pinfo _U_, proto_tree *tree _U_, dcerpc_info* di _U_, uint8_t *drep _U_)
{
	proto_item *sub_item;
	proto_tree *sub_tree;

	sub_item = proto_tree_add_item(tree, hf_IWbemLoginClientIDEx_SetClientInfoEx_orpcthat, tvb, offset, 0, ENC_NA);
	sub_tree = proto_item_add_subtree(sub_item, ett_IWbemLoginClientIDEx_SetClientInfoEx_orpcthat);

	offset = dissect_dcom_that(tvb, offset, pinfo, sub_tree, di, drep);

	return offset;
}

CODE END