# h282.cnf
# H.282 conformation file
# 2007  Tomas Kukosa

#.OPT
PER
ALIGNED
#.END

#.OMIT_ASSIGNMENT
IrisContinuous
#.END

#.PDU_NEW
RDCPDU
NonCollapsingCapabilities
#.END

#.FN_PARS RequestPDU
  VAL_PTR = &msg_type
#.FN_HDR
  gint32 msg_type = -1;
  const gchar *p = NULL;
#.FN_FTR
  p = try_val_to_str(msg_type, VALS(h282_RequestPDU_vals));
  if (p)
    col_add_fstr(actx->pinfo->cinfo, COL_INFO, "RequestPDU/%s", p);
#.END

#.FN_PARS ResponsePDU
  VAL_PTR = &msg_type
#.FN_HDR
  gint32 msg_type = -1;
  const gchar *p = NULL;
#.FN_FTR
  p = try_val_to_str(msg_type, VALS(h282_ResponsePDU_vals));
  if (p)
    col_add_fstr(actx->pinfo->cinfo, COL_INFO, "ResponsePDU/%s", p);
#.END

#.FN_PARS IndicationPDU
  VAL_PTR = &msg_type
#.FN_HDR
  gint32 msg_type = -1;
  const gchar *p = NULL;
#.FN_FTR
  p = try_val_to_str(msg_type, VALS(h282_IndicationPDU_vals));
  if (p)
    col_add_fstr(actx->pinfo->cinfo, COL_INFO, "IndicationPDU/%s", p);
#.END
