#
# Editor configuration
#
# https://editorconfig.org
#

# Global settings

# We're the top. We're the Coliseum.
root = true

[*]
tab_width = 8
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# CMake
# The CMake project itself uses two spaces:
# https://gitlab.kitware.com/cmake/cmake/-/blob/master/.editorconfig
[{CMake*,*.cmake,*.cmake.in}]
indent_style = tab
[CMake*.json]
indent_style = space
indent_size = 2

# Makefiles. Although we dropped Autotools we still have a few lying around.
[Makefile*]
indent_style = tab
indent_size = 8

# Python
[*.{py,py.in}]
indent_style = space
indent_size = 4

# Lemon
[*.lemon]
indent_style = space
indent_size = 4

# WiX. The `xmllint --format` default is two spaces.
[*.wx?]
indent_style = space
indent_size = 2

# NSIS
[*.ns[ih]]
indent_style = space
indent_size = 2

# YAML
[*.yml]
indent_style = space
indent_size = 2

# Asciidoc
[*.adoc]
indent_style = space
indent_size = 4

# GraphViz. The examples at https://gitlab.com/graphviz/graphviz/-/blob/master/graphs
# seem to be all over the place, so just go with 4 spaces for now.
[*.gv]
indent_style = space
indent_size = 4

# manuf
[manuf.tmpl]
indent_style = tab
indent_size = 8

# C/C++/Objective C
[*.{c,cpp,h,m}]
indent_style = space
indent_size = 4

# Flex (lexical analyzer generator)
[*.l]
indent_style = tab
indent_size = 8
