*                           text=auto
*.sh                        eol=lf
/test/run_and_catch_crashes eol=lf
.bzrignore                  export-ignore
.gitattributes              export-ignore
.gitignore                  export-ignore
.gitreview                  export-ignore
tools/make-version.py       export-subst
packaging/source/git-export-release.sh.in export-subst
