# Compiled or generated source #
################################
*.dll
*.exe
*.[oa]
*.lo
*.so
*.la
*.pyc
tools/lemon/lemon
*_lex.h
plugin.c
*grammar.[ch]
*grammar.out
*scanner.c
*_dict.c
epan/dissectors/packet-ncp2222.c
epan/dissectors/packet-spnego.h
epan/dissectors/register-cache.pkl
epan/dissectors/register.c
epan/dtd_parse.c
epan/dtd_preparse.c
epan/sminmpec.c
epan/uat_load.c
epan/wslua/declare_wslua.h
epan/wslua/init.lua
epan/wslua/register_wslua.c
epan/wslua/taps.txt
epan/wslua/taps_wslua.c
gtk/wireshark-tap-register.c
plugins/mate/mate_parser.c
ps.c
svnversion.h
tools/lemon/lemon
tools/setuid-root.pl
tshark-tap-register.c
wiretap/ascend.c
wiretap/ascend.h
wiretap/k12text.c



# Generated makefile system #
#############################
Makefile.in
Makefile
*.sym
aclocal.m4
configure
config.h
config.h.in
config.log
config.status
autom4te.cache
install-sh
libtool
ltmain.sh
missing
capinfos
compile
depcomp
dftest
dumpcap
editcap
mergecap
randpkt
rawshark
text2pcap
tshark
wireshark
stamp-h1
ylwrap


# Generated dir #
##################
.deps
.libs

# Doc #
########
doxygen.cfg
AUTHORS-SHORT
help/faq.txt

# Misc #
########
*.swp
packaging/macosx/COPYING.txt
packaging/macosx/Info.plist
packaging/rpm/SPECS/wireshark.spec
packaging/svr4/checkinstall
packaging/svr4/pkginfo
