Adrian Simionov <daniel.simionov@gmail.com> <daniel.simionov@gmail.com>
Alan Partis <alpartis@thundernet.com> alpartis <alpartis@thundernet.com>
Alexander Gärtner <sphinxs1988@googlemail.com> alage <sphinxs1988@googlemail.com>
Alexander Wetzel <alexander.wetzel@web.de> deagol
Anders Broman <anders.broman@ericsson.com> <a.broman58@gmail.com>
Anders Broman <anders.broman@ericsson.com> <a.broman@bredband.net>
Anders Broman <anders.broman@ericsson.com> Anders <anders.broman@ericsson.com>
Anders Broman <anders.broman@ericsson.com> AndersBroman <anders.broman@ericsson.com>
Andy Ling <andy.ling@s-a-m.com> AndyL <andy.ling@s-a-m.com>
Anil Kumar K K <anilkumar911@gmail.com> anilkumar911 <anilkumar911@gmail.com>
Balint Reczey <balint@balintreczey.hu> <balint.reczey@ericsson.com>
Cal Turney <cturney@charter.net> Cal Turney <cal.turney@emc.com>
Cal Turney <cturney@charter.net> cturney <cturney@charter.net>
Chris Bontje <cbontje@gmail.com> cbontje <cbontje@gmail.com>
Chris Dunlop <chris.dunlop3@gmail.com> cjdunlop
Chris Maynard <Christopher.Maynard@GTECH.COM> <Christopher.Maynard@igt.com>
Christian M. Amsüss <chrysn@fsfe.org> chrysn <chrysn@fsfe.org>
Christoph Jähnigen <nuabaranda@web.de> desolat <nuabaranda@web.de>
Claudius Zingerli <czingerl@gmail.com> zeuz <czingerl@gmail.com>
Daniël van Eeden <wireshark@myname.nl> Daniel van Eeden
Daniël van Eeden <wireshark@myname.nl> <git@myname.nl>
Dave Tapuska <dtapuska@google.com> dave@tapuska.com>
David Ameiss <dameiss@29west.com> <netshark@ameissnet.com>
David Zoller <zollerd@gmail.com> dz-msfc <zollerd@gmail.com>
Denis Janssen <janssend@gmail.com> janssend <janssend@gmail.com>
Didier Gautheron <dgautheron@magic.fr> didier <dgautheron@magic.fr>
Dmitry Bazhenov <dima_b@pigeonpoint.com> U-beauty\bdn <dima_b@pigeonpoint.com>
Edwin Groothuis <edwin@mavetju.org> <wireshark@mavetju.org>
Eugene Exarevsky <eugene.exarevsky@dsr-company.com> dsrsupport <eugene.exarevsky@dsr-company.com>
Evan Huus <eapache@gmail.com> <evan.huus@jadedpixel.com>
Francesco Fondelli <francesco.fondelli@gmail.com> ff <francesco.fondelli@gmail.com>
Gerald Combs <gerald@wireshark.org> <gerald@zing.org>
Gilbert Ramirez <gram@alumni.rice.edu> <gilramir@cisco.com>
Gloria Pozuelo <gloria.pozuelo@bics.com> glores <gloria.pozuelo@bics.com>
Graeme Lunt <graeme.lunt@smhs.co.uk> gal <graeme.lunt@smhs.co.uk>
Greg Morris <GMORRIS@novell.com> gmor1207@gmail.com <gmor1207@gmail.com>
Guy Davies <aguydavies@gmail.com> guydavies <aguydavies@gmail.com>
Hadriel Kaplan <hadrielk@yahoo.com> <hadriel@128technology.com>
Hannes R. Boehm <hannes@boehm.org> hannes <hannes@localhost>
Hitesh K Maisheri <maisheri.hitesh@gmail.com> <hmaisher@cisco.com>
Hitesh K Maisheri <maisheri.hitesh@gmail.com> maisheri <maisheri.hitesh@gmail.com>
Irene Rüngeler <ruengeler@wireshark.org> Irene Ruengeler <ruengeler@wireshark.org>
Irene Rüngeler <ruengeler@wireshark.org> <I.Ruengeler@fh-muenster.de>
Irene Rüngeler <ruengeler@wireshark.org> <ruengeler@localhost>
Irene Rüngeler <ruengeler@wireshark.org> <ruengeler@MacBookIrene.local>
Irene Rüngeler <ruengeler@wireshark.org> ruengeler <ruengeler@wireshark.org>
Jakub Zawadzki <darkjames-ws@darkjames.pl> <darkjames@darkjames.pl>
Jeff Morriss <jeff.morriss.ws@gmail.com> <jeff.morriss@netscout.com>
Jeff Morriss <jeff.morriss.ws@gmail.com> <jeff.morriss@ulticom.com>
Jeff Morriss <jeff.morriss.ws@gmail.com> <morriss@ulticom.com>
Jiří Engelthaler <engycz@gmail.com> Jiri Engelthaler <engycz@gmail.com>
João Valverde <joao.valverde@tecnico.ulisboa.pt> João Valverde <j@v6e.pt>
John Miner <optommp@gmail.com> John <optommp@gmail.com>
Jorge Power <jpower@rsscorp.org> jorge power
Jörg Mayer <jmayer@loplof.de> Joerg Mayer <jmayer@loplof.de>
Jörg Mayer <jmayer@loplof.de> Jörg Mayer <jmayer@egg.fg-networking.de>
Joseph Huffman <jhuffman@codeaurora.org> <jhuffman@qce.qualcomm.com>
Jose Rubio <joserubiovidales@gmail.com> clairvoyant <joserubiovidales@gmail.com>
Juan Jose Martin Carrascosa <juanjo@rti.com> Juanjo <juanjo@rti.com>
Juan Pablo Mendoza <jpablo@gmail.com> jpmendoza <jpablo@gmail.com>
Kary Rogers <kary.rogers@gmail.com> karyrogers <kary.rogers@gmail.com>
Krishna Chaitanya <chaitanya.mgit@gmail.com> tkc <chaitanya.mgit@gmail.com>
Lukas Emersberger <lukas.emersberger@gmail.com> <lukas.emersberger@br-automation.co.at>
Lukas Emersberger <lukas.emersberger@gmail.com> <lukas.emersberger@br-automation.com>
Marcel Essig <marcel.essig@gmx.de> <essig.marcel@gmail.com>
Marian Ďurkovič <md@bts.sk> Marian Durkovic
Martin Kaiser <wireshark@kaiser.cx> <martin.kaiser@paytec.ch>
Martin Kaiser <wireshark@kaiser.cx> <martin@reykholt.kaiser.cx>
Martin Kaiser <wireshark@kaiser.cx> <martin@skogar.kaiser.cx>
Martin Tibenský <martin.tibensky@alcatel-lucent.com> matibens
Martin Tibenský <martin.tibensky@alcatel-lucent.com> matibens <martin.tibensky@alcatel-lucent.com>
Martin Tibenský <martin.tibensky@alcatel-lucent.com> <tibensky233@gmail.com>
Matthieu Coudron <matthieu.coudron@lip6.fr> <mattator@gmail.com>
Michael Oed <michael.oed@gmail.com> Mike78 <michael.oed@gmail.com>
Michael Tüxen <tuexen@wireshark.org> <tuexen@fh-muenster.de>
Michael Tüxen <tuexen@wireshark.org> <tuexen@mba.local>
Michał Orynicz <michal.orynicz@tieto.com> michal.orynicz
Michal Prívozník <mprivozn@redhat.com> <miso.privoznik@gmail.com>
Michal Prívozník <mprivozn@redhat.com> <mprivozn@redhat.com>
Mikhail Koreshkov <drkor@hotbox.ru> unknown <drkor@hotbox.ru>
Moraney Jalil <moraney.jalil@outlook.com> moraney.jalil
Moshe Kaplan <me@moshekaplan.com> moshekaplan <me@moshekaplan.com>
Øyvind Rønningstad <ronningstad@gmail.com> oyv <ronningstad@gmail.com>
Pascal Quantin <pascal.quantin@gmail.com> <pascal@localhost>
Patrick Servello <patrick.servello@gmail.com> Patrick <patrick.servello@gmail.com>
Peter Ross <peter.ross@dsto.defence.gov.au> <peter.ross@rmit.edu.au>
Peter Wu <peter@lekensteyn.nl> <lekensteyn@gmail.com>
Petr Gotthard <petr.gotthard@honeywell.com> Petr Gotthard <petr.gotthard@centrum.cz>
Pratik Yeole <pyeole@ncsu.edu> Pyeole <pyeole@ncsu.edu>
Qiaoyin Yang <qiaoyin.yang@gmail.com> <qiaoyin.yang[AT]gmail.com>
Remi Vichery <remi.vichery@gmail.com>
Richard Kuemmel <kuemmel.ric@googlemail.com> richardk <kuemmel.ric@googlemail.com>
Richard Sharpe <realrichardsharpe@gmail.com> <sharpe@ns.aus.com>
Robert Cragie <robert.cragie@gmail.com> Robert Cragie <robert.cragie@arm.com>
Robert Grange <robionekenobi@bluewin.ch> robioneknobi
Ronnie Sahlberg <ronniesahlberg@gmail.com> <ronnie_sahlberg@ozemail.com.au>
Rudra Rugge  <rrugge@juniper.net> Rudra Rugge <rudrarugge@gmail.com>
Russel Howe <russel@appliedinvention.com> Russel <russel@appliedinvention.com>
Rustam Safargalin <rustam.safargalin@sifox.ru> Rustam S <rustam.safargalin@sifox.ru>
Selva Kumar <v.selvamuthukumar@gmail.com> Selva <v.selvamuthukumar@gmail.com>
Shekhar Chandra <ranushekhar@gmail.com> ranushekhar
Stephen Donnelly <stephen.donnelly@emulex.com> sfd
Stephen Fisher <stephenfisher@centurylink.net> <sfisher@panix.com>
Stephen Fisher <stephenfisher@centurylink.net> <sfisher@sdf.org>
Stephen Fisher <stephenfisher@centurylink.net> <stephenfisher-wireshark@outlook.com>
Stephen Fisher <stephenfisher@centurylink.net> <steve@stephen-fisher.com>
Sumit Kumar Jha <sjha3@ncsu.edu> sjha3 <sjha3@ncsu.edu>
Thies Moeller <thies.moeller[AT]baslerweb.com> <thies.moeller@baslerweb.com>
Vikram Hegde <vikram.h@samsung.com> Vikram Hegde <vikram.h@amsung.com>
Vincent Helfre <vincent.helfre@gmx.net> Vincent Helfre <vincenthelfre@googlemail.com>
Warren Moxam <warrenmptgrey@gmail.com> warrenm <warrenmptgrey@gmail.com>
Warren Moxam <warrenmptgrey@gmail.com> <warren@peter-ubuntu32.(none)>
Wido Kelling <kellingwido@aol.com> Widok <kellingwido@aol.com>
Yang Luo <hsluoyz@qq.com> hsluoyz <hsluoyz@qq.com>
Yang Luo <hsluoyz@qq.com> Yang Luo <hsluoyz@gmail.com>
Yaniv Kaul <mykaul@gmail.com> <yaniv.kaul@emc.com>
