[Desktop Entry]
# $Id: Ethereal.desktop,v 1.3 2004/02/20 13:50:06 jmayer Exp $
Name=Ethereal
Type=Application
TryExec=ethereal
BinaryPattern=ethereal
Categories=GNOME;Application;Network;
Comment=Network traffic analyzer
Comment[fi]=Verkkoliikenne analysaattori
Exec=ethereal
Icon=ethereal.png
Path=
Terminal=0
TerminalOptions=
MimeType=
MapNotify=true
Protocols=
