[Desktop Entry]
# $Id: Ethereal.desktop,v 1.1 2001/12/15 23:56:04 guy Exp $
Name=Ethereal
Type=Application
TryExec=ethereal
BinaryPattern=ethereal;ethereal-static
Comment=Network traffic analyzer
Comment[fi]=Verkkoliikenne analysaattori
Exec=ethereal
Icon=hi32-app-ethereal.png
Path=
Terminal=0
TerminalOptions=
MimeType=
MapNotify=true
Protocols=
