[Desktop Entry]
# $Id$
Name=Ethereal
Type=Application
TryExec=ethereal
BinaryPattern=ethereal
Categories=GNOME;Application;Network;
Comment=Network traffic analyzer
Comment[fi]=Verkkoliikenne analysaattori
Exec=ethereal
Icon=ethereal.png
Path=
Terminal=0
TerminalOptions=
MimeType=
MapNotify=true
Protocols=
