# T.125/MCS-PROTOCOL.cnf
# Copyright 2007 Ronnie Sahlberg
# $Id$
#----------------------------------------------------------------------------------------
#.EXPORTS
#----------------------------------------------------------------------------------------
#.END

#.PDU
#----------------------------------------------------------------------------------------

#.PDU_NEW
#----------------------------------------------------------------------------------------
ConnectMCSPDU
#DomainMCSPDU
#.END

#.VIRTUAL_ASSGN
#----------------------------------------------------------------------------------------

#.FN_BODY ConnectMCSPDU  VAL_PTR = &connectmcs_value
  	gint connectmcs_value;

%(DEFAULT_BODY)s
	if( (connectmcs_value!=-1) && t125_ConnectMCSPDU_vals[connectmcs_value].strptr ){
		if (check_col(%(ACTX)s->pinfo->cinfo, COL_INFO)){
			col_add_fstr(%(ACTX)s->pinfo->cinfo, COL_INFO, "MCS: %%s ", t125_ConnectMCSPDU_vals[connectmcs_value].strptr);
		}
	}
#.END

#.FN_BODY DomainMCSPDU  VAL_PTR = &domainmcs_value
  	gint domainmcs_value;

%(DEFAULT_BODY)s
	if( (domainmcs_value!=-1) && t125_DomainMCSPDU_vals[domainmcs_value].strptr ){
		if (check_col(%(ACTX)s->pinfo->cinfo, COL_INFO)){
			col_add_fstr(%(ACTX)s->pinfo->cinfo, COL_INFO, "MCS: %%s ", t125_DomainMCSPDU_vals[domainmcs_value].strptr);
		}
	}
#.END

#----------------------------------------------------------------------------------------
# vim:set ts=4 sts=2 sw=2:
