# T.125/MCS-PROTOCOL.cnf
# Copyright 2007 Ronnie Sahlberg
# $Id$
#----------------------------------------------------------------------------------------
#.EXPORTS
#----------------------------------------------------------------------------------------
#.END

#.OMIT_ASSIGNMENT
# dissecected in t124
DomainMCSPDU

#.PDU
#----------------------------------------------------------------------------------------

#.PDU_NEW
#----------------------------------------------------------------------------------------
ConnectMCSPDU
#.END

#.VIRTUAL_ASSGN
#----------------------------------------------------------------------------------------

# dissecected in t124
# FN_BODY DomainMCSPDU  VAL_PTR = &domainmcs_value
#  	gint domainmcs_value;
#
#%(DEFAULT_BODY)s
#	switch(domainmcs_value) {
#	case 25: /* sendDataRequest */
#	case 26: /* sendDataIndication */
#	case 27: /* uniformSendDataRequest */
#	case 28: /* uniformSendDataIndication */
#		/* Do nothing */
#		break;
#	default:
#		col_append_sep_fstr(%(ACTX)s->pinfo->cinfo, COL_INFO, " ", "MCS: %%s ", val_to_str(domainmcs_value, t125_DomainMCSPDU_vals, "Unknown"));
#		break;
#	}
# END

#.FN_BODY Connect-Initial/_untag/userData VAL_PTR  = &next_tvb
#.FN_BODY Connect-Initial/_untag/userData
    tvbuff_t	*next_tvb = NULL;
%(DEFAULT_BODY)s
    if(next_tvb) 
    	dissector_try_heuristic(t125_heur_subdissector_list, next_tvb,
	     actx->pinfo, top_tree);
#.END

#.FN_BODY Connect-Response/_untag/userData VAL_PTR  = &next_tvb
#.FN_BODY Connect-Response/_untag/userData
    tvbuff_t	*next_tvb = NULL;
%(DEFAULT_BODY)s
    if(next_tvb) 
    	dissector_try_heuristic(t125_heur_subdissector_list, next_tvb,
	     actx->pinfo, top_tree);
#.END


#----------------------------------------------------------------------------------------
# vim:set ts=4 sts=2 sw=2:
