# pcap.cnf
# pcap conformation file

#.OPT
PER
ALIGNED
-L
#.END

#.EXPORTS

#.PDU_NEW
PCAP-PDU

#.MAKE_ENUM
ProcedureCode
ProtocolIE-ID

#.USE_VALS_EXT
ProtocolIE-ID
CauseRadioNetwork
TDD-ChannelisationCode
SFN-SFN-Drift
CodePhaseSearchWindow
TUTRAN-GANSS-DriftRate
UTRAN-GPS-DriftRate
ExplicitInformation

#.NO_EMIT

#.OMIT_ASSIGNMENT
# Get rid of unused code warnings
ProtocolIE-ContainerList
Presence
#.END


#.TYPE_RENAME

InitiatingMessage/value InitiatingMessage_value
SuccessfulOutcome/value SuccessfulOutcome_value
UnsuccessfulOutcome/value UnsuccessfulOutcome_value
Outcome/value Outcome_value

#.FIELD_RENAME

InitiatingMessage/value initiatingMessagevalue
UnsuccessfulOutcome/value unsuccessfulOutcome_value
SuccessfulOutcome/value successfulOutcome_value
Outcome/value outcome_value


PrivateIE-Field/id private_id
ProtocolExtensionField/id ext_id

PrivateIE-Field/value private_value
ProtocolIE-Field/value ie_field_value


# Handle 64 bit constraint
#.FN_PARS UTRAN-GPSReferenceTimeResult/ue-GPSTimingOfCell FN_VARIANT = _64b
#.FN_PARS UTRAN-GANSSReferenceTimeUL/ue-GANSSTimingOfCellFrames FN_VARIANT = _64b
#.FN_PARS UTRAN-GPSReferenceTime/utran-GPSTimingOfCell FN_VARIANT = _64b
#.FN_PARS UTRAN-GANSSReferenceTimeResult/ue-GANSSTimingOfCell FN_VARIANT = _64b

#.FN_PARS ProtocolIE-ID  VAL_PTR=&ProtocolIE_ID
#.FN_FTR ProtocolIE-ID
  if (tree) {
    proto_item_append_text(proto_item_get_parent_nth(actx->created_item, 2), ": %s", val_to_str_ext(ProtocolIE_ID, &pcap_ProtocolIE_ID_vals_ext, "unknown (%d)"));
  }
#.END



#.FN_PARS ProtocolIE-Field/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_ProtocolIEFieldValue

#.FN_PARS ProtocolExtensionField/extensionValue  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_ProtocolExtensionFieldExtensionValue

#.FN_PARS  ProcedureCode  VAL_PTR = &ProcedureCode
#.FN_FTR ProcedureCode
    col_add_fstr(actx->pinfo->cinfo, COL_INFO, "%s ",
                val_to_str(ProcedureCode, pcap_ProcedureCode_vals,
                            "unknown message"));
#.END

#.FN_PARS InitiatingMessage/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_InitiatingMessageValue

#.FN_PARS SuccessfulOutcome/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_SuccessfulOutcomeValue

#.FN_PARS UnsuccessfulOutcome/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_UnsuccessfulOutcomeValue

#.FN_PARS Outcome/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_OutcomeValue

#--- Parameterization is not supported in asn2wrs ---
# Not used yet in PCAP ASN.1
#ProtocolIE-ContainerList {INTEGER : lowerBound, INTEGER : upperBound, PCAP-PROTOCOL-IES : IEsSetParam} ::=
#	SEQUENCE (SIZE (lowerBound..upperBound)) OF
#	ProtocolIE-Container {{IEsSetParam}}

# FN_PARS ProtocolIE-ContainerList
#MIN_VAL = asn1_param_get_integer(%(ACTX)s,"lowerBound")
#MAX_VAL = asn1_param_get_integer(%(ACTX)s,"upperBound")
# FN_HDR ProtocolIE-ContainerList
#  static const asn1_par_def_t ProtocolIE_ContainerList_pars[] = {
#   { "lowerBound", ASN1_PAR_INTEGER },
#    { "upperBound", ASN1_PAR_INTEGER },
#    { NULL, 0 }
#  };
#  asn1_stack_frame_check(actx, "ProtocolIE-ContainerList", ProtocolIE_ContainerList_pars);
# END

#ProtocolIE-ContainerPairList {INTEGER : lowerBound, INTEGER : upperBound, PCAP-PROTOCOL-IES-PAIR : IEsSetParam} ::=
#	SEQUENCE (SIZE (lowerBound..upperBound)) OF
#	ProtocolIE-ContainerPair {{IEsSetParam}}



#RAB-IE-ContainerList            { PCAP-PROTOCOL-IES      : IEsSetParam }	::= ProtocolIE-ContainerList     { 1, maxNrOfRABs,   {IEsSetParam} }

#ProtocolError-IE-ContainerList  { PCAP-PROTOCOL-IES      : IEsSetParam }	::= ProtocolIE-ContainerList     { 1, maxNrOfRABs,   {IEsSetParam} }
# FN_BODY ProtocolError-IE-ContainerList
#  asn1_stack_frame_push(%(ACTX)s, "ProtocolIE-ContainerList");
#  asn1_param_push_integer(%(ACTX)s, 1);
#  asn1_param_push_integer(%(ACTX)s, maxNrOfRABs);
#%(DEFAULT_BODY)s
#  asn1_stack_frame_pop(%(ACTX)s, "ProtocolIE-ContainerList");
# END



#.TYPE_ATTR
ProtocolExtensionID TYPE = FT_UINT8  DISPLAY = BASE_DEC|BASE_EXT_STRING STRINGS = &pcap_ProtocolIE_ID_vals_ext

#.ASSIGN_VALUE_TO_TYPE  # PCAP does not have constants assigned to types, they are pure INTEGER
# ProcedureCode

id-PositionCalculation				ProcedureCode
id-InformationExchangeInitiation	ProcedureCode
id-InformationReporting				ProcedureCode
id-InformationExchangeTermination	ProcedureCode
id-InformationExchangeFailure		ProcedureCode
id-ErrorIndication					ProcedureCode
id-privateMessage					ProcedureCode
id-PositionParameterModification	ProcedureCode
id-PositionInitiation				ProcedureCode
id-PositionActivation				ProcedureCode
id-Abort							ProcedureCode
id-PositionPeriodicReport			ProcedureCode
id-PositionPeriodicResult			ProcedureCode
id-PositionPeriodicTermination		ProcedureCode


# ProtocolIE-ID
id-Cause										ProtocolIE-ID
id-CriticalityDiagnostics						ProtocolIE-ID
id-GPS-UTRAN-TRU								ProtocolIE-ID
id-InformationExchangeID						ProtocolIE-ID
id-InformationExchangeObjectType-InfEx-Rprt		ProtocolIE-ID
id-InformationExchangeObjectType-InfEx-Rqst		ProtocolIE-ID
id-InformationExchangeObjectType-InfEx-Rsp		ProtocolIE-ID
id-InformationReportCharacteristics				ProtocolIE-ID
id-InformationType								ProtocolIE-ID
id-GPS-MeasuredResultsList						ProtocolIE-ID
id-MethodType									ProtocolIE-ID
id-RefPosition-InfEx-Rqst						ProtocolIE-ID
id-RefPosition-InfEx-Rsp						ProtocolIE-ID
id-RefPosition-Inf-Rprt							ProtocolIE-ID
id-RequestedDataValue							ProtocolIE-ID
id-RequestedDataValueInformation				ProtocolIE-ID
id-TransactionID								ProtocolIE-ID
id-UE-PositionEstimate							ProtocolIE-ID
id-CellId-MeasuredResultsSets					ProtocolIE-ID
id-OTDOA-MeasurementGroup						ProtocolIE-ID
id-AccuracyFulfilmentIndicator					ProtocolIE-ID
id-HorizontalAccuracyCode						ProtocolIE-ID
id-VerticalAccuracyCode							ProtocolIE-ID
id-UTDOA-Group									ProtocolIE-ID
id-RequestType									ProtocolIE-ID
id-UE-PositioningCapability						ProtocolIE-ID
id-UC-id										ProtocolIE-ID
id-ResponseTime									ProtocolIE-ID
id-PositioningPriority							ProtocolIE-ID
id-ClientType									ProtocolIE-ID
id-PositioningMethod							ProtocolIE-ID
id-UTDOAPositioning								ProtocolIE-ID
id-GPSPositioning								ProtocolIE-ID
id-OTDOAAssistanceData							ProtocolIE-ID
id-Positioning-ResponseTime						ProtocolIE-ID
id-EnvironmentCharacterisation					ProtocolIE-ID
id-PositionData									ProtocolIE-ID
id-IncludeVelocity								ProtocolIE-ID
id-VelocityEstimate								ProtocolIE-ID
id-rxTimingDeviation768Info						ProtocolIE-ID
id-UC-ID-InfEx-Rqst								ProtocolIE-ID
id-UE-PositionEstimateInfo						ProtocolIE-ID
id-UTRAN-GPSReferenceTime						ProtocolIE-ID
id-UTRAN-GPSReferenceTimeResult					ProtocolIE-ID
id-UTRAN-GPS-DriftRate							ProtocolIE-ID
id-OTDOA-AddMeasuredResultsInfo					ProtocolIE-ID
id-GPS-ReferenceLocation						ProtocolIE-ID
id-OTDOA-MeasuredResultsSets					ProtocolIE-ID
id-rxTimingDeviation384extInfo					ProtocolIE-ID
id-ExtendedRoundTripTime						ProtocolIE-ID
id-PeriodicPosCalcInfo							ProtocolIE-ID
id-PeriodicLocationInfo							ProtocolIE-ID
id-AmountOfReporting							ProtocolIE-ID
id-MeasInstructionsUsed							ProtocolIE-ID
id-RRCstateChange								ProtocolIE-ID
id-PeriodicTerminationCause						ProtocolIE-ID
id-MeasurementValidity							ProtocolIE-ID
id-roundTripTimeInfoWithType1					ProtocolIE-ID
id-CellIDPositioning							ProtocolIE-ID
id-AddMeasurementInfo							ProtocolIE-ID
id-Extended-RNC-ID								ProtocolIE-ID
id-GANSS-CommonAssistanceData					ProtocolIE-ID
id-GANSS-GenericAssistanceDataList				ProtocolIE-ID
id-GANSS-MeasuredResultsList					ProtocolIE-ID
id-GANSS-UTRAN-TRU								ProtocolIE-ID
id-GANSSPositioning								ProtocolIE-ID
id-GANSS-PositioningDataSet						ProtocolIE-ID
id-GNSS-PositioningMethod						ProtocolIE-ID
id-NetworkAssistedGANSSSuport					ProtocolIE-ID
id-TUTRANGANSSMeasurementValueInfo				ProtocolIE-ID
id-AdditionalGPSAssistDataRequired				ProtocolIE-ID
id-AdditionalGanssAssistDataRequired			ProtocolIE-ID
id-angleOfArrivalLCR							ProtocolIE-ID
id-extendedTimingAdvanceLCR						ProtocolIE-ID
id-additionalMeasurementInforLCR				ProtocolIE-ID
id-timingAdvanceLCR-R7							ProtocolIE-ID
id-rxTimingDeviationLCR 						ProtocolIE-ID
id-GPSReferenceTimeUncertainty					ProtocolIE-ID
id-GANSS-AddIonoModelReq						ProtocolIE-ID
id-GANSS-EarthOrientParaReq						ProtocolIE-ID
id-GANSS-Additional-Ionospheric-Model			ProtocolIE-ID
id-GANSS-Earth-Orientation-Parameters			ProtocolIE-ID
id-GANSS-Additional-Time-Models					ProtocolIE-ID
id-GANSS-Additional-Navigation-Models			ProtocolIE-ID
id-GANSS-Additional-UTC-Models					ProtocolIE-ID
id-GANSS-Auxiliary-Information					ProtocolIE-ID
id-GANSS-SBAS-ID								ProtocolIE-ID
id-GANSS-SBAS-IDs								ProtocolIE-ID
id-GANSS-Signal-IDs								ProtocolIE-ID
id-GANSS-alm-keplerianNAVAlmanac				ProtocolIE-ID
id-GANSS-alm-keplerianReducedAlmanac			ProtocolIE-ID
id-GANSS-alm-keplerianMidiAlmanac				ProtocolIE-ID
id-GANSS-alm-keplerianGLONASS					ProtocolIE-ID
id-GANSS-alm-ecefSBASAlmanac					ProtocolIE-ID
id-UTRAN-GANSSReferenceTimeResult				ProtocolIE-ID
id-GANSS-Reference-Time-Only					ProtocolIE-ID
id-GANSS-AddADchoices							ProtocolIE-ID
id-supportGANSSNonNativeADchoices				ProtocolIE-ID
id-PositionDataUEbased							ProtocolIE-ID
id-ganssCodePhaseAmbiguityExt					ProtocolIE-ID
id-ganssIntegerCodePhaseExt						ProtocolIE-ID
id-GANSScarrierPhaseRequested					ProtocolIE-ID
id-GANSSMultiFreqMeasRequested					ProtocolIE-ID
id-ganssReq-AddIonosphericModel					ProtocolIE-ID
id-ganssReq-EarthOrientPara						ProtocolIE-ID
id-ganssAddNavigationModel-req					ProtocolIE-ID
id-ganssAddUTCModel-req							ProtocolIE-ID
id-ganssAuxInfo-req								ProtocolIE-ID
id-OTDOA-ReferenceCellInfo						ProtocolIE-ID
id-DGNSS-ValidityPeriod							ProtocolIE-ID
id-AzimuthAndElevationLSB						ProtocolIE-ID
id-completeAlmanacProvided						ProtocolIE-ID
id-GPS-Week-Cycle								ProtocolIE-ID
id-GANSS-Day-Cycle								ProtocolIE-ID
id-ganss-Delta-T								ProtocolIE-ID
id-requestedCellIDGERANMeasurements				ProtocolIE-ID
id-CellId-IRATMeasuredResultsSets				ProtocolIE-ID
id-IMSI											ProtocolIE-ID
id-IMEI											ProtocolIE-ID

#.END

#.REGISTER_NEW

#PCAP-PROTOCOL-IES
Cause											N pcap.ies id-Cause
CriticalityDiagnostics							N pcap.ies id-CriticalityDiagnostics
GPS-UTRAN-TRU									N pcap.ies id-GPS-UTRAN-TRU
InformationExchangeID							N pcap.ies id-InformationExchangeID
InformationExchangeObjectType-InfEx-Rprt		N pcap.ies id-InformationExchangeObjectType-InfEx-Rprt
InformationExchangeObjectType-InfEx-Rqst		N pcap.ies id-InformationExchangeObjectType-InfEx-Rqst
InformationExchangeObjectType-InfEx-Rsp			N pcap.ies id-InformationExchangeObjectType-InfEx-Rsp
InformationReportCharacteristics				N pcap.ies id-InformationReportCharacteristics
InformationType									N pcap.ies id-InformationType
MeasuredResultsList								N pcap.ies id-GPS-MeasuredResultsList
UE-PositionEstimate								N pcap.ies id-UE-PositionEstimate
CellId-MeasuredResultsSets						N pcap.ies id-CellId-MeasuredResultsSets
OTDOA-MeasurementGroup							N pcap.ies id-OTDOA-MeasurementGroup
AccuracyFulfilmentIndicator						N pcap.ies id-AccuracyFulfilmentIndicator
HorizontalAccuracyCode							N pcap.ies id-HorizontalAccuracyCode
VerticalAccuracyCode							N pcap.ies id-VerticalAccuracyCode
UTDOA-Group										N pcap.ies id-UTDOA-Group
RequestType										N pcap.ies id-RequestType
UE-PositioningCapability						N pcap.ies id-UE-PositioningCapability
UC-ID											N pcap.ies id-UC-id
ResponseTime									N pcap.ies id-ResponseTime
PositioningPriority								N pcap.ies id-PositioningPriority
ClientType										N pcap.ies id-ClientType
PositioningMethod								N pcap.ies id-PositioningMethod
UTDOAPositioning								N pcap.ies id-UTDOAPositioning
GPSPositioning									N pcap.ies id-GPSPositioning
OTDOAAssistanceData								N pcap.ies id-OTDOAAssistanceData
Positioning-ResponseTime						N pcap.ies id-Positioning-ResponseTime
EnvironmentCharacterisation						N pcap.ies id-EnvironmentCharacterisation
PositionData									N pcap.ies id-PositionData
VelocityEstimate								N pcap.ies id-VelocityEstimate
UC-ID-InfEx-Rqst								N pcap.ies id-UC-ID-InfEx-Rqst
UE-PositionEstimateInfo							N pcap.ies id-UE-PositionEstimateInfo
OTDOA-MeasuredResultsSets						N pcap.ies id-OTDOA-MeasuredResultsSets
PeriodicPosCalcInfo								N pcap.ies id-PeriodicPosCalcInfo
PeriodicTerminationCause						N pcap.ies id-PeriodicTerminationCause

#PCAP-PROTOCOL-EXTENSION
CellId-MeasuredResultsSets						N pcap.extension id-CellId-MeasuredResultsSets
OTDOA-MeasurementGroup							N pcap.extension id-OTDOA-MeasurementGroup
HorizontalAccuracyCode							N pcap.extension id-HorizontalAccuracyCode
VerticalAccuracyCode							N pcap.extension id-VerticalAccuracyCode
UTDOA-Group										N pcap.extension id-UTDOA-Group
Positioning-ResponseTime						N pcap.extension id-Positioning-ResponseTime
IncludeVelocity									N pcap.extension id-IncludeVelocity
PeriodicPosCalcInfo								N pcap.extension id-PeriodicPosCalcInfo
AmountOfReporting								N pcap.extension id-AmountOfReporting
PeriodicLocationInfo							N pcap.extension id-PeriodicLocationInfo
MeasInstructionsUsed							N pcap.extension id-MeasInstructionsUsed
CellIDPositioning								N pcap.extension id-CellIDPositioning
GANSSPositioning								N pcap.extension id-GANSSPositioning
RRCstateChange									N pcap.extension id-RRCstateChange
GANSS-MeasuredResultsList						N pcap.extension id-GANSS-MeasuredResultsList
GANSS-UTRAN-TRU									N pcap.extension id-GANSS-UTRAN-TRU
AdditionalGPSAssistDataRequired					N pcap.extension id-AdditionalGPSAssistDataRequired
AdditionalGanssAssistDataRequired				N pcap.extension id-AdditionalGanssAssistDataRequired
RxTimingDeviation768Info						N pcap.extension id-rxTimingDeviation768Info
RxTimingDeviation384extInfo						N pcap.extension id-rxTimingDeviation384extInfo
RoundTripTimeInfoWithType1						N pcap.extension id-roundTripTimeInfoWithType1
AddMeasurementInfo								N pcap.extension id-AddMeasurementInfo
AngleOfArrivalLCR								N pcap.extension id-angleOfArrivalLCR
ExtendedTimingAdvanceLCR						N pcap.extension id-extendedTimingAdvanceLCR
GANSS-PositioningDataSet						N pcap.extension id-GANSS-PositioningDataSet
GANSS-CommonAssistanceData						N pcap.extension id-GANSS-CommonAssistanceData
GANSS-GenericAssistanceDataList					N pcap.extension id-GANSS-GenericAssistanceDataList
GPS-ReferenceLocation							N pcap.extension id-GPS-ReferenceLocation
UTRAN-GPS-DriftRate								N pcap.extension id-UTRAN-GPS-DriftRate
GPSReferenceTimeUncertainty						N pcap.extension id-GPSReferenceTimeUncertainty
OTDOA-AddMeasuredResultsInfo					N pcap.extension id-OTDOA-AddMeasuredResultsInfo
Extended-RNC-ID									N pcap.extension id-Extended-RNC-ID
AdditionalMeasurementInforLCR					N pcap.extension id-additionalMeasurementInforLCR
GNSS-PositioningMethod							N pcap.extension id-GNSS-PositioningMethod
NetworkAssistedGANSSSupport						N pcap.extension id-NetworkAssistedGANSSSuport
UTRAN-GPSReferenceTime							N pcap.extension id-UTRAN-GPSReferenceTime
GANSS-AddIonoModelReq							N pcap.extension id-GANSS-AddIonoModelReq
GANSS-EarthOrientParaReq						N pcap.extension id-GANSS-EarthOrientParaReq
GANSS-Additional-Ionospheric-Model				N pcap.extension id-GANSS-Additional-Ionospheric-Model
GANSS-Earth-Orientation-Parameters				N pcap.extension id-GANSS-Earth-Orientation-Parameters
GANSS-Additional-Time-Models					N pcap.extension id-GANSS-Additional-Time-Models
GANSS-Additional-Navigation-Models				N pcap.extension id-GANSS-Additional-Navigation-Models
GANSS-Additional-UTC-Models						N pcap.extension id-GANSS-Additional-UTC-Models
GANSS-Auxiliary-Information						N pcap.extension id-GANSS-Auxiliary-Information
GANSS-SBAS-ID									N pcap.extension id-GANSS-SBAS-ID
GANSS-SBAS-IDs									N pcap.extension id-GANSS-SBAS-IDs
GANSS-Signal-IDs								N pcap.extension id-GANSS-Signal-IDs
GANSS-ALM-NAVKeplerianSet						N pcap.ies id-GANSS-alm-keplerianNAVAlmanac
GANSS-ALM-ReducedKeplerianSet					N pcap.ies id-GANSS-alm-keplerianReducedAlmanac
GANSS-ALM-MidiAlmanacSet						N pcap.ies id-GANSS-alm-keplerianMidiAlmanac
GANSS-ALM-GlonassAlmanacSet						N pcap.ies id-GANSS-alm-keplerianGLONASS
GANSS-ALM-ECEFsbasAlmanacSet					N pcap.ies id-GANSS-alm-ecefSBASAlmanac
UTRAN-GANSSReferenceTimeResult					N pcap.ies id-UTRAN-GANSSReferenceTimeResult
GANSS-Reference-Time-Only						N pcap.ies id-GANSS-Reference-Time-Only
GANSS-AddADchoices								N pcap.extension id-GANSS-AddADchoices
SupportGANSSNonNativeADchoices					N pcap.extension id-supportGANSSNonNativeADchoices
PositionDataUEbased								N pcap.extension id-PositionDataUEbased
GanssCodePhaseAmbiguityExt						N pcap.extension id-ganssCodePhaseAmbiguityExt
GanssIntegerCodePhaseExt						N pcap.extension id-ganssIntegerCodePhaseExt
GANSScarrierPhaseRequested						N pcap.extension id-GANSScarrierPhaseRequested
GANSSMultiFreqMeasRequested						N pcap.extension id-GANSSMultiFreqMeasRequested
GANSSReq-AddIonosphericModel					N pcap.extension id-ganssReq-AddIonosphericModel
GANSSReq-EarthOrientPara						N pcap.extension id-ganssReq-EarthOrientPara
GANSS-AddNavigationModel-Req					N pcap.extension id-ganssAddNavigationModel-req
GANSS-AddUTCModel-Req							N pcap.extension id-ganssAddUTCModel-req
GANSS-AuxInfo-req								N pcap.extension id-ganssAuxInfo-req
#N pcap.extension id-GANSS-AlmanacModelChoice Not used?
OTDOA-ReferenceCellInfoSAS-centric				N pcap.extension id-OTDOA-ReferenceCellInfo
DGNSS-ValidityPeriod							N pcap.extension id-DGNSS-ValidityPeriod
AzimuthAndElevationLSB							N pcap.extension id-AzimuthAndElevationLSB
CompleteAlmanacProvided							N pcap.extension id-completeAlmanacProvided
GPS-Week-Cycle									N pcap.extension id-GPS-Week-Cycle
GANSS-Day-Cycle									N pcap.extension id-GANSS-Day-Cycle
GANSS-Delta-T									N pcap.extension id-ganss-Delta-T
RequestedCellIDGERANMeasurements				N pcap.extension id-requestedCellIDGERANMeasurements
CellId-IRATMeasuredResultsSets					N pcap.extension id-CellId-IRATMeasuredResultsSets
IMSI											N pcap.extension id-IMSI
IMEI											N pcap.extension id-IMEI


#PCAP-ELEMENTARY-PROCEDURE

PositionCalculationRequest						N pcap.proc.imsg id-PositionCalculation
PositionCalculationResponse						N pcap.proc.sout id-PositionCalculation
PositionCalculationFailure						N pcap.proc.uout id-PositionCalculation

InformationExchangeInitiationRequest			N pcap.proc.imsg id-InformationExchangeInitiation
InformationExchangeInitiationResponse			N pcap.proc.sout id-InformationExchangeInitiation
InformationExchangeInitiationFailure			N pcap.proc.uout id-InformationExchangeInitiation

PositionInitiationRequest						N pcap.proc.imsg id-PositionInitiation
PositionInitiationResponse						N pcap.proc.sout id-PositionInitiation
PositionInitiationFailure						N pcap.proc.uout id-PositionInitiation


PositionActivationRequest						N pcap.proc.imsg id-PositionActivation
PositionActivationResponse						N pcap.proc.sout id-PositionActivation
PositionActivationFailure						N pcap.proc.uout id-PositionActivation

InformationReport								N pcap.proc.imsg id-InformationReporting

InformationExchangeTerminationRequest			N pcap.proc.imsg id-InformationExchangeTermination

InformationExchangeFailureIndication			N pcap.proc.imsg id-InformationExchangeFailure

ErrorIndication									N pcap.proc.imsg id-ErrorIndication

PrivateMessage									N pcap.proc.imsg id-privateMessage

PositionParameterModification					N pcap.proc.imsg id-PositionParameterModification

Abort											N pcap.proc.imsg id-Abort

PositionPeriodicReport							N pcap.proc.imsg id-PositionPeriodicReport

PositionPeriodicResult							N pcap.proc.imsg id-PositionPeriodicResult

PositionPeriodicTermination						N pcap.proc.imsg id-PositionPeriodicTermination

#.TYPE_ATTR
# Handle 64 bit constraint
UTRAN-GPSReferenceTimeResult/ue-GPSTimingOfCell TYPE = FT_UINT64  DISPLAY = BASE_DEC  STRINGS = NULL
UTRAN-GANSSReferenceTimeUL/ue-GANSSTimingOfCellFrames  TYPE = FT_UINT64  DISPLAY = BASE_DEC  STRINGS = NULL
UTRAN-GPSReferenceTime/utran-GPSTimingOfCell  TYPE = FT_UINT64  DISPLAY = BASE_DEC  STRINGS = NULL
UTRAN-GANSSReferenceTimeResult/ue-GANSSTimingOfCell TYPE = FT_UINT64  DISPLAY = BASE_DEC  STRINGS = NULL

#.END