#
# Editor configuration
#
# http://editorconfig.org/
#

[ftype-bytes.[ch]]
indent_style = tab
indent_size = tab

[ftype-integer.[ch]]
indent_style = tab
indent_size = tab

[ftype-ipv4.[ch]]
indent_style = tab
indent_size = tab

[ftype-ipv6.[ch]]
indent_style = tab
indent_size = tab

[ftype-none.[ch]]
indent_style = tab
indent_size = tab

[ftype-string.[ch]]
indent_style = tab
indent_size = tab

[ftype-time.[ch]]
indent_style = tab
indent_size = tab

[ftype-protocol.[ch]]
indent_style = tab
indent_size = tab

[ftypes.[ch]]
indent_style = tab
indent_size = tab
