# gprscdr.cnf
# Anders Broman 2011
# $Id$

#.IMPORT ../gsm_map/gsm_map-exp.cnf

#.MODULE

#.OMIT_ASSIGNMENT
CalledNumber
CallReference
ChargeIndicator
MscNo
SystemType
SGSNMTLCSRecord
SGSNMOLCSRecord
SGSNNILCSRecord
LCSCause
LCSClientIdentity
LCSQoSInfo
LocationAreaAndCell
PositioningData

#.EXPORTS
GPRSCallEventRecord
GPRSCallEventRecord_PDU

#.CLASS ATTRIBUTE
&id                    ObjectIdentifierType
&Value

#.CLASS CONTEXT
&id                    ObjectIdentifierType
&Value

#.PDU_NEW
GPRSCallEventRecord


#.FN_BODY ManagementExtension/information

   proto_tree_add_text(tree, tvb, offset, -1, "Not dissected");
   
##### FN_BODY TimeStamp VAL_PTR = &parameter_tvb

   
#.TYPE_ATTR
IPBinaryAddress/iPBinV4Address TYPE = FT_IPv4  DISPLAY = BASE_NONE   
IPBinaryAddress/iPBinV6Address TYPE = FT_IPv6  DISPLAY = BASE_NONE   
#.END
