# asce.cnf
# ACSE conformation file

# $Id$

#.IMPORT ../x509if/x509if-exp.cnf

#.OMIT_ASSIGNMENT
Application-context-name
#.END

#.EXPORTS
EXTERNALt
AE-title
AP-title
AP-invocation-identifier
AE-qualifier
ASO-qualifier
AE-invocation-identifier

#.TYPE_RENAME
AARQ-apdu/_untag/protocol-version	T_AARQ_protocol_version
AARE-apdu/_untag/protocol-version	T_AARE_protocol_version
AARQ-apdu/_untag/aSO-context-name	T_AARQ_aSO_context_name		
AARE-apdu/_untag/aSO-context-name	T_AARE_aSO_context_name
ACRQ-apdu/_untag/aSO-context-name	T_ACRQ_aSO_context_name
ACRP-apdu/_untag/aSO-context-name	T_ACRP_aSO_context_name

#.FIELD_RENAME
AARQ-apdu/_untag/user-information	aARQ_user_information
AARE-apdu/_untag/user-information	aARE_user_information
ABRT-apdu/_untag/user-information	aBRT_user_information
RLRE-apdu/_untag/user-information	rLRE_user_information
RLRQ-apdu/_untag/user-information	rLRQ_user_information
P-context-result-list/_item/result	pcontext_result
RLRE-apdu/_untag/reason		rLRE_reason
RLRQ-apdu/_untag/reason		rLRQ_reason
AARQ-apdu/_untag/protocol-version	aARQ_protocol_version
AARE-apdu/_untag/protocol-version	aARE_protocol_version
AARQ-apdu/_untag/aSO-context-name	aARQ_aSO_context_name
AARE-apdu/_untag/aSO-context-name	aARE_aSO_context_name
ACRQ-apdu/_untag/aSO-context-name	aCRQ_aSO_context_name


#.FN_PARS Authentication-value-other/other-mechanism-name  
  FN_VARIANT = _str VAL_PTR = &object_identifier_id

#.FN_BODY Authentication-value-other/other-mechanism-value
  offset=call_ber_oid_callback(object_identifier_id, tvb, offset, actx->pinfo, top_tree);

#.FN_BODY PDV-list/presentation-data-values/simple-ASN1-type
/*XXX not implemented yet */

#.FN_BODY AARQ-apdu/_untag/aSO-context-name
  offset = dissect_ber_object_identifier_str(FALSE, actx, tree, tvb, offset,
                                         hf_index, &object_identifier_id);

#.FN_BODY AARE-apdu/_untag/aSO-context-name
  offset = dissect_ber_object_identifier_str(FALSE, actx, tree, tvb, offset,
                                         hf_index, &object_identifier_id);

#.FN_BODY ACRQ-apdu/_untag/aSO-context-name
  offset = dissect_ber_object_identifier_str(FALSE, actx, tree, tvb, offset,
                                         hf_index, &object_identifier_id);

#.FN_BODY ACRP-apdu/_untag/aSO-context-name
  offset = dissect_ber_object_identifier_str(FALSE, actx, tree, tvb, offset,
                                         hf_index, &object_identifier_id);

#.FN_BODY EXTERNALt/_untag/indirect-reference
  char *oid;
  offset = dissect_ber_integer(FALSE, actx, tree, tvb, offset,
                hf_acse_indirect_reference,
                &indir_ref);

  /* look up the indirect reference */
  if((oid = find_oid_by_pres_ctx_id(actx->pinfo, indir_ref)) != NULL) {
    object_identifier_id = ep_strdup(oid);
  }

  if(session)
	session->pres_ctx_id = indir_ref;

#.FN_PARS EXTERNALt/_untag/direct-reference
  FN_VARIANT = _str VAL_PTR = &object_identifier_id

#.FN_BODY EXTERNALt/_untag/encoding/single-ASN1-type
  offset=call_ber_oid_callback(object_identifier_id, tvb, offset, actx->pinfo, top_tree ? top_tree : tree);

#.FN_BODY EXTERNALt/_untag/encoding/octet-aligned
  offset=call_ber_oid_callback(object_identifier_id, tvb, offset, actx->pinfo, top_tree ? top_tree : tree);

#.FN_PARS Release-request-reason
  VAL_PTR=&reason

#.FN_BODY Release-request-reason
  int reason = -1;
 
  %(DEFAULT_BODY)s

  if((reason != -1) && check_col(actx->pinfo->cinfo, COL_INFO))
   col_append_fstr(actx->pinfo->cinfo, COL_INFO, "Release-Request (%%s)", val_to_str(reason, acse_Release_request_reason_vals, "reason(%%d)"));


#.FN_PARS Release-response-reason
  VAL_PTR=&reason

#.FN_BODY Release-response-reason
  int reason = -1;
 
  %(DEFAULT_BODY)s

  if((reason != -1) && check_col(actx->pinfo->cinfo, COL_INFO))
   col_append_fstr(actx->pinfo->cinfo, COL_INFO, "Release-Response (%%s)", val_to_str(reason, acse_Release_request_reason_vals, "reason(%%d)"));


#.FIELD_ATTR
Association-data/_item NAME = "Association-data"

#.END
