# p772.cnf
# p772 conformation file

#.IMPORT ../p1/p1-exp.cnf
#.IMPORT ../p22/p22-exp.cnf

#.OMIT_ASSIGNMENT
ID
MM
MN
MRN
MNRN
MON
OriginateProbeArgument
OriginateProbeResult
OriginateMMArgument
OriginateMMResult
OriginateMRNArgument
OriginateMRNResult
ReceiveReportArgument
ReceiveMMArgument
ReceiveMRNArgument
ReceiveMNRNArgument
ReceiveMONArgument
ChangeAutoDiscardArgument
ChangeAutoAcknowledgementArgument
ChangeAutoForwardingArgument
SubscriptionErrorParameter
SubscriptionProblem

#.NO_EMIT ONLY_VALS
InformationObject

#.TYPE_RENAME
AddressListDesignator/type	AddressListType
OtherRecipientDesignator/type	OtherRecipientType

#.FIELD_RENAME
AddressListDesignator/type	address_list_type
MessageType/type		message_type_type
OtherRecipientDesignator/type	other_recipient_type

#.PDU
PrimaryPrecedence
CopyPrecedence
MessageType
#AddressListDesignator
#ExemptedAddress
ExtendedAuthorisationInfo
DistributionCodes
HandlingInstructions
MessageInstructions
CodressMessage
OriginatorReference
#OtherRecipientDesignator
#PilotInformation
Acp127MessageIdentifier
OriginatorPlad
Acp127NotificationType
SecurityInformationLabels

#.REGISTER
PrimaryPrecedence 			B "1.3.26.0.4406.0.2.0" "primary-precedence"
CopyPrecedence 				B "1.3.26.0.4406.0.2.1" "copy-precedence"
MessageType 				B "1.3.26.0.4406.0.2.2" "message-type"
AddressListDesignatorSeq 	B "1.3.26.0.4406.0.2.3" "address-list-indicator"
ExemptedAddressSeq 			B "1.3.26.0.4406.0.2.4" "exempted-address"
ExtendedAuthorisationInfo 	B "1.3.26.0.4406.0.2.5" "extended-authorisation-info"
DistributionCodes 			B "1.3.26.0.4406.0.2.6" "distribution-codes"
HandlingInstructions 		B "1.3.26.0.4406.0.2.7" "handling-instructions"
MessageInstructions 		B "1.3.26.0.4406.0.2.8" "message-instructions"
CodressMessage 				B "1.3.26.0.4406.0.2.9" "codress-message"
OriginatorReference 		B "1.3.26.0.4406.0.2.10" "originator-reference"
OtherRecipientDesignatorSeq B "1.3.26.0.4406.0.2.11" "other-recipients-indicator"
PilotInformationSeq 		B "1.3.26.0.4406.0.2.12" "pilot-forwarding-info"
Acp127MessageIdentifier 	B "1.3.26.0.4406.0.2.13" "acp127-message-identifier"
OriginatorPlad 				B "1.3.26.0.4406.0.2.14" "originator-plad"
Acp127NotificationType		B "1.3.26.0.4406.0.2.15" "acp127-notification-request"
Acp127NotificationResponse	B "1.3.26.0.4406.0.2.16" "acp127-notification-response"
SecurityInformationLabels 	B "1.3.26.0.4406.0.2.17" "information-labels"

PriorityLevelQualifier		B "1.3.26.0.4406.0.8.0"	 "priority-level-qualifier"


ADatP3Data			B id_nato_mmhs_et_adatp3 "adatp3"
ADatP3Parameters		B id_nato_mmhs_et_adatp3_parameters "adatp3-parameters"
CorrectionsData			B id_nato_mmhs_et_corrections "corrections"
CorrectionsParameters		B id_nato_mmhs_et_corrections_parameters "corrections-parameters"
ForwardedEncryptedData		B id_nato_mmhs_et_forwarded_encrypted "forwarded-encrypted"
ForwardedEncryptedParameters	B id_nato_mmhs_et_forwarded_encrypted_parameters "forwarded-encrypted-parameters"
MMMessageData			B id_nato_mmhs_et_mm_message "mm-message"
MMMessageParameters		B id_nato_mmhs_et_mm_message_parameters "mm-message-parameters"
ACP127DataData			B id_nato_mmhs_et_mm_acp127data "acp127-data"
ACP127DataParameters		B id_nato_mmhs_et_mm_acp127data_parameters "acp127-data-parameters"

InformationObject	 	B "2.6.1.4.17.1.3.26.0.4406.0.4.1" 	"id-et-content-p772"


#.FN_BODY DistributionExtensionField/dist-value
/* XXX: not implemented */
  offset = dissect_unknown_ber(actx->pinfo, tvb, offset, tree);

#.FN_PARS PrimaryPrecedence
  VAL_PTR=&precedence
#.FN_BODY PrimaryPrecedence
  int precedence = -1;
  %(DEFAULT_BODY)s
  if(precedence != -1)
   col_append_fstr(actx->pinfo->cinfo, COL_INFO, " (primary=%%s)", val_to_str(precedence, p772_PrimaryPrecedence_vals, "precedence(%%d)"));

#.FN_PARS CopyPrecedence
  VAL_PTR=&precedence
#.FN_BODY CopyPrecedence
  int precedence = -1;
  %(DEFAULT_BODY)s
  if(precedence != -1)
   col_append_fstr(actx->pinfo->cinfo, COL_INFO, " (copy=%%s)", val_to_str(precedence, p772_CopyPrecedence_vals, "precedence(%%d)"));
