# FTAM.cnf
# FTAM conformation file

#.IMPORT ../acse/acse-exp.cnf

#.EXPORTS
Attribute-Extensions
Concurrency-Access
Date-and-Time-Attribute
Legal-Qualification-Attribute
Object-Availability-Attribute
Object-Size-Attribute
Pathname
Permitted-Actions-Attribute
Private-Use-Attribute

#.OMIT_ASSIGNMENT
F-CHECK-request
F-CHECK-response
Other-Pattern
#.END

#.PDU

#.NO_EMIT ONLY_VALS
PDU

#.TYPE_RENAME
F-OPEN-request/recovery-mode	T_request_recovery_mode
F-OPEN-response/recovery-mode	T_response_recovery_mode
Access-Control-Change-Attribute/actual-values	T_actual_values1

Contents-Type-List/_untag/_item Contents_Type_List_item
Charging/_untag/_item Charging_item
Diagnostic/_untag/_item Diagnostic_item
Path-Access-Passwords/_untag/_item Path_Access_Passwords_item

#.FIELD_RENAME
F-OPEN-request/recovery-mode	request_recovery_mode
F-OPEN-response/recovery-mode	response_recovery_mode
Concurrency-Access/replace	replace_key
Concurrency-Access/read-attribute	read_attribute_key
Concurrency-Access/read		read_key
Concurrency-Access/insert	insert_key
Concurrency-Access/extend	extend_key
Concurrency-Access/erase	erase_key
Concurrency-Access/change-attribute	change_attribute_key
Concurrency-Access/delete-Object	delete_Object_key
F-READ-request/access-context		read_access_context
Change-Attributes/_untag/path-access-control	change_path_access_control
Attribute-Extensions-Pattern/_item/extension-set-attribute-Patterns/_item/extension-attribute-identifier	attribute_extension_attribute_identifier
F-OPEN-request/contents-type		open_contents_type
F-READ-ATTRIB-response/attributes	read_attributes
F-READ-LINK-ATTRIB-response/attributes	read_link_attributes
F-SELECT-request/attributes		select_attributes
F-SELECT-response/attributes		select_attributes
Change-Attributes/_untag/access-control	change_attributes_access_control
Access-Control-Change-Attribute/actual-values	actual_values1
Account-Attribute/actual-values	actual_values2
Access-Control-Attribute/actual-values	actual_values3
Private-Use-Attribute/actual-values	actual_values4
Date-and-Time-Attribute/actual-values	actual_values5
User-Identity-Attribute/actual-values	actual_values6
Object-Size-Attribute/actual-values	actual_values7
Object-Availability-Attribute/actual-values	actual_values8
Legal-Qualification-Attribute/actual-values	actual_values9

#.FN_PARS Extension-Attribute/extension-attribute-identifier
	FN_VARIANT = _str  VAL_PTR = &actx->external.direct_reference

#.FN_PARS OBJECT_IDENTIFIER
	FN_VARIANT = _str  VAL_PTR = &actx->external.direct_reference

#.FN_BODY Contents-Type-Attribute/document-type/parameter
  if (actx->external.direct_reference) {
    offset=call_ber_oid_callback(actx->external.direct_reference, tvb, offset, actx->pinfo, tree, NULL);
  }

#.FN_BODY Extension-Attribute/extension-attribute
  if (actx->external.direct_reference) {
    offset=call_ber_oid_callback(actx->external.direct_reference, tvb, offset, actx->pinfo, tree, NULL);
  }

#.FN_PARS Attribute-Extensions-Pattern/_item/extension-set-attribute-Patterns/_item/extension-attribute-identifier
	FN_VARIANT = _str  VAL_PTR = &actx->external.direct_reference

#.FN_BODY Attribute-Extensions-Pattern/_item/extension-set-attribute-Patterns/_item/extension-attribute-Pattern
  if (actx->external.direct_reference) {
    offset=call_ber_oid_callback(actx->external.direct_reference, tvb, offset, actx->pinfo, tree, NULL);
  }

#.FN_BODY AP-title
	/* XXX have no idea about this one */
#.FN_BODY AE-qualifier
	/* XXX have no idea about this one */

#.FN_BODY FTAM-Regime-PDU VAL_PTR = &branch_taken
  gint branch_taken;

  %(DEFAULT_BODY)s

  if( (branch_taken!=-1) && ftam_FTAM_Regime_PDU_vals[branch_taken].strptr ){
	col_append_fstr(actx->pinfo->cinfo, COL_INFO, " %%s:", ftam_FTAM_Regime_PDU_vals[branch_taken].strptr);
  }

#.FN_BODY File-PDU VAL_PTR = &branch_taken
  gint branch_taken;

  %(DEFAULT_BODY)s

  if( (branch_taken!=-1) && ftam_File_PDU_vals[branch_taken].strptr ){
	col_append_fstr(actx->pinfo->cinfo, COL_INFO, " %%s:", ftam_File_PDU_vals[branch_taken].strptr);
  }

#.FN_BODY Bulk-Data-PDU VAL_PTR = &branch_taken
  gint branch_taken;

  %(DEFAULT_BODY)s

  if( (branch_taken!=-1) && ftam_Bulk_Data_PDU_vals[branch_taken].strptr ){
	col_append_fstr(actx->pinfo->cinfo, COL_INFO, " %%s:", ftam_Bulk_Data_PDU_vals[branch_taken].strptr);
  }

#.FN_BODY FSM-PDU VAL_PTR = &branch_taken
  gint branch_taken;

  %(DEFAULT_BODY)s

  if( (branch_taken!=-1) && ftam_FSM_PDU_vals[branch_taken].strptr ){
	col_append_fstr(actx->pinfo->cinfo, COL_INFO, " %%s:", ftam_FSM_PDU_vals[branch_taken].strptr);
  }
