# isdn-sup.cnf
# isdn_sup conformation file
# 2013  Anders Broman

#.OPT
BER
GROUP_BY_PROT
-o isdn-sup
#.END

#.EXPORTS  EXTERN VALS_WITH_TABLE


#.MODULE
Diversion-Operations                         isdn-sup
MCID-Operations								 isdn-sup
Closed-User-Group-Service-Operations		 isdn-sup
Advice-of-Charge-Operations					 isdn-sup
#.PDU_NEW

OPERATION.&ArgumentType
OPERATION.&ResultType

#.END

#.NO_EMIT
PresentedAddressUnscreened
PresentedNumberScreened
NumberScreened
#.END

#.TYPE_RENAME
AOCDChargingUnitInfo/specificChargingUnits    AOCDSpecificChargingUnits
AOCDCurrencyInfo/specificCurrency    AOCDSpecificCurrency
AOCEChargingUnitInfo/cc    AOCEChargingUnitCc
AOCEChargingUnitInfo/cc/specificChargingUnits    AOCECcSpecificChargingUnits
AOCECurrencyInfo/cc  AOCECurrencyCc
AOCECurrencyInfo/cc/specificCurrency    AOCECcSpecificCurrency
AOCSCurrencyInfo/chargingtype/specificCurrency    AOCSChargingTypeSpecificCurrency
RecordedUnits/cc    RecoredUnitsCc
#.END

#.FIELD_RENAME
AOCDChargingUnitInfo/specificChargingUnits    aocdspecificchargingunits
AOCDCurrencyInfo/specificCurrency aocdspecificCurrency
AOCEChargingUnitInfo/cc aocechargingunitcc
AOCEChargingUnitInfo/cc/specificChargingUnits    aoceccspecificchargingunits
AOCECurrencyInfo/cc  aocecurrencycc
AOCECurrencyInfo/cc/specificCurrency aoceccspecificCurrency
AOCSCurrencyInfo/chargingtype/specificCurrency aocschargingtypespecificCurrency
PresentedAddressScreened/presentationAllowedAddress  presentationallowedaddressscreened
PresentedAddressScreened/presentationRestrictedAddress  presentationrestrictedaddressscreened
PresentedNumberScreened/presentationAllowedNumber  presentationallowednumberscreened
PresentedNumberScreened/presentationRestrictedNumber  presentationrestrictednumberscreened
RecordedUnits/cc    recoredunitscc
#.END

#.TABLE10_BODY OPERATION.#&operationCode.local
  { %(&operationCode)3s, "%(_name)s" },
#.END

#.TABLE11_BODY OPERATION.&operationCode.local
  /* %(_name)-24s */ { %(&operationCode)3s, %(_argument_pdu)s, %(_result_pdu)s },
#.END

#.TABLE31_BODY OPERATION.&operationCode.global
  /* %(_name)-24s */ { %(&operationCode)3s, %(_argument_pdu)s, %(_result_pdu)s },
#.END

#.TABLE20_BODY ERROR
  { %(&errorCode)4s, "%(_name)s" },
#.END

#.TABLE21_BODY ERROR
  /* %(_name)-24s */ { %(&errorCode)4s, %(_parameter_pdu)s },
#.END

#.TYPE_ATTR
#.END
