# HI2Operations.cnf
# HI2Operations conformation file

#.MODULE
UmtsHI2Operations UmtsHI2
PCESP PCESP
TS101909201 TS101909201
EN301040	EN301040
#.MODULE_IMPORT

#.EXPORTS

#.REGISTER

#.PDU
IRIsContent

#.NO_EMIT

#.OMIT_ASSIGNMENT
# Get rid of unused code warnings
TTRAFFIC
CTTRAFFIC
LIACTIVATEreq
LIACTIVATEconf
LIMODIFYreq
LIMODIFYconf
LISTATUSind
StatusType

#.TYPE_RENAME

#.FIELD_RENAME

#.END

