# f1ap.cnf
# f1ap conformation file

#.OPT
PER
ALIGNED
#.END

#.USE_VALS_EXT
LongDRXCycleLength
NRNRB
ProcedureCode
ProtocolIE-ID
ShortDRXCycleLength

#.EXPORTS

#.PDU
F1AP-PDU

#.MAKE_ENUM
ProcedureCode
ProtocolIE-ID

#.NO_EMIT

#.OMIT_ASSIGNMENT
# Get rid of unused code warnings
Presence
ProtocolIE-ContainerPair
ProtocolIE-FieldPair
#.END


#.TYPE_RENAME

InitiatingMessage/value InitiatingMessage_value
SuccessfulOutcome/value SuccessfulOutcome_value
UnsuccessfulOutcome/value UnsuccessfulOutcome_value

#.FIELD_RENAME

InitiatingMessage/value initiatingMessagevalue
UnsuccessfulOutcome/value unsuccessfulOutcome_value
SuccessfulOutcome/value successfulOutcome_value


PrivateIE-Field/id private_id
ProtocolExtensionField/id ext_id

#PrivateIE-Field/value private_value
ProtocolIE-Field/value ie_field_value

#.FN_BODY ProtocolIE-ID VAL_PTR=&f1ap_data->protocol_ie_id
  f1ap_private_data_t *f1ap_data = f1ap_get_private_data(actx->pinfo);
%(DEFAULT_BODY)s

#.FN_FTR ProtocolIE-ID
  if (tree) {
    proto_item_append_text(proto_item_get_parent_nth(actx->created_item, 2), ": %s",
                           val_to_str_ext(f1ap_data->protocol_ie_id, &f1ap_ProtocolIE_ID_vals_ext, "unknown (%d)"));
  }

#.FN_PARS ProtocolIE-Field/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_ProtocolIEFieldValue

#.FN_BODY ProtocolExtensionID  VAL_PTR=&f1ap_data->protocol_extension_id
  f1ap_private_data_t *f1ap_data = f1ap_get_private_data(actx->pinfo);
%(DEFAULT_BODY)s

#.FN_PARS ProtocolExtensionField/extensionValue  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_ProtocolExtensionFieldExtensionValue

#.FN_BODY ProcedureCode  VAL_PTR = &f1ap_data->procedure_code
  f1ap_private_data_t *f1ap_data = f1ap_get_private_data(actx->pinfo);
%(DEFAULT_BODY)s
#.END

#.FN_PARS InitiatingMessage/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_InitiatingMessageValue
#.FN_HDR InitiatingMessage/value
  f1ap_private_data_t *f1ap_data = f1ap_get_private_data(actx->pinfo);
  f1ap_data->message_type = INITIATING_MESSAGE;
#.FN_PARS SuccessfulOutcome/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_SuccessfulOutcomeValue
#.FN_HDR SuccessfulOutcome/value
  f1ap_private_data_t *f1ap_data = f1ap_get_private_data(actx->pinfo);
  f1ap_data->message_type = SUCCESSFUL_OUTCOME;
#.FN_PARS UnsuccessfulOutcome/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_UnsuccessfulOutcomeValue
#.FN_HDR UnsuccessfulOutcome/value
  f1ap_private_data_t *f1ap_data = f1ap_get_private_data(actx->pinfo);
  f1ap_data->message_type = UNSUCCESSFUL_OUTCOME;
#.END

#.FN_HDR PrivateIE-ID
  f1ap_private_data_t *f1ap_data = f1ap_get_private_data(actx->pinfo);
  f1ap_data->obj_id = NULL;

#.FN_BODY PrivateIE-ID/global  FN_VARIANT = _str  VAL_PTR = &f1ap_data->obj_id
  f1ap_private_data_t *f1ap_data = f1ap_get_private_data(actx->pinfo);
%(DEFAULT_BODY)s

#.FN_BODY PrivateIE-Field/value
  f1ap_private_data_t *f1ap_data = f1ap_get_private_data(actx->pinfo);
  if (f1ap_data->obj_id) {
    offset = call_per_oid_callback(f1ap_data->obj_id, tvb, actx->pinfo, tree, offset, actx, hf_index);
  } else {
%(DEFAULT_BODY)s
  }

#.ASSIGN_VALUE_TO_TYPE  # F1AP does not have constants assigned to types, they are pure INTEGER
# ProcedureCode

id-Reset                         ProcedureCode
id-F1Setup                       ProcedureCode
id-ErrorIndication               ProcedureCode
id-gNBDUConfigurationUpdate      ProcedureCode
id-gNBCUConfigurationUpdate      ProcedureCode
id-UEContextSetup                ProcedureCode
id-UEContextRelease              ProcedureCode
id-UEContextModification         ProcedureCode
id-UEContextModificationRequired ProcedureCode
id-UEMobilityCommand             ProcedureCode
id-UEContextReleaseRequest       ProcedureCode
id-InitialULRRCMessageTransfer   ProcedureCode
id-DLRRCMessageTransfer          ProcedureCode
id-ULRRCMessageTransfer          ProcedureCode
id-privateMessage                ProcedureCode

# ProtocolIE-ID
id-Cause                                       ProtocolIE-ID
id-Cells-Failed-to-be-Activated-List           ProtocolIE-ID
id-Cells-Failed-to-be-Activated-List-Item      ProtocolIE-ID
id-Cells-to-be-Activated-List                  ProtocolIE-ID
id-Cells-to-be-Activated-List-Item             ProtocolIE-ID
id-Cells-to-be-Deactivated-List                ProtocolIE-ID
id-Cells-to-be-Deactivated-List-Item           ProtocolIE-ID
id-CriticalityDiagnostics                      ProtocolIE-ID
id-CUtoDURRCInformation                        ProtocolIE-ID
id-DRBs-FailedToBeModifiedConf-Item            ProtocolIE-ID
id-DRBs-FailedToBeModifiedConf-List            ProtocolIE-ID
id-DRBs-FailedToBeModified-Item                ProtocolIE-ID
id-DRBs-FailedToBeModified-List                ProtocolIE-ID
id-DRBs-FailedToBeSetup-Item                   ProtocolIE-ID
id-DRBs-FailedToBeSetup-List                   ProtocolIE-ID
id-DRBs-FailedToBeSetupMod-Item                ProtocolIE-ID
id-DRBs-FailedToBeSetupMod-List                ProtocolIE-ID
id-DRBs-ModifiedConf-Item                      ProtocolIE-ID
id-DRBs-ModifiedConf-List                      ProtocolIE-ID
id-DRBs-Modified-Item                          ProtocolIE-ID
id-DRBs-Modified-List                          ProtocolIE-ID
id-DRBs-Required-ToBeModified-Item             ProtocolIE-ID
id-DRBs-Required-ToBeModified-List             ProtocolIE-ID
id-DRBs-Required-ToBeReleased-Item             ProtocolIE-ID
id-DRBs-Required-ToBeReleased-List             ProtocolIE-ID
id-DRBs-Setup-Item                             ProtocolIE-ID
id-DRBs-Setup-List                             ProtocolIE-ID
id-DRBs-SetupMod-Item                          ProtocolIE-ID
id-DRBs-SetupMod-List                          ProtocolIE-ID
id-DRBs-ToBeModified-Item                      ProtocolIE-ID
id-DRBs-ToBeModified-List                      ProtocolIE-ID
id-DRBs-ToBeReleased-Item                      ProtocolIE-ID
id-DRBs-ToBeReleased-List                      ProtocolIE-ID
id-DRBs-ToBeSetup-Item                         ProtocolIE-ID
id-DRBs-ToBeSetup-List                         ProtocolIE-ID
id-DRBs-ToBeSetupMod-Item                      ProtocolIE-ID
id-DRBs-ToBeSetupMod-List                      ProtocolIE-ID
id-DRXCycle                                    ProtocolIE-ID
id-DUtoCURRCInformation                        ProtocolIE-ID
id-gNB-CU-UE-F1AP-ID                           ProtocolIE-ID
id-gNB-DU-UE-F1AP-ID                           ProtocolIE-ID
id-gNB-DU-ID                                   ProtocolIE-ID
id-GNB-DU-Served-Cells-Item                    ProtocolIE-ID
id-gNB-DU-Served-Cells-List                    ProtocolIE-ID
id-gNB-DU-Name                                 ProtocolIE-ID
id-NRCellID                                    ProtocolIE-ID
id-oldgNB-DU-UE-F1AP-ID                        ProtocolIE-ID
id-ResetType                                   ProtocolIE-ID
id-ResourceCoordinationTransferContainer       ProtocolIE-ID
id-RRCContainer                                ProtocolIE-ID
id-SCell-ToBeRemoved-Item                      ProtocolIE-ID
id-SCell-ToBeRemoved-List                      ProtocolIE-ID
id-SCell-ToBeSetup-Item                        ProtocolIE-ID
id-SCell-ToBeSetup-List                        ProtocolIE-ID
id-SCell-ToBeSetupMod-Item                     ProtocolIE-ID
id-SCell-ToBeSetupMod-List                     ProtocolIE-ID
id-Served-Cells-To-Add-Item                    ProtocolIE-ID
id-Served-Cells-To-Add-List                    ProtocolIE-ID
id-Served-Cells-To-Delete-Item                 ProtocolIE-ID
id-Served-Cells-To-Delete-List                 ProtocolIE-ID
id-Served-Cells-To-Modify-Item                 ProtocolIE-ID
id-Served-Cells-To-Modify-List                 ProtocolIE-ID
id-SpCell-ID                                   ProtocolIE-ID
id-SRBID                                       ProtocolIE-ID
id-SRBs-FailedToBeSetup-Item                   ProtocolIE-ID
id-SRBs-FailedToBeSetup-List                   ProtocolIE-ID
id-SRBs-FailedToBeSetupMod-Item                ProtocolIE-ID
id-SRBs-FailedToBeSetupMod-List                ProtocolIE-ID
id-SRBs-Required-ToBeReleased-Item             ProtocolIE-ID
id-SRBs-Required-ToBeReleased-List             ProtocolIE-ID
id-SRBs-ToBeReleased-Item                      ProtocolIE-ID
id-SRBs-ToBeReleased-List                      ProtocolIE-ID
id-SRBs-ToBeSetup-Item                         ProtocolIE-ID
id-SRBs-ToBeSetup-List                         ProtocolIE-ID
id-SRBs-ToBeSetupMod-Item                      ProtocolIE-ID
id-SRBs-ToBeSetupMod-List                      ProtocolIE-ID
id-TimeToWait                                  ProtocolIE-ID
id-TransactionID                               ProtocolIE-ID
id-TransmissionStopIndicator                   ProtocolIE-ID
id-UE-associatedLogicalF1-ConnectionItem       ProtocolIE-ID
id-UE-associatedLogicalF1-ConnectionListResAck ProtocolIE-ID
id-gNB-CU-Name                                 ProtocolIE-ID
id-SCell-FailedtoSetup-List                    ProtocolIE-ID
id-SCell-FailedtoSetup-Item                    ProtocolIE-ID
id-SCell-FailedtoSetupMod-List                 ProtocolIE-ID
id-SCell-FailedtoSetupMod-Item                 ProtocolIE-ID
id-RRCRconfigurationCompleteIndicator          ProtocolIE-ID
id-Active-Cells-Item                           ProtocolIE-ID
id-Active-Cells-List                           ProtocolIE-ID
id-Candidate-SpCell-List                       ProtocolIE-ID
id-Candidate-SpCell-Item                       ProtocolIE-ID
id-Potential-SpCell-List                       ProtocolIE-ID
id-Potential-SpCell-Item                       ProtocolIE-ID
#.END

#.REGISTER

#F1AP-PROTOCOL-IES
Cause                                       N f1ap.ies id-Cause
Cells-Failed-to-be-Activated-List           N f1ap.ies id-Cells-Failed-to-be-Activated-List
Cells-Failed-to-be-Activated-List-Item      N f1ap.ies id-Cells-Failed-to-be-Activated-List-Item
Cells-to-be-Activated-List                  N f1ap.ies id-Cells-to-be-Activated-List
Cells-to-be-Activated-List-Item             N f1ap.ies id-Cells-to-be-Activated-List-Item
Cells-to-be-Deactivated-List                N f1ap.ies id-Cells-to-be-Deactivated-List
Cells-to-be-Deactivated-List-Item           N f1ap.ies id-Cells-to-be-Deactivated-List-Item
CriticalityDiagnostics                      N f1ap.ies id-CriticalityDiagnostics
CUtoDURRCInformation                        N f1ap.ies id-CUtoDURRCInformation
DRBs-FailedToBeModifiedConf-Item            N f1ap.ies id-DRBs-FailedToBeModifiedConf-Item
DRBs-FailedToBeModifiedConf-List            N f1ap.ies id-DRBs-FailedToBeModifiedConf-List
DRBs-FailedToBeModified-Item                N f1ap.ies id-DRBs-FailedToBeModified-Item
DRBs-FailedToBeModified-List                N f1ap.ies id-DRBs-FailedToBeModified-List
DRBs-FailedToBeSetup-Item                   N f1ap.ies id-DRBs-FailedToBeSetup-Item
DRBs-FailedToBeSetup-List                   N f1ap.ies id-DRBs-FailedToBeSetup-List
DRBs-FailedToBeSetupMod-Item                N f1ap.ies id-DRBs-FailedToBeSetupMod-Item
DRBs-FailedToBeSetupMod-List                N f1ap.ies id-DRBs-FailedToBeSetupMod-List
DRBs-ModifiedConf-Item                      N f1ap.ies id-DRBs-ModifiedConf-Item
DRBs-ModifiedConf-List                      N f1ap.ies id-DRBs-ModifiedConf-List
DRBs-Modified-Item                          N f1ap.ies id-DRBs-Modified-Item
DRBs-Modified-List                          N f1ap.ies id-DRBs-Modified-List
DRBs-Required-ToBeModified-Item             N f1ap.ies id-DRBs-Required-ToBeModified-Item
DRBs-Required-ToBeModified-List             N f1ap.ies id-DRBs-Required-ToBeModified-List
DRBs-Required-ToBeReleased-Item             N f1ap.ies id-DRBs-Required-ToBeReleased-Item
DRBs-Required-ToBeReleased-List             N f1ap.ies id-DRBs-Required-ToBeReleased-List
DRBs-Setup-Item                             N f1ap.ies id-DRBs-Setup-Item
DRBs-Setup-List                             N f1ap.ies id-DRBs-Setup-List
DRBs-SetupMod-Item                          N f1ap.ies id-DRBs-SetupMod-Item
DRBs-SetupMod-List                          N f1ap.ies id-DRBs-SetupMod-List
DRBs-ToBeModified-Item                      N f1ap.ies id-DRBs-ToBeModified-Item
DRBs-ToBeModified-List                      N f1ap.ies id-DRBs-ToBeModified-List
DRBs-ToBeReleased-Item                      N f1ap.ies id-DRBs-ToBeReleased-Item
DRBs-ToBeReleased-List                      N f1ap.ies id-DRBs-ToBeReleased-List
DRBs-ToBeSetup-Item                         N f1ap.ies id-DRBs-ToBeSetup-Item
DRBs-ToBeSetup-List                         N f1ap.ies id-DRBs-ToBeSetup-List
DRBs-ToBeSetupMod-Item                      N f1ap.ies id-DRBs-ToBeSetupMod-Item
DRBs-ToBeSetupMod-List                      N f1ap.ies id-DRBs-ToBeSetupMod-List
DRXCycle                                    N f1ap.ies id-DRXCycle
DUtoCURRCInformation                        N f1ap.ies id-DUtoCURRCInformation
GNB-CU-UE-F1AP-ID                           N f1ap.ies id-gNB-CU-UE-F1AP-ID
GNB-DU-UE-F1AP-ID                           N f1ap.ies id-gNB-DU-UE-F1AP-ID
GNB-DU-ID                                   N f1ap.ies id-gNB-DU-ID
GNB-DU-Served-Cells-Item                    N f1ap.ies id-GNB-DU-Served-Cells-Item
GNB-DU-Served-Cells-List                    N f1ap.ies id-gNB-DU-Served-Cells-List
GNB-DU-Name                                 N f1ap.ies id-gNB-DU-Name
GNB-DU-UE-F1AP-ID                           N f1ap.ies id-oldgNB-DU-UE-F1AP-ID
ResetType                                   N f1ap.ies id-ResetType
ResourceCoordinationTransferContainer       N f1ap.ies id-ResourceCoordinationTransferContainer
RRCContainer                                N f1ap.ies id-RRCContainer
SCell-ToBeRemoved-Item                      N f1ap.ies id-SCell-ToBeRemoved-Item
SCell-ToBeRemoved-List                      N f1ap.ies id-SCell-ToBeRemoved-List
SCell-ToBeSetup-Item                        N f1ap.ies id-SCell-ToBeSetup-Item
SCell-ToBeSetup-List                        N f1ap.ies id-SCell-ToBeSetup-List
SCell-ToBeSetupMod-Item                     N f1ap.ies id-SCell-ToBeSetupMod-Item
SCell-ToBeSetupMod-List                     N f1ap.ies id-SCell-ToBeSetupMod-List
Served-Cells-To-Add-Item                    N f1ap.ies id-Served-Cells-To-Add-Item
Served-Cells-To-Add-List                    N f1ap.ies id-Served-Cells-To-Add-List
Served-Cells-To-Delete-Item                 N f1ap.ies id-Served-Cells-To-Delete-Item
Served-Cells-To-Delete-List                 N f1ap.ies id-Served-Cells-To-Delete-List
Served-Cells-To-Modify-Item                 N f1ap.ies id-Served-Cells-To-Modify-Item
Served-Cells-To-Modify-List                 N f1ap.ies id-Served-Cells-To-Modify-List
NRCGI                                       N f1ap.ies id-SpCell-ID
SRBID                                       N f1ap.ies id-SRBID
SRBs-FailedToBeSetup-Item                   N f1ap.ies id-SRBs-FailedToBeSetup-Item
SRBs-FailedToBeSetup-List                   N f1ap.ies id-SRBs-FailedToBeSetup-List
SRBs-FailedToBeSetupMod-Item                N f1ap.ies id-SRBs-FailedToBeSetupMod-Item
SRBs-FailedToBeSetupMod-List                N f1ap.ies id-SRBs-FailedToBeSetupMod-List
SRBs-Required-ToBeReleased-Item             N f1ap.ies id-SRBs-Required-ToBeReleased-Item
SRBs-Required-ToBeReleased-List             N f1ap.ies id-SRBs-Required-ToBeReleased-List
SRBs-ToBeReleased-Item                      N f1ap.ies id-SRBs-ToBeReleased-Item
SRBs-ToBeReleased-List                      N f1ap.ies id-SRBs-ToBeReleased-List
SRBs-ToBeSetup-Item                         N f1ap.ies id-SRBs-ToBeSetup-Item
SRBs-ToBeSetup-List                         N f1ap.ies id-SRBs-ToBeSetup-List
SRBs-ToBeSetupMod-Item                      N f1ap.ies id-SRBs-ToBeSetupMod-Item
SRBs-ToBeSetupMod-List                      N f1ap.ies id-SRBs-ToBeSetupMod-List
TimeToWait                                  N f1ap.ies id-TimeToWait
TransactionID                               N f1ap.ies id-TransactionID
TransmissionStopIndicator                   N f1ap.ies id-TransmissionStopIndicator
UE-associatedLogicalF1-ConnectionItem       N f1ap.ies id-UE-associatedLogicalF1-ConnectionItem
UE-associatedLogicalF1-ConnectionListResAck N f1ap.ies id-UE-associatedLogicalF1-ConnectionListResAck
GNB-CU-Name                                 N f1ap.ies id-gNB-CU-Name
SCell-FailedtoSetup-List                    N f1ap.ies id-SCell-FailedtoSetup-List
SCell-FailedtoSetup-Item                    N f1ap.ies id-SCell-FailedtoSetup-Item
SCell-FailedtoSetupMod-List                 N f1ap.ies id-SCell-FailedtoSetupMod-List
SCell-FailedtoSetupMod-Item                 N f1ap.ies id-SCell-FailedtoSetupMod-Item
RRCRconfigurationCompleteIndicator          N f1ap.ies id-RRCRconfigurationCompleteIndicator
Active-Cells-Item                           N f1ap.ies id-Active-Cells-Item
Active-Cells-List                           N f1ap.ies id-Active-Cells-List
Candidate-SpCell-List                       N f1ap.ies id-Candidate-SpCell-List
Candidate-SpCell-Item                       N f1ap.ies id-Candidate-SpCell-Item
Potential-SpCell-List                       N f1ap.ies id-Potential-SpCell-List
Potential-SpCell-Item                       N f1ap.ies id-Potential-SpCell-Item

#F1AP-PROTOCOL-EXTENSION

#F1AP-ELEMENTARY-PROCEDURE
Reset                               N f1ap.proc.imsg id-Reset
ResetAcknowledge                    N f1ap.proc.sout id-Reset

F1SetupRequest                      N f1ap.proc.imsg id-F1Setup
F1SetupResponse                     N f1ap.proc.sout id-F1Setup
F1SetupFailure                      N f1ap.proc.uout id-F1Setup

GNBDUConfigurationUpdate            N f1ap.proc.imsg id-gNBDUConfigurationUpdate
GNBDUConfigurationUpdateAcknowledge N f1ap.proc.sout id-gNBDUConfigurationUpdate
GNBDUConfigurationUpdateFailure     N f1ap.proc.uout id-gNBDUConfigurationUpdate

GNBCUConfigurationUpdate            N f1ap.proc.imsg id-gNBCUConfigurationUpdate
GNBCUConfigurationUpdateAcknowledge N f1ap.proc.sout id-gNBCUConfigurationUpdate
GNBCUConfigurationUpdateFailure     N f1ap.proc.uout id-gNBCUConfigurationUpdate

UEContextSetupRequest               N f1ap.proc.imsg id-UEContextSetup
UEContextSetupResponse              N f1ap.proc.sout id-UEContextSetup
UEContextSetupFailure               N f1ap.proc.uout id-UEContextSetup

UEContextReleaseCommand             N f1ap.proc.imsg id-UEContextRelease
UEContextReleaseComplete            N f1ap.proc.sout id-UEContextRelease

UEContextModificationRequest        N f1ap.proc.imsg id-UEContextModification
UEContextModificationResponse       N f1ap.proc.sout id-UEContextModification
UEContextModificationFailure        N f1ap.proc.uout id-UEContextModification

UEContextModificationRequired       N f1ap.proc.imsg id-UEContextModificationRequired
UEContextModificationConfirm        N f1ap.proc.sout id-UEContextModificationRequired

ErrorIndication                     N f1ap.proc.imsg id-ErrorIndication

UEContextReleaseRequest             N f1ap.proc.imsg id-UEContextReleaseRequest

DLRRCMessageTransfer                N f1ap.proc.imsg id-DLRRCMessageTransfer

ULRRCMessageTransfer                N f1ap.proc.imsg id-ULRRCMessageTransfer

PrivateMessage                      N f1ap.proc.imsg id-privateMessage


#.FN_BODY ResourceCoordinationTransferContainer VAL_PTR=&param_tvb
  tvbuff_t *param_tvb = NULL;
%(DEFAULT_BODY)s
  if (param_tvb) {
    proto_tree *subtree;
    f1ap_private_data_t *f1ap_data = f1ap_get_private_data(actx->pinfo);

    subtree = proto_item_add_subtree(actx->created_item, ett_f1ap_ResourceCoordinationTransferContainer);
    switch (f1ap_data->message_type) {
    case INITIATING_MESSAGE:
      switch (f1ap_data->procedure_code) {
      case id_UEContextSetup:
      case id_UEContextModification:
        dissect_x2ap_MeNBResourceCoordinationInformation_PDU(param_tvb, actx->pinfo, subtree, NULL);
        break;
      case id_UEContextModificationRequired:
        dissect_x2ap_SgNBResourceCoordinationInformation_PDU(param_tvb, actx->pinfo, subtree, NULL);
        break;
      default:
        break;
      }
      break;
    case SUCCESSFUL_OUTCOME:
      switch (f1ap_data->procedure_code) {
      case id_UEContextSetup:
      case id_UEContextModification:
        dissect_x2ap_SgNBResourceCoordinationInformation_PDU(param_tvb, actx->pinfo, subtree, NULL);
        break;
      case id_UEContextModificationRequired:
        dissect_x2ap_MeNBResourceCoordinationInformation_PDU(param_tvb, actx->pinfo, subtree, NULL);
        break;
      default:
        break;
      }
      break;
    default:
      break;
    }
  }

#.FN_BODY Served-Cell-Information/measurementTimingConfiguration VAL_PTR = &param_tvb
  tvbuff_t *param_tvb = NULL;
%(DEFAULT_BODY)s
  if (param_tvb) {
    proto_tree *subtree = proto_item_add_subtree(actx->created_item, ett_f1ap_measurementTimingConfiguration);
    dissect_nr_rrc_MeasurementTimingConfiguration_PDU(param_tvb, actx->pinfo, subtree, NULL);
  }

#.FN_BODY PLMN-Identity  VAL_PTR = &param_tvb
  tvbuff_t *param_tvb = NULL;
%(DEFAULT_BODY)s
  if (param_tvb) {
    proto_tree *subtree = proto_item_add_subtree(actx->created_item, ett_f1ap_PLMN_Identity);
    dissect_e212_mcc_mnc(param_tvb, actx->pinfo, subtree, 0, E212_NONE, FALSE);
  }

#.FN_BODY MIB-message VAL_PTR = &param_tvb
  tvbuff_t *param_tvb = NULL;
%(DEFAULT_BODY)s
  if (param_tvb) {
    proto_tree *subtree = proto_item_add_subtree(actx->created_item, ett_f1ap_MIB_message);
    dissect_nr_rrc_MIB_PDU(param_tvb, actx->pinfo, subtree, NULL);
  }

#.FN_BODY SIB1-message VAL_PTR = &param_tvb
  tvbuff_t *param_tvb = NULL;
%(DEFAULT_BODY)s
  if (param_tvb) {
    proto_tree *subtree = proto_item_add_subtree(actx->created_item, ett_f1ap_SIB1_message);
    dissect_nr_rrc_SIB1_PDU(param_tvb, actx->pinfo, subtree, NULL);
  }

#.TYPE_ATTR
BitRate DISPLAY=BASE_DEC|BASE_UNIT_STRING STRINGS=&units_bit_sec

#.FN_BODY CG-ConfigInfo VAL_PTR = &param_tvb
  tvbuff_t *param_tvb = NULL;
%(DEFAULT_BODY)s
  if (param_tvb) {
    proto_tree *subtree = proto_item_add_subtree(actx->created_item, ett_f1ap_SCG_Config_Info);
    dissect_nr_rrc_CG_ConfigInfo_PDU(param_tvb, actx->pinfo, subtree, NULL);
  }

#.FN_BODY UE-CapabilityRAT-ContainerList VAL_PTR = &param_tvb
  tvbuff_t *param_tvb = NULL;
%(DEFAULT_BODY)s
  if (param_tvb) {
    proto_tree *subtree = proto_item_add_subtree(actx->created_item, ett_f1ap_UE_CapabilityRAT_ContainerList);
    dissect_nr_rrc_UE_CapabilityRAT_ContainerList_PDU(param_tvb, actx->pinfo, subtree, NULL);
  }

#.FN_BODY CellGroupConfig VAL_PTR = &param_tvb
  tvbuff_t *param_tvb = NULL;
%(DEFAULT_BODY)s
  if (param_tvb) {
    proto_tree *subtree = proto_item_add_subtree(actx->created_item, ett_f1ap_CellGroupConfig);
    dissect_nr_rrc_CellGroupConfig_PDU(param_tvb, actx->pinfo, subtree, NULL);
  }

#.FN_BODY TransportLayerAddress VAL_PTR = &param_tvb
  tvbuff_t *param_tvb = NULL;
%(DEFAULT_BODY)s
  if (param_tvb) {
    proto_tree *subtree;
    gint tvb_len;

    tvb_len = tvb_reported_length(param_tvb);
    subtree = proto_item_add_subtree(actx->created_item, ett_f1ap_TransportLayerAddress);
    if (tvb_len == 4) {
      /* IPv4 */
       proto_tree_add_item(subtree, hf_f1ap_transportLayerAddressIPv4, param_tvb, 0, 4, ENC_BIG_ENDIAN);
    } else if (tvb_len == 16) {
      /* IPv6 */
       proto_tree_add_item(subtree, hf_f1ap_transportLayerAddressIPv6, param_tvb, 0, 16, ENC_NA);
    } else if (tvb_len == 20) {
      /* IPv4 */
       proto_tree_add_item(subtree, hf_f1ap_transportLayerAddressIPv4, param_tvb, 0, 4, ENC_BIG_ENDIAN);
      /* IPv6 */
       proto_tree_add_item(subtree, hf_f1ap_transportLayerAddressIPv6, param_tvb, 4, 16, ENC_NA);
    }
  }

#.FN_HDR Reset
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "Reset");
#.FN_HDR ResetAcknowledge
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "ResetAcknowledge");
#.FN_HDR F1SetupRequest
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "F1SetupRequest");
#.FN_HDR F1SetupResponse
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "F1SetupResponse");
#.FN_HDR F1SetupFailure
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "F1SetupFailure");
#.FN_HDR GNBDUConfigurationUpdate
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "GNBDUConfigurationUpdate");
#.FN_HDR GNBDUConfigurationUpdateAcknowledge
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "GNBDUConfigurationUpdateAcknowledge");
#.FN_HDR GNBDUConfigurationUpdateFailure
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "GNBDUConfigurationUpdateFailure");
#.FN_HDR GNBCUConfigurationUpdate
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "GNBCUConfigurationUpdate");
#.FN_HDR GNBCUConfigurationUpdateAcknowledge
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "GNBCUConfigurationUpdateAcknowledge");
#.FN_HDR GNBCUConfigurationUpdateFailure
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "GNBCUConfigurationUpdateFailure");
#.FN_HDR UEContextSetupRequest
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "UEContextSetupRequest");
#.FN_HDR UEContextSetupResponse
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "UEContextSetupResponse");
#.FN_HDR UEContextSetupFailure
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "UEContextSetupFailure");
#.FN_HDR UEContextReleaseCommand
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "UEContextReleaseCommand");
#.FN_HDR UEContextReleaseComplete
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "UEContextReleaseComplete");
#.FN_HDR UEContextModificationRequest
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "UEContextModificationRequest");
#.FN_HDR UEContextModificationResponse
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "UEContextModificationResponse");
#.FN_HDR UEContextModificationFailure
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "UEContextModificationFailure");
#.FN_HDR UEContextModificationRequired
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "UEContextModificationRequired");
#.FN_HDR UEContextModificationConfirm
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "UEContextModificationConfirm");
#.FN_HDR ErrorIndication
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "ErrorIndication");
#.FN_HDR UEContextReleaseRequest
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "UEContextReleaseRequest");
#.FN_HDR DLRRCMessageTransfer
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "DLRRCMessageTransfer");
#.FN_HDR ULRRCMessageTransfer
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "ULRRCMessageTransfer");
#.FN_HDR PrivateMessage
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "PrivateMessage");
#.END

#
# Editor modelines  -  http://www.wireshark.org/tools/modelines.html
#
# Local variables:
# c-basic-offset: 2
# tab-width: 8
# indent-tabs-mode: nil
# End:
#
# vi: set shiftwidth=2 tabstop=8 expandtab:
# :indentSize=2:tabSize=8:noTabs=true:
#
