# upl.cnf
# upl conformation file
# Copyright 2006-2007 Anders Broman 
# $Id$

#.OPT
PER
UNALIGNED
#.END

#.PDU
ULP-PDU
#.END


#.TYPE_RENAME
FrequencyInfo/modeSpecificInfo FrequencySpecificInfo
#.END

#.FIELD_RENAME
FrequencyInfo/modeSpecificInfo  modeSpecificFrequencyInfo
FrequencyInfo/modeSpecificInfo/fdd  fdd_fr
FrequencyInfo/modeSpecificInfo/tdd  tdd_fr
SlpSessionID/sessionID  sessionSlpID
SETId/min  minsi
#.END

#.FN_HDR ULP-PDU
	proto_tree_add_item(tree, proto_ulp, tvb, 0, -1, FALSE);

	if (check_col(actx->pinfo->cinfo, COL_PROTOCOL)) 
		col_set_str(actx->pinfo->cinfo, COL_PROTOCOL, PSNAME);
	if (check_col(actx->pinfo->cinfo, COL_INFO))
		col_clear(actx->pinfo->cinfo, COL_INFO);
#.END

#.FN_BODY UlpMessage  VAL_PTR = &UlpMessage

guint32 UlpMessage;

  %(DEFAULT_BODY)s

	if (check_col(%(ACTX)s->pinfo->cinfo, COL_INFO))
	{
	    col_append_fstr(%(ACTX)s->pinfo->cinfo, COL_INFO, "%%s ", val_to_str(UlpMessage,ulp_UlpMessage_vals,"Unknown"));
	}
#.END

#.FN_BODY PosPayLoad/rrlpPayload  VAL_PTR = &rrlp_tvb
 tvbuff_t *rrlp_tvb;

%(DEFAULT_BODY)s

  if (rrlp_tvb && rrlp_handle) {
	call_dissector(rrlp_handle, rrlp_tvb, %(ACTX)s->pinfo, tree);
  }

#.FN_BODY SETId/msisdn VAL_PTR = &parameter_tvb
 tvbuff_t *parameter_tvb;
 asn1_ctx_t		asn1_ctx;

 /* "Hide" the first dissection to avoid double tree entries */
 hf_index = -1;
%(DEFAULT_BODY)s

if(!parameter_tvb)
	return offset;
/* msisdn is ISDN-addressstring */
	asn1_ctx_init(&asn1_ctx, ASN1_ENC_PER, TRUE, actx->pinfo);
	dissect_gsm_map_ISDN_AddressString(TRUE, parameter_tvb, 0, &asn1_ctx, tree, hf_ulp_msisdn);

#.FN_BODY SETId/imsi VAL_PTR = &parameter_tvb
 tvbuff_t *parameter_tvb;
 asn1_ctx_t		asn1_ctx;

 /* "Hide" the first dissection to avoid double tree entries */
 hf_index = -1;
%(DEFAULT_BODY)s

if(!parameter_tvb)
	return offset;
	asn1_ctx_init(&asn1_ctx, ASN1_ENC_PER, TRUE, actx->pinfo);
	dissect_gsm_map_IMSI(TRUE, parameter_tvb, 0, &asn1_ctx, tree, hf_ulp_imsi);

#.TYPE_ATTR
IPAddress/ipv4Address TYPE = FT_IPv4  DISPLAY = BASE_NONE  STRINGS = NULL  
IPAddress/ipv6Address TYPE = FT_IPv6  DISPLAY = BASE_NONE  STRINGS = NULL  
#.END
