# charging ase.cnf
# charging ase conformation file
# Anders Broman 2009

#.EXPORTS
ChargingMessageType
ChargingMessageType_PDU

#.PDU
ChargingMessageType

#.FN_BODY ExtensionField/value

	proto_tree_add_expert(tree, actx->pinfo, &ei_charging_ase_extensions_not_dissected, tvb, offset, -1);
	return tvb_reported_length(tvb);
#.END
