# ansi_map.cnf
# ansi_map conformation file
# Copyright 2005-2007 Anders Broman

#.IMPORT ../gsm_map/gsm_map-exp.cnf
#.EXPORTS

#.OMIT_ASSIGNMENT
DetectionPointType
EnhancedPrivacyEncryptionReport
MINExtension

#.USE_VALS_EXT
# AnnouncementCode-std-ann
TriggerType
SMS-CauseCode
SystemMyTypeCode
# AnnouncementCode-tone
DMH-RedirectionIndicator
ActionCode
SignalQuality
# AlertCode-Cadence
TerminalType

#.NO_EMIT
InvokeData
ReturnData

#.TYPE_RENAME

#.FIELD_RENAME



# N.S0005-0 v 1.0 TCAP Formats and Procedures 5-16 Application Services
# 6.3.2 Component Portion
# The Operation Code is partitioned into an Operation Family followed by a
# Specifier associated with each Operation Family member. For TIA/EIA-41 the
# Operation Family is coded as decimal 9. Bit H of the Operation Family is always
# coded as 0.

#.FN_BODY MINType VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_min_type(parameter_tvb,actx->pinfo,tree, actx);
	}

#.FN_BODY DigitsType VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_digits_type(parameter_tvb,actx->pinfo,tree, actx);
	}

#.FN_BODY Subaddress VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_subaddress(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.3 AlertCode
#.FN_BODY AlertCode VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_alertcode(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.5 AnnouncementCode
#.FN_BODY AnnouncementCode VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_announcementcode(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.14 AuthorizationPeriod
#.FN_BODY AuthorizationPeriod VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_authorizationperiod(parameter_tvb,actx->pinfo,tree, actx);
	}


# 6.5.2.16 BillingID
#.FN_BODY BillingID VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_billingid(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.20 CallingFeaturesIndicator
#.FN_BODY CallingFeaturesIndicator VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_callingfeaturesindicator(parameter_tvb,actx->pinfo,tree, actx);
	}
# 6.5.2.29 CDMACallMode
#.FN_BODY CDMACallMode VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_cdmacallmode(parameter_tvb,actx->pinfo,tree, actx);
	}
# 6.5.2.30 CDMAChannelData
#.FN_BODY CDMAChannelData VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_cdmachanneldata(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.41 CDMAStationClassMark
#.FN_BODY CDMAStationClassMark VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_cdmastationclassmark(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.47 ChannelData
#.FN_BODY ChannelData VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_channeldata(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.50 ConfidentialityModes
#.FN_BODY ConfidentialityModes VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_confidentialitymodes(parameter_tvb,actx->pinfo,tree, actx);
	}
# 6.5.2.51 ControlChannelData
#.FN_BODY ControlChannelData VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_controlchanneldata(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.53 DeniedAuthorizationPeriod
#.FN_BODY DeniedAuthorizationPeriod VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_deniedauthorizationperiod(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.64 ExtendedMSCID
#.FN_BODY ExtendedMSCID VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_extendedmscid(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.65 ExtendedSystemMyTypeCode
#.FN_BODY ExtendedSystemMyTypeCode VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_extendedsystemmytypecode(parameter_tvb, actx->pinfo, tree, actx);
	}
#6.5.2.71 HandoffState
#.FN_BODY HandoffState VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_handoffstate(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.72 InterMSCCircuitID
#.FN_BODY InterMSCCircuitID VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_intermsccircuitid(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.78 MessageWaitingNotificationCount
#.FN_BODY MessageWaitingNotificationCount VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_messagewaitingnotificationcount(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.79 MessageWaitingNotificationType
#.FN_BODY MessageWaitingNotificationType VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_messagewaitingnotificationtype(parameter_tvb,actx->pinfo,tree, actx);
	}


# 6.5.2.82 MSCID
#.FN_BODY MSCID VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_mscid(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.84 MSLocation
#.FN_BODY MSLocation VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_mslocation(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.85 NAMPSCallMode
#.FN_BODY NAMPSCallMode VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_nampscallmode(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.86 NAMPSChannelData
#.FN_BODY NAMPSChannelData VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_nampschanneldata(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.88 OneTimeFeatureIndicator
#.FN_BODY OneTimeFeatureIndicator VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_onetimefeatureindicator(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.90 OriginationTriggers
#.FN_BODY OriginationTriggers VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_originationtriggers(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.91 PACAIndicator
#.FN_BODY PACAIndicator VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_pacaindicator(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.93 PC_SSN
#.FN_BODY PC-SSN VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_pc_ssn(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.94 PilotBillingID
#.FN_BODY PilotBillingID VAL_PTR = &parameter_tvb

	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_pilotbillingid(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.124
#.FN_BODY SMS-BearerData VAL_PTR = &SMS_BearerData_tvb
	int length;
	SMS_BearerData_tvb = NULL;

%(DEFAULT_BODY)s
	if (SMS_BearerData_tvb){
		/* A zero length OCTET STRING will return a zero length tvb */
		length = tvb_reported_length_remaining(SMS_BearerData_tvb,0);
		if (length <=0){
			proto_item_append_text(actx->created_item," length %%u",length);
			SMS_BearerData_tvb = NULL;
			return offset;
		}
		if (ansi_map_sms_tele_id != -1)
		{
			dissector_try_uint(is637_tele_id_dissector_table, ansi_map_sms_tele_id, SMS_BearerData_tvb, g_pinfo, g_tree);
		}
		else
		{
			switch(ServiceIndicator){
				case 1: /* CDMA OTASP Service */
				case 3: /* CDMA OTAPA Service */
					dissector_try_uint(is683_dissector_table, ansi_map_is_invoke ? 0 : 1, SMS_BearerData_tvb, g_pinfo, g_tree);
					break;
				case 4: /* CDMA Position Determination Service */
					dissector_try_uint(is801_dissector_table, ansi_map_is_invoke ? 0 : 1, SMS_BearerData_tvb, g_pinfo, g_tree);
					break;
				default:
					break;
			}
		}
	}

# 6.5.2.136 SMS-OriginationRestrictions
#.FN_BODY SMS-OriginationRestrictions VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_sms_originationrestrictions(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.137
# N.S0005-0 v 1.0
#.FN_BODY SMS-TeleserviceIdentifier VAL_PTR = &parameter_tvb

	int length;
	tvbuff_t *parameter_tvb = NULL;
	ansi_map_sms_tele_id = -1;

%(DEFAULT_BODY)s
	if (parameter_tvb){
		/* A zero length OCTET STRING will return a zero length tvb */
		length = tvb_reported_length_remaining(parameter_tvb,0);
		if (length <=0){
			proto_item_append_text(actx->created_item, " length %%u",length);
			return offset;
		}
		ansi_map_sms_tele_id = tvb_get_ntohs(tvb,0);
		if ((ansi_map_sms_tele_id != -1)&&(SMS_BearerData_tvb !=NULL))
		{
		    dissector_try_uint(is637_tele_id_dissector_table, ansi_map_sms_tele_id, SMS_BearerData_tvb, g_pinfo, g_tree);
		}
	}

# 6.5.2.146 SystemCapabilities */
# Updated in N.S0008-0 v 1.0 */
#.FN_BODY SystemCapabilities VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_systemcapabilities(parameter_tvb,actx->pinfo,tree, actx);
	}


# 6.5.2.159 TerminationTriggers
#.FN_BODY TerminationTriggers VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_terminationtriggers(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.160 TransactionCapability
#.FN_BODY TransactionCapability VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_transactioncapability(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.f (TSB76) CDMAServiceOption N.S0010-0 v 1.0
#.FN_BODY CDMAServiceOption VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_cdmaserviceoption(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.aj SecondInterMSCCircuitID
# -- XXX Same code as ISLPinformation???

# 6.5.2.bw CallingPartyName N.S0012-0 v 1.0
#.FN_BODY CallingPartyName VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_callingpartyname(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.df TriggerCapability
#.FN_BODY TriggerCapability VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_triggercapability(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.dj WINOperationsCapability
#.FN_BODY WINOperationsCapability VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_winoperationscapability(parameter_tvb,actx->pinfo,tree, actx);
	}
# 6.5.2.dk WIN-TriggerList
#.FN_BODY WIN-TriggerList VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_win_trigger_list(parameter_tvb,actx->pinfo,tree, actx);
	}

# 6.5.2.ek ControlNetworkID
#.FN_BODY ControlNetworkID VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		dissect_ansi_map_controlnetworkid(parameter_tvb,actx->pinfo,tree, actx);
	}

#6.5.2.gm CDMA2000HandoffInvokeIOSData
#.FN_BODY CDMA2000HandoffInvokeIOSData VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
    proto_tree *subtree;

%(DEFAULT_BODY)s
	if (parameter_tvb){
		subtree = proto_item_add_subtree(actx->created_item, ett_CDMA2000HandoffInvokeIOSData);
		dissect_cdma2000_a1_elements(parameter_tvb, actx->pinfo, subtree,
			0, tvb_reported_length_remaining(parameter_tvb,0));
	}
#6.5.2.gn CDMA2000HandoffResponseIOSData
#.FN_BODY CDMA2000HandoffResponseIOSData VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
    proto_tree *subtree;

%(DEFAULT_BODY)s
	if (parameter_tvb){
		subtree = proto_item_add_subtree(actx->created_item, ett_CDMA2000HandoffResponseIOSData);
		dissect_cdma2000_a1_elements(parameter_tvb, actx->pinfo, subtree,
			0, tvb_reported_length_remaining(parameter_tvb,0));
	}
#6.5.2.wB ServiceIndicator N.S0011-0 v 1.0
#.FN_BODY ServiceIndicator VAL_PTR = &parameter_tvb
	tvbuff_t *parameter_tvb = NULL;
%(DEFAULT_BODY)s
	if (parameter_tvb){
		ServiceIndicator = tvb_get_guint8(parameter_tvb,0);
		if (SMS_BearerData_tvb !=NULL)
		{
			switch(ServiceIndicator){
				case 1: /* CDMA OTASP Service */
				case 3: /* CDMA OTAPA Service */
					dissector_try_uint(is683_dissector_table, ansi_map_is_invoke ? 0 : 1, SMS_BearerData_tvb, g_pinfo, g_tree);
					break;
				case 4: /* CDMA Position Determination Service */
					dissector_try_uint(is801_dissector_table, ansi_map_is_invoke ? 0 : 1, SMS_BearerData_tvb, g_pinfo, g_tree);
					break;
				default:
					break;
			}
		}
	}

#.TYPE_ATTR
# Dont't put the bytes after the name in the display
CDMA2000HandoffInvokeIOSData TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
CDMA2000HandoffResponseIOSData TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
InterMSCCircuitID TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
MobileIdentificationNumber TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
MobileStationMIN TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
CallingPartyNumberString1 TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
CallingPartyNumberString2 TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
SMS-Address TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
SMS-DestinationAddress TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
SMS-OriginatingAddress TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
SMS-OriginalOriginatingAddress TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
SMS-OriginalDestinationAddress TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
SenderIdentificationNumber TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
MobileDirectoryNumber TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
Digits TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
MSCIdentificationNumber TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
NewlyAssignedMIN TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
RedirectingNumberDigits = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
RedirectingNumberString = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
CallingPartyNumberDigits1 = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
CallingPartyNumberDigits2 = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL
TemporaryReferenceNumber TYPE = FT_NONE DISPLAY = BASE_NONE STRINGS = NULL

ActionCode   TYPE = FT_UINT8  DISPLAY = BASE_DEC|BASE_EXT_STRING  STRINGS = &ansi_map_ActionCode_vals_ext
AuthenticationCapability TYPE = FT_UINT8  DISPLAY = BASE_DEC  STRINGS = VALS(ansi_map_AuthenticationCapability_vals)
AlertResult   TYPE = FT_UINT8  DISPLAY = BASE_DEC  STRINGS = VALS(ansi_map_AlertResult_result_vals)
AvailabilityType TYPE = FT_UINT8  DISPLAY = BASE_DEC  STRINGS = VALS(ansi_map_AvailabilityType_vals)
CancellationType TYPE = FT_UINT8  DISPLAY = BASE_DEC  STRINGS = VALS(ansi_map_CancellationType_vals)
GeographicAuthorization TYPE = FT_UINT8  DISPLAY = BASE_DEC  STRINGS = VALS(ansi_map_GeographicAuthorization_vals)
CountUpdateReport TYPE = FT_UINT8  DISPLAY = BASE_DEC  STRINGS = VALS(ansi_map_CountUpdateReport_vals)
ControlChannelMode  TYPE = FT_UINT8  DISPLAY = BASE_DEC  STRINGS = VALS(ansi_map_ControlChannelMode_vals)
PageIndicator  TYPE = FT_UINT8  DISPLAY = BASE_DEC  STRINGS = VALS(ansi_map_PageIndicator_vals)
SMS-AccessDeniedReason  TYPE = FT_UINT8  DISPLAY = BASE_DEC  STRINGS = VALS(ansi_map_SMS_AccessDeniedReason_vals)
SMS-CauseCode  TYPE = FT_UINT8  DISPLAY = BASE_DEC|BASE_EXT_STRING  STRINGS = &ansi_map_SMS_CauseCode_vals_ext
SMS-ChargeIndicator TYPE = FT_UINT8  DISPLAY = BASE_DEC   STRINGS = VALS(ansi_map_SMS_ChargeIndicator_vals)
SMS-NotificationIndicator TYPE = FT_UINT8  DISPLAY = BASE_DEC   STRINGS = VALS(ansi_map_SMS_NotificationIndicator_vals)
#SMS-TeleserviceIdentifier TYPE = FT_UINT16  DISPLAY = BASE_DEC STRINGS = VALS(ansi_map_SMS_TeleserviceIdentifier_vals)
TDMABandwidth TYPE = FT_UINT8  DISPLAY = BASE_DEC  BITMASK = 0x0f STRINGS = VALS(ansi_map_TDMABandwidth_vals)
TDMAServiceCode TYPE = FT_UINT8  DISPLAY = BASE_DEC   STRINGS = VALS(ansi_map_TDMAServiceCode_vals)
OTASP-ResultCode TYPE = FT_UINT8  DISPLAY = BASE_DEC   STRINGS = VALS(ansi_map_OTASP_ResultCode_vals)
ServiceIndicator TYPE = FT_UINT8  DISPLAY = BASE_DEC   STRINGS = VALS(ansi_map_ServiceIndicator_vals)
TerminationAccessType TYPE = FT_UINT8  DISPLAY = BASE_DEC   STRINGS = VALS(ansi_map_TerminationAccessType_vals)
TerminationTreatment  TYPE = FT_UINT8  DISPLAY = BASE_DEC   STRINGS = VALS(ansi_map_TerminationTreatment_vals)
SignalingMessageEncryptionReport TYPE = FT_UINT8  DISPLAY = BASE_DEC   STRINGS = VALS(ansi_map_SMEReport_vals)
VoicePrivacyReport TYPE = FT_UINT8  DISPLAY = BASE_DEC   STRINGS = VALS(ansi_map_VoicePrivacyReport_vals)
PreferredLanguageIndicator TYPE = FT_UINT8  DISPLAY = BASE_DEC   STRINGS = VALS(ansi_map_PreferredLanguageIndicator_vals)
SetupResult TYPE = FT_UINT8  DISPLAY = BASE_DEC   STRINGS = VALS(ansi_map_SetupResult_vals)
UniqueChallengeReport TYPE = FT_UINT8  DISPLAY = BASE_DEC   STRINGS = VALS(ansi_map_UniqueChallengeReport_vals)
ISLPInformation TYPE = FT_UINT8  DISPLAY = BASE_DEC   STRINGS = VALS(ansi_map_islp_type_vals)
ServiceRedirectionCause  TYPE = FT_UINT8  DISPLAY = BASE_DEC   STRINGS = VALS(ansi_map_ServiceRedirectionCause_type_vals)
SSDUpdateReport   TYPE = FT_UINT16  DISPLAY = BASE_DEC   STRINGS = VALS(ansi_map_SSDUpdateReport_vals)
ReauthenticationReport   TYPE = FT_UINT8  DISPLAY = BASE_DEC   STRINGS = VALS(ansi_map_ReauthenticationReport_vals)
MSIDUsage TYPE = FT_UINT8  DISPLAY = BASE_DEC  BITMASK = 0x03 STRINGS = VALS(ansi_MSIDUsage_m_or_i_vals)
BSMCStatus  TYPE = FT_UINT8  DISPLAY = BASE_DEC  BITMASK = 0x03 STRINGS = VALS(ansi_map_BSMCStatus_vals)
PagingFrameClass   TYPE = FT_UINT8  DISPLAY = BASE_DEC  BITMASK = 0x03 STRINGS = VALS(ansi_map_PagingFrameClass_vals)
ServicesResult TYPE = FT_UINT8  DISPLAY = BASE_DEC  BITMASK = 0x03 STRINGS = VALS(ansi_map_ServicesResult_ppr_vals)
SOCStatus TYPE = FT_UINT8  DISPLAY = BASE_DEC  BITMASK = 0x03 STRINGS = VALS(ansi_map_SOCStatus_vals)
#.END
