# Conformance file for iwbemloginclientid

MANUAL IWbemLoginClientID_dissect_element_SetClientInfo_orpcthis
MANUAL IWbemLoginClientID_dissect_element_SetClientInfo_orpcthat_

ETT_FIELD ett_IWbemLoginClientID_SetClientInfo_orpcthis
ETT_FIELD ett_IWbemLoginClientID_SetClientInfo_orpcthat

CODE START

	#include "packet-dcom.h"

/* SetClientInfo */
static int
IWbemLoginClientID_dissect_element_SetClientInfo_orpcthis(tvbuff_t *tvb _U_, int offset _U_, packet_info *pinfo _U_, proto_tree *tree _U_, dcerpc_info* di _U_, uint8_t *drep _U_)
{
	proto_item *sub_item;
	proto_tree *sub_tree;

	sub_item = proto_tree_add_item(tree, hf_IWbemLoginClientID_SetClientInfo_orpcthis, tvb, offset, 0, ENC_NA);
	sub_tree = proto_item_add_subtree(sub_item, ett_IWbemLoginClientID_SetClientInfo_orpcthis);

	offset = dissect_dcom_this(tvb, offset, pinfo, sub_tree, di, drep);

	return offset;
}

static int
IWbemLoginClientID_dissect_element_SetClientInfo_orpcthat_(tvbuff_t *tvb _U_, int offset _U_, packet_info *pinfo _U_, proto_tree *tree _U_, dcerpc_info* di _U_, uint8_t *drep _U_)
{
	proto_item *sub_item;
	proto_tree *sub_tree;

	sub_item = proto_tree_add_item(tree, hf_IWbemLoginClientID_SetClientInfo_orpcthat, tvb, offset, 0, ENC_NA);
	sub_tree = proto_item_add_subtree(sub_item, ett_IWbemLoginClientID_SetClientInfo_orpcthat);

	offset = dissect_dcom_that(tvb, offset, pinfo, sub_tree, di, drep);

	return offset;
}

CODE END