#.IMPORT ../x509sat/x509sat-exp.cnf
#.IMPORT ../x509if/x509if-exp.cnf
#.IMPORT ../x509af/x509af-exp.cnf
#.IMPORT ../dsp/dsp-exp.cnf
#.IMPORT ../dap/dap-exp.cnf
#.IMPORT ../crmf/crmf-exp.cnf

#.MODULE_IMPORT
BasicAccessControl		crmf

#.EXPORTS
DSEType
SupplierAndConsumers
OperationalBindingID

#.NO_EMIT ONLY_VALS
EstablishOperationalBindingArgument
ModifyOperationalBindingArgument
ModifyOperationalBindingResult
TerminateOperationalBindingArgument
TerminateOperationalBindingResult

#.TYPE_RENAME
EstablishOperationalBindingArgumentData/initiator	EstablishArgumentInitiator
ModifyOperationalBindingArgumentData/initiator		ModifyArgumentInitiator
TerminateOperationalBindingArgumentData/initiator	TerminateArgumentInitiator

ModifyOperationalBindingArgumentData/newAgreement	ArgumentNewAgreement
ModifyOperationalBindingResultData/newAgreement		ResultNewAgreement

ModifyOperationalBindingResult/protected		ProtectedModifyResult
TerminateOperationalBindingResult/protected		ProtectedTerminateResult

EstablishOperationalBindingArgumentData/initiator/roleA-initiates	EstablishRoleAInitiates
ModifyOperationalBindingArgumentData/initiator/roleA-initiates		ModifyRoleAInitiates
TerminateOperationalBindingArgumentData/initiator/roleA-initiates	TerminateRoleAInitiates

EstablishOperationalBindingArgumentData/initiator/roleB-initiates	EstablishRoleBInitiates
ModifyOperationalBindingArgumentData/initiator/roleB-initiates		ModifyRoleBInitiates
TerminateOperationalBindingArgumentData/initiator/roleB-initiates	TerminateRoleBInitiates

EstablishOperationalBindingArgumentData/initiator/symmetric		EstablishSymmetric
ModifyOperationalBindingArgumentData/initiator/symmetric		ModifySymmetric
TerminateOperationalBindingArgumentData/initiator/symmetric		TerminateSymmetric


#.FIELD_RENAME
EstablishOperationalBindingArgumentData/initiator	establishInitiator
ModifyOperationalBindingArgumentData/initiator		modifyInitiator
TerminateOperationalBindingArgumentData/initiator	terminateInitiator

ModifyOperationalBindingArgumentData/newAgreement	argumentNewAgreement
ModifyOperationalBindingResultData/newAgreement		resultNewAgreement

ModifyOperationalBindingResult/protected		protectedModifyResult
TerminateOperationalBindingResult/protected		protectedTerminateResult

EstablishOperationalBindingArgumentData/initiator/roleA-initiates	establishRoleAInitiates
ModifyOperationalBindingArgumentData/initiator/roleA-initiates		modifyRoleAInitiates
TerminateOperationalBindingArgumentData/initiator/roleA-initiates	terminateRoleAInitiates

EstablishOperationalBindingArgumentData/initiator/roleB-initiates	establishRoleBInitiates
ModifyOperationalBindingArgumentData/initiator/roleB-initiates		modifyRoleBInitiates
TerminateOperationalBindingArgumentData/initiator/roleB-initiates	terminateRoleBInitiates

EstablishOperationalBindingArgumentData/initiator/symmetric		establishSymmetric
ModifyOperationalBindingArgumentData/initiator/symmetric		modifySymmetric
TerminateOperationalBindingArgumentData/initiator/symmetric		terminateSymmetric

TerminateOperationalBindingArgumentData/terminateAt			terminateAtTime
TerminateOperationalBindingResultData/terminateAt			terminateAtGeneralizedTime


#.REGISTER
DSEType					B "2.5.12.0" "id-doa-dseType"
SupplierInformation		B "2.5.12.5" "id-doa-supplierKnowledge"
ConsumerInformation		B "2.5.12.6" "id-doa-consumerKnowledge"
SupplierAndConsumers		B "2.5.12.7" "id-doa-secondaryShadows"

HierarchicalAgreement				S dop.oid	"agreement.2.5.19.2"
SuperiorToSubordinate				S dop.oid	"establish.rolea.2.5.19.2"
SuperiorToSubordinateModification	S dop.oid	"modify.rolea.2.5.19.2"
SubordinateToSuperior				S dop.oid	"establish.roleb.2.5.19.2"
SubordinateToSuperior				S dop.oid	"modify.roleb.2.5.19.2"

NonSpecificHierarchicalAgreement	S dop.oid	"agreement.2.5.19.3"
NHOBSuperiorToSubordinate			S dop.oid	"establish.rolea.2.5.19.3"
NHOBSuperiorToSubordinate			S dop.oid	"modify.rolea.2.5.19.3"
NHOBSubordinateToSuperior			S dop.oid	"establish.roleb.2.5.19.3"
NHOBSubordinateToSuperior			S dop.oid	"modify.roleb.2.5.19.3"

ACIItem		B	"2.5.24.4" "id-aca-prescriptiveACI"
ACIItem		B	"2.5.24.5" "id-aca-entryACI"
ACIItem		B	"2.5.24.6" "id-aca-subentryACI"

#.VIRTUAL_ASSGN
BindingType EstablishOperationalBindingArgumentData/bindingType
#.SET_TYPE
EstablishOperationalBindingArgumentData/bindingType  BindingType
EstablishOperationalBindingResult/bindingType  BindingType
ModifyOperationalBindingArgumentData/bindingType  BindingType
ModifyOperationalBindingResultData/bindingType  BindingType
TerminateOperationalBindingArgumentData/bindingType  BindingType
TerminateOperationalBindingResultData/bindingType  BindingType
OpBindingErrorParam/bindingType  BindingType
#.END

#.FN_PARS	BindingType  FN_VARIANT = _str VAL_PTR = &binding_type
#.FN_FTR	BindingType
  append_oid(actx->pinfo, binding_type);
#.END

#.FN_BODY	EstablishOperationalBindingArgumentData/initiator/symmetric

  offset = call_dop_oid_callback("establish.symmetric", tvb, offset, actx->pinfo, tree, "symmetric", actx->private_data);

#.FN_BODY	EstablishOperationalBindingArgumentData/initiator/roleA-initiates

  offset = call_dop_oid_callback("establish.rolea", tvb, offset, actx->pinfo, tree, "roleA", actx->private_data);

#.FN_BODY	EstablishOperationalBindingArgumentData/initiator/roleB-initiates

  offset = call_dop_oid_callback("establish.roleb", tvb, offset, actx->pinfo, tree, "roleB", actx->private_data);

#.FN_BODY	ModifyOperationalBindingArgumentData/initiator/symmetric

  offset = call_dop_oid_callback("modify.symmetric", tvb, offset, actx->pinfo, tree, "symmetric", actx->private_data);

#.FN_BODY	ModifyOperationalBindingArgumentData/initiator/roleA-initiates

  offset = call_dop_oid_callback("modify.rolea", tvb, offset, actx->pinfo, tree, "roleA", actx->private_data);

#.FN_BODY	ModifyOperationalBindingArgumentData/initiator/roleB-initiates

  offset = call_dop_oid_callback("modify.roleb", tvb, offset, actx->pinfo, tree, "roleB", actx->private_data);

#.FN_BODY	TerminateOperationalBindingArgumentData/initiator/symmetric

  offset = call_dop_oid_callback("terminate.symmetric", tvb, offset, actx->pinfo, tree, "symmetric", actx->private_data);

#.FN_BODY	TerminateOperationalBindingArgumentData/initiator/roleA-initiates

  offset = call_dop_oid_callback("terminate.rolea", tvb, offset, actx->pinfo, tree, "roleA", actx->private_data);

#.FN_BODY	TerminateOperationalBindingArgumentData/initiator/roleB-initiates

  offset = call_dop_oid_callback("terminate.roleb", tvb, offset, actx->pinfo, tree, "roleB", actx->private_data);

#.FN_BODY	EstablishOperationalBindingArgumentData/agreement

  offset = call_dop_oid_callback("agreement", tvb, offset, actx->pinfo, tree, NULL, actx->private_data);

#.FN_BODY	EstablishOperationalBindingResult/initiator/symmetric

  offset = call_dop_oid_callback("establish.symmetric", tvb, offset, actx->pinfo, tree, "symmetric", actx->private_data);

#.FN_BODY	EstablishOperationalBindingResult/initiator/roleA-replies

  offset = call_dop_oid_callback("establish.rolea", tvb, offset, actx->pinfo, tree, "roleA", actx->private_data);

#.FN_BODY	EstablishOperationalBindingResult/initiator/roleB-replies

  offset = call_dop_oid_callback("establish.roleb", tvb, offset, actx->pinfo, tree, "roleB", actx->private_data);

#.FN_BODY	OpBindingErrorParam/agreementProposal

  offset = call_dop_oid_callback("agreement", tvb, offset, actx->pinfo, tree, NULL, actx->private_data);

#.FN_BODY	ModifyOperationalBindingResultData/newAgreement

  offset = call_dop_oid_callback("agreement", tvb, offset, actx->pinfo, tree, NULL, actx->private_data);

#.FN_BODY	ModifyOperationalBindingArgumentData/newAgreement

  offset = call_dop_oid_callback("agreement", tvb, offset, actx->pinfo, tree, NULL, actx->private_data);


#.FN_BODY OperationalBindingID/identifier  VAL_PTR	= &value
	guint32	value;

	%(DEFAULT_BODY)s

	col_append_fstr(actx->pinfo->cinfo, COL_INFO, " id=%%d", value);



#.FN_BODY OperationalBindingID/version	VAL_PTR	= &value
	guint32	value;

	%(DEFAULT_BODY)s

	col_append_fstr(actx->pinfo->cinfo, COL_INFO, ",%%d", value);

#.FN_PARS Precedence VAL_PTR = &precedence

#.FN_BODY Precedence
  guint32 precedence = 0;

  %(DEFAULT_BODY)s

  proto_item_append_text(tree, " precedence=%%d", precedence);

