# lppe.cnf
# llpe conformation file
# Copyright 2012-2014 Pascal Quantin

#.OPT
PER
UNALIGNED
#.END

#.IMPORT ../lpp/lpp-exp.cnf

#.PDU
OMA-LPPe-MessageExtension
#.END

#.OMIT_ASSIGNMENT
OMA-LPPe-ver1-1-BroadcastContainer
OMA-LPPe-ver1-1-BroadcastMessage
OMA-LPPe-ver1-1-BroadcastControlIEs
OMA-LPPe-ver1-1-CipheringIEs
OMA-LPPe-ver1-1-DigitalSignature

#.FN_HDR OMA-LPPe-MessageExtension

  proto_tree_add_item(tree, proto_lppe, tvb, 0, -1, ENC_NA);

  col_append_sep_str(actx->pinfo->cinfo, COL_PROTOCOL, "/", "LPPe");

#.FN_BODY OMA-LPPe-Uri
  offset = dissect_per_restricted_character_string(tvb, offset, actx, tree, hf_index,
                                                      NO_BOUND, NO_BOUND, FALSE, "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789:/?#[]@!$&'()*+,;=-._~%%", 85,
                                                      NULL);

#.END

