#.TYPE_ATTR
Time			TYPE = FT_STRING  DISPLAY = BASE_NONE  STRING = NULL BITMASK = 0

#.MODULE_IMPORT
OperationalBindingManagement	dop

#.IMPORT ../x509if/x509if-exp.cnf
#.IMPORT ../x509af/x509af-exp.cnf
#.IMPORT ../dap/dap-exp.cnf
#.IMPORT ../dsp/dsp-exp.cnf
#.IMPORT ../dop/dop-exp.cnf

#.EXPORTS
AgreementID

#.NO_EMIT ONLY_VALS
CoordinateShadowUpdateArgument
RequestShadowUpdateArgument
UpdateShadowArgument
ShadowError

#.TYPE_RENAME
CoordinateShadowUpdateArgumentData/updateStrategy/standard	StandardUpdate

#.FIELD_RENAME
UnitOfReplication/attributes	replication-attributes
SubordinateChanges/changes	subordinate-changes
ModificationParameter/secondaryShadows	modifiedSecondaryShadows
CoordinateShadowUpdateArgumentData/updateStrategy/standard	standardUpdate
Information/signedInformation/information	information-data

#.REGISTER
ShadowingAgreementInfo	S dop.oid	"agreement.2.5.19.1"
EstablishParameter		S dop.oid	"establish.rolea.2.5.19.1"
EstablishParameter		S dop.oid	"establish.roleb.2.5.19.1"
ModificationParameter	S dop.oid	"modify.rolea.2.5.19.1"
ModificationParameter	S dop.oid	"modify.roleb.2.5.19.1"




#.FN_BODY RequestShadowUpdateArgumentData/requestedStrategy/standard  VAL_PTR=&update
  guint32 update;

  %(DEFAULT_BODY)s

  col_append_fstr(actx->pinfo->cinfo, COL_INFO, " %%s", val_to_str(update, disp_T_standard_vals, "standard(%%d"));

#.FN_PARS RefreshInformation
	VAL_PTR = &update

#.FN_BODY RefreshInformation
  guint32 update;

  %(DEFAULT_BODY)s

  col_append_fstr(actx->pinfo->cinfo, COL_INFO, " %%s", val_to_str(update, disp_RefreshInformation_vals, "unknown(%%d)"));

#.END


#.FN_BODY CoordinateShadowUpdateArgumentData/updateStrategy/standard  VAL_PTR = &update
  guint32 update;

  %(DEFAULT_BODY)s

  col_append_fstr(actx->pinfo->cinfo, COL_INFO, " %%s", val_to_str(update, disp_StandardUpdate_vals, "unknown(%%d)"));

#.FN_PARS CoordinateShadowUpdateResult
	VAL_PTR = &update

#.FN_BODY CoordinateShadowUpdateResult
  guint32 update;

  %(DEFAULT_BODY)s

  col_append_fstr(actx->pinfo->cinfo, COL_INFO, " %%s", val_to_str(update, disp_CoordinateShadowUpdateResult_vals, "unknown(%%d)"));

#.FN_PARS RequestShadowUpdateResult
	VAL_PTR = &update

#.FN_BODY RequestShadowUpdateResult
  guint32 update;

  %(DEFAULT_BODY)s

  col_append_fstr(actx->pinfo->cinfo, COL_INFO, " %%s", val_to_str(update, disp_RequestShadowUpdateResult_vals, "unknown(%%d)"));

#.FN_PARS UpdateShadowResult
	VAL_PTR = &update

#.FN_BODY UpdateShadowResult
  guint32 update;

  %(DEFAULT_BODY)s

  col_append_fstr(actx->pinfo->cinfo, COL_INFO, " %%s", val_to_str(update, disp_UpdateShadowResult_vals, "unknown(%%d)"));

#.FN_PARS ShadowProblem
	VAL_PTR = &problem

#.FN_BODY ShadowProblem
  guint32 problem;

  %(DEFAULT_BODY)s

  col_append_fstr(actx->pinfo->cinfo, COL_INFO, " %%s", val_to_str(problem, disp_ShadowProblem_vals, "ShadowProblem(%%d)"));
