# lte-rrc.cnf
# lte-rrc conformation file
# Copyright 2008 Vincent Helfre 
# $Id$

#.OPT
PER
UNALIGNED
#.END

#.OMIT_ASSIGNMENT
#.END

#.PDU_NEW
BCCH-BCH-Message             @bcch.bch
BCCH-DL-SCH-Message          @bcch.dl.sch
PCCH-Message                 @pcch
DL-CCCH-Message              @dl.ccch
DL-DCCH-Message              @dl.dcch
UL-CCCH-Message              @ul.ccch
UL-DCCH-Message              @ul.dcch
#.END

#.FN_BODY DedicatedInfoNAS VAL_PTR = &nas_eps_tvb
  tvbuff_t *nas_eps_tvb=NULL;

%(DEFAULT_BODY)s

	if ((nas_eps_tvb)&&(nas_eps_handle))
		call_dissector(nas_eps_handle,nas_eps_tvb,%(ACTX)s->pinfo, tree);

#.FN_HDR MasterInformationBlock

col_append_str(actx->pinfo->cinfo, COL_INFO, "MasterInformationBlock");

#.FN_HDR SystemInformation

col_append_str(actx->pinfo->cinfo, COL_INFO, "SystemInformation");

#.FN_HDR SystemInformationBlockType1

col_append_str(actx->pinfo->cinfo, COL_INFO, "SystemInformationBlockType1");

#.FN_HDR Paging

col_append_str(actx->pinfo->cinfo, COL_INFO, "Paging");

#.FN_HDR RRCConnectionReestablishment

col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionReestablishment");

#.FN_HDR RRCConnectionReestablishmentReject

col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionReestablishmentReject");

#.FN_HDR RRCConnectionReject

col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionReject");

#.FN_HDR RRCConnectionSetup

col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionSetup");

#.FN_HDR CSFBParametersResponseCDMA2000

col_append_str(actx->pinfo->cinfo, COL_INFO, "CSFBParametersResponseCDMA2000");

#.FN_HDR DLInformationTransfer

col_append_str(actx->pinfo->cinfo, COL_INFO, "DLInformationTransfer");

#.FN_HDR HandoverFromEUTRAPreparationRequest

col_append_str(actx->pinfo->cinfo, COL_INFO, "HandoverFromEUTRAPreparationRequest");

#.FN_HDR MobilityFromEUTRACommand

col_append_str(actx->pinfo->cinfo, COL_INFO, "MobilityFromEUTRACommand");

#.FN_HDR RRCConnectionReconfiguration

col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionReconfiguration");

#.FN_HDR RRCConnectionRelease

col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionRelease");

#.FN_HDR SecurityModeCommand

col_append_str(actx->pinfo->cinfo, COL_INFO, "SecurityModeCommand");

#.FN_HDR UECapabilityEnquiry

col_append_str(actx->pinfo->cinfo, COL_INFO, "UECapabilityEnquiry");

#.FN_HDR RRCConnectionReestablishmentRequest

col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionReestablishmentRequest");

#.FN_HDR RRCConnectionRequest

col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionRequest");

#.FN_HDR CSFBParametersRequestCDMA2000

col_append_str(actx->pinfo->cinfo, COL_INFO, "CSFBParametersRequestCDMA2000");

#.FN_HDR MeasurementReport

col_append_str(actx->pinfo->cinfo, COL_INFO, "MeasurementReport");

#.FN_HDR RRCConnectionReconfigurationComplete

col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionReconfigurationComplete");

#.FN_HDR RRCConnectionReestablishmentComplete

col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionReestablishmentComplete");

#.FN_HDR RRCConnectionSetupComplete

col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionSetupComplete");

#.FN_HDR SecurityModeComplete

col_append_str(actx->pinfo->cinfo, COL_INFO, "SecurityModeComplete");

#.FN_HDR SecurityModeFailure

col_append_str(actx->pinfo->cinfo, COL_INFO, "SecurityModeFailure");

#.FN_HDR UECapabilityInformation

col_append_str(actx->pinfo->cinfo, COL_INFO, "UECapabilityInformation");

#.FN_HDR ULHandoverPreparationTransfer

col_append_str(actx->pinfo->cinfo, COL_INFO, "ULHandoverPreparationTransfer");

#.FN_HDR ULInformationTransfer

col_append_str(actx->pinfo->cinfo, COL_INFO, "ULInformationTransfer");

#.FN_HDR CounterCheckResponse

col_append_str(actx->pinfo->cinfo, COL_INFO, "CounterCheckResponse");
