#.MODULE_IMPORT
DirectoryAccessProtocol		dap
ServiceAdministration		x509if

#.IMPORT	../dap/dap-exp.cnf
#.IMPORT	../x509if/x509if-exp.cnf
#.IMPORT	../x509af/x509af-exp.cnf
#.IMPORT	../x509sat/x509sat-exp.cnf

#.EXPORTS
AccessPoint
AccessPointInformation EXTERN WS_DLL
ContinuationReference
Exclusions
MasterAndShadowAccessPoints
OperationProgress
ReferenceType

#.NO_EMIT ONLY_VALS
ChainedReadArgument
ChainedReadResult
ChainedCompareArgument
ChainedCompareResult
ChainedListArgument
ChainedListResult
ChainedSearchArgument
ChainedSearchResult
ChainedAddEntryArgument
ChainedAddEntryResult
ChainedRemoveEntryArgument
ChainedRemoveEntryResult
ChainedModifyEntryArgument
ChainedModifyEntryResult
ChainedModifyDNArgument
ChainedModifyDNResult
DSAReferral

#.TYPE_RENAME
MasterOrShadowAccessPoint/category	APCategory

#.FIELD_RENAME
MasterOrShadowAccessPoint/category	access-point-category

ChainingArguments/targetObject	targetObjectDN

#.PDU
AccessPoint
MasterAndShadowAccessPoints

#.REGISTER
AccessPoint			B "2.5.12.1" "id-doa-myAccessPoint"
AccessPoint			B "2.5.12.2" "id-doa-superiorKnowledge"
MasterAndShadowAccessPoints	B "2.5.12.3" "id-doa-specificKnowledge"
MasterAndShadowAccessPoints	B "2.5.12.4" "id-doa-nonSpecificKnowledge"
DitBridgeKnowledge		B "2.5.12.8" "id-doa-ditBridgeKnowledge"
