#
NOEMIT atsvc_dissect_JobTime
TYPE	JobTime atsvc_dissect_JobTime FT_UINT32 BASE_HEX 0 NULL 4
HF_FIELD hf_atsvc_job_time "JobTime" atsvc.JobTime FT_UINT32 BASE_HEX NULL 0 "Job Time"
HF_RENAME hf_atsvc_JobInfo_job_time hf_atsvc_job_time
HF_RENAME hf_atsvc_JobEnumInfo_job_time hf_atsvc_job_time
#
#
# Make all job_id point to the same hf filter
HF_FIELD hf_atsvc_job_id "Job ID" atsvc.JobId FT_UINT32 BASE_HEX NULL 0 "Job Id"
HF_RENAME hf_atsvc_JobAdd_job_id hf_atsvc_job_id
HF_RENAME hf_atsvc_JobEnumInfo_job_id hf_atsvc_job_id
HF_RENAME hf_atsvc_JobGetInfo_job_id hf_atsvc_job_id
#
