# pkix1implicit.cnf
# pkix1implicit conformation file

#.MODULE_IMPORT
PKIX1Explicit93 pkix1explicit

#.INCLUDE ../pkix1explicit/pkix1explicit_exp.cnf
#.IMPORT ../x509ce/x509ce-exp.cnf

#.OMIT_ASSIGNMENT
EDIPartyName
#.END

#.EXPORTS

AuthorityInfoAccessSyntax
KeyIdentifier
UserNotice

#.PDU

#.REGISTER
AuthorityInfoAccessSyntax B "1.3.6.1.5.5.7.1.1" "id-pe-authorityInfoAccessSyntax"
Dummy         B "1.3.6.1.5.5.7.3.1"  "id-kp-serverAuth"
Dummy         B "1.3.6.1.5.5.7.3.2"  "id-kp-clientAuth"
Dummy         B "1.3.6.1.5.5.7.3.3"  "id-kp-codeSigning"
Dummy         B "1.3.6.1.5.5.7.3.4"  "id-kp-emailProtection"
Dummy         B "1.3.6.1.5.5.7.3.5"  "id-kp-ip-kp-ipsecEndSystem"
Dummy         B "1.3.6.1.5.5.7.3.6"  "id-kp-ipsecTunnel"
Dummy         B "1.3.6.1.5.5.7.3.7"  "id-kp-ipsecUser"
Dummy         B "1.3.6.1.5.5.7.3.8"  "id-kp-timeStamping"
Dummy         B "1.3.6.1.5.5.7.3.9"  "OCSPSigning"

# Additional MS Enhanced Key Usage OIDs (see http://msdn2.microsoft.com/en-us/library/aa378155.aspx)

Dummy		B "1.3.6.1.4.1.311.10.12.1" "id-ms-any-application-policy"
Dummy		B "1.3.6.1.4.1.311.10.3.1" "id-ms-kp-ctl-usage-signing"
Dummy		B "1.3.6.1.4.1.311.10.3.2" "id-ms-kp-time-stamp-signing"
Dummy		B "1.3.6.1.4.1.311.10.3.4" "id-ms-kp-efs"
Dummy		B "1.3.6.1.4.1.311.10.3.4.1" "id-ms-efs-recovery"
Dummy		B "1.3.6.1.4.1.311.10.3.5" "id-ms-whql-crypto"
Dummy		B "1.3.6.1.4.1.311.10.3.6" "id-ms-nt5-crypto"
Dummy		B "1.3.6.1.4.1.311.10.3.7" "id-ms-oem-whql-crypto"
Dummy		B "1.3.6.1.4.1.311.10.3.8" "id-ms-embedded-nt-crypto"
Dummy		B "1.3.6.1.4.1.311.10.3.9" "id-ms-root-list-signer"
Dummy		B "1.3.6.1.4.1.311.10.3.10" "id-ms-kp-qualified-subordination"
Dummy		B "1.3.6.1.4.1.311.10.3.11" "id-ms-kp-key-recovery"
Dummy		B "1.3.6.1.4.1.311.10.3.12" "id-ms-kp-document-signing"
Dummy		B "1.3.6.1.4.1.311.10.3.13" "id-ms-kp-lifetime-signing"

Dummy		B "1.3.6.1.4.1.311.10.5.1" "id-ms-drm"

Dummy		B "1.3.6.1.4.1.311.10.6.1" "id-ms-licenses"
Dummy		B "1.3.6.1.4.1.311.10.6.2" "id-ms-license-server"

Dummy		B "1.3.6.1.4.1.311.20.1" "id-ms-auto-enroll-ctl-usage"
Dummy		B "1.3.6.1.4.1.311.20.2.1" "id-ms-enrollment-agent"
Dummy		B "1.3.6.1.4.1.311.20.2.2" "id-ms-kp-smartcard-logon"
Dummy		B "1.3.6.1.4.1.311.21.5" "id-ms-kp-ca-exchange"
Dummy		B "1.3.6.1.4.1.311.21.6" "id-ms-kp-key-recovery-agent"
Dummy		B "1.3.6.1.4.1.311.21.19" "id-ms-ds-email-replication"

Dummy		B "1.3.6.1.5.5.8.2.2" "id-ms-ipsec-kp-ike-intermediate"

UserNotice		B "1.3.6.1.5.5.7.2.2" "id-qt-unotice"

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#.END

