#.IMPORT_TAG
AuthorityInfoAccessSyntax BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
GeneralName              BER_CLASS_CON -1/*choice*/
KeyIdentifier            BER_CLASS_UNI BER_UNI_TAG_OCTETSTRING
ReasonFlags		 BER_CLASS_UNI BER_UNI_TAG_BITSTRING
UserNotice               BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
#.END

#.TYPE_ATTR
AuthorityInfoAccessSyntax TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
GeneralName              TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
KeyIdentifier            TYPE = FT_BYTES   DISPLAY = BASE_NONE   STRINGS = NULL  BITMASK = 0
ReasonFlags		 TYPE = FT_BYTES   DISPLAY = BASE_NONE   STRINGS = NULL  BITMASK = 0
UserNotice               TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
#.END

