HF_FIELD hf_nspi_handle "Handle" "nspi.handle" FT_BYTES BASE_NONE NULL 0 "" "" ""

HF_RENAME hf_nspi_NspiBind_handle hf_nspi_handle
HF_RENAME hf_nspi_NspiUnbind_handle hf_nspi_handle
HF_RENAME hf_nspi_NspiQueryRows_handle hf_nspi_handle
HF_RENAME hf_nspi_NspiGetMatches_handle hf_nspi_handle
HF_RENAME hf_nspi_NspiDNToEph_handle hf_nspi_handle
HF_RENAME hf_nspi_NspiGetProps_handle hf_nspi_handle
HF_RENAME hf_nspi_NspiGetHierarchyInfo_handle hf_nspi_handle



