# pkcs1.cnf
# PKCS#1 conformation file

# $Id$

#.IMPORT ../x509af/x509af-exp.cnf

#.EXPORTS

RSAPrivateKey
RSAPublicKey
DigestInfo

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#.REGISTER
DSA-Params B "1.2.840.10040.4.1" "id-dsa"
DomainParameters B "1.2.840.10046.2.1" "dhpublicnumber"
KEA-Params-Id B "2.16.840.1.101.2.1.1.22" "id-keyExchangeAlgorithm"
ECParameters B "1.2.840.10045.2.1" "id-ecPublicKey"
ECParameters B "1.3.132.1.12" "id-ecDH"
ECParameters B "1.2.840.10045.2.13" "id-ecMQV"

#.NO_EMIT
DSAPublicKey
DHPublicKey
ECPoint
DSA-Sig-Value
ECDSA-Sig-Value

#.END


