# CMS.cnf
# CMS conformation file

# $Id$

#.MODULE_IMPORT
AuthenticationFramework x509af
InformationFramework x509if

#.INCLUDE ../x509af/x509af_exp.cnf
#.INCLUDE ../x509if/x509if_exp.cnf

#.EXPORTS
SignedData
Countersignature
IssuerAndSerialNumber

#.REGISTER
SignedData        B "1.2.840.113549.1.7.2"      "id-signedData"
EnvelopedData     B "1.2.840.113549.1.7.3"      "id-envelopedData"
DigestedData      B "1.2.840.113549.1.7.5"      "id-digestedData"
EncryptedData     B "1.2.840.113549.1.7.6"      "id-encryptedData"
AuthenticatedData B "1.2.840.113549.1.9.16.1.2" "id-ct-authenticatedData"

#.NO_EMIT
OtherKeyAttribute

#.TYPE_RENAME

#.FIELD_RENAME
SignerInfo/signature	signatureValue
RecipientEncryptedKey/rid	rekRid

#.END


