# CMakeListsCustom.txt
#
# Wireshark - Network traffic analyzer
# By Gerald Combs <gerald@wireshark.org>
# Copyright 1998 Gerald Combs
#
# SPDX-License-Identifier: GPL-2.0-or-later
#
# You can add custom GUI files here by replacing the commented out file foo with your file.

#Add GUI source files here
set(WIRESHARK_CUSTOM_QT_HEADERS
#	foo.h
)

set(WIRESHARK_CUSTOM_QT_SRCS
#	foo.c
)

#Add your tap source files here:
set(WIRESHARK_CUSTOM_TAP_SRC
#	tap_foo.c
)
