# rrc.cnf
# rrc conformation file
# Copyright 2006 Anders Broman 
# $Id$

#.OPT
PER
UNALIGNED
#.END

#.EXPORTS
InterRATHandoverInfo
InterRATHandoverInfo_PDU
ToTargetRNC-Container_PDU
TargetRNC-ToSourceRNC-Container_PDU
HandoverToUTRANCommand_PDU

#.OMIT_ASSIGNMENT
# Omit System-Information-Container for now it messes up the
# MasterInformationBlock       @si.mib
# :
# for some reason
UE-RadioAccessCapability-v890ext
UL-PhysChCapabilityFDD-r6
GSMCellGroupingList
UE-Positioning-GANSS-Data
GANSSDecipheringKeys
GSM-CellID
#.END

#.PDU_NEW

DL-DCCH-Message              @dl.dcch
UL-DCCH-Message              @ul.dcch
DL-CCCH-Message              @dl.ccch
UL-CCCH-Message              @ul.ccch
PCCH-Message                 @pcch
DL-SHCCH-Message             @dl.shcch
UL-SHCCH-Message             @ul.shcch
BCCH-FACH-Message            @bcch.fach
BCCH-BCH-Message             @bcch.bch
MCCH-Message                 @mcch
MSCH-Message                 @msch
SystemInformation-BCH        @sysinfo
System-Information-Container @sysinfo.cont
MasterInformationBlock       @si.mib
SysInfoType1                 @si.sib1
SysInfoType2                 @si.sib2
SysInfoType3                 @si.sib3
SysInfoType4                 @si.sib4
SysInfoType5                 @si.sib5
SysInfoType5bis              @si.sib5bis
SysInfoType6                 @si.sib6
SysInfoType7                 @si.sib7
SysInfoType8                 @si.sib8
SysInfoType9                 @si.sib9
SysInfoType10                @si.sib10
SysInfoType11                @si.sib11
SysInfoType11bis             @si.sib11bis
SysInfoType12                @si.sib12
SysInfoType13                @si.sib13
SysInfoType13-1              @si.sib13-1
SysInfoType13-2              @si.sib13-2
SysInfoType13-3              @si.sib13-3
SysInfoType13-4              @si.sib13-4
SysInfoType14                @si.sib14
SysInfoType15                @si.sib15
SysInfoType15bis             @si.sib15bis
SysInfoType15-1              @si.sib15-1
SysInfoType15-1bis           @si.sib15-1bis
SysInfoType15-2              @si.sib15-2
SysInfoType15-2bis           @si.sib15-2bis
SysInfoType15-2ter           @si.sib15-2ter
SysInfoType15-3              @si.sib15-3
SysInfoType15-3bis           @si.sib15-3bis
SysInfoType15-4              @si.sib15-4
SysInfoType15-5              @si.sib15-5
SysInfoType15-6              @si.sib15-6
SysInfoType15-7              @si.sib15-7
SysInfoType15-8              @si.sib15-8
SysInfoType16                @si.sib16
SysInfoType17                @si.sib17
SysInfoType18                @si.sib18
SysInfoType19                @si.sib19
SysInfoType20                @si.sib20
SysInfoTypeSB1               @si.sb1
SysInfoTypeSB2               @si.sb2
HandoverToUTRANCommand       @irat.ho_to_utran_cmd
InterRATHandoverInfo         @irat.irat_ho_info
UE-RadioAccessCapabilityInfo @ue_radio_access_cap_info
ToTargetRNC-Container        @s_to_trnc_cont
TargetRNC-ToSourceRNC-Container @t_to_srnc_cont

#.FIELD_RENAME
HandoverFromUTRANCommand-GSM-r3-IEs/gsm-message/gsm-MessageList gsm-MessageList-r3
HandoverFromUTRANCommand-GSM-r6-IEs/gsm-message/gsm-MessageList gsm-MessageList-r6
HandoverFromUTRANFailure/interRATMessage/gsm/gsm-MessageList gsm-MessageList-gsm

HandoverFromUTRANCommand-GSM-r3-IEs/gsm-message/single-GSM-Message single-GSM-Message-r3
HandoverFromUTRANCommand-GSM-r6-IEs/gsm-message/single-GSM-Message single-GSM-Message-r6

#.END
#.FN_PARS UTRAN-GANSSReferenceTime/ue-GANSSTimingOfCellFrames FN_VARIANT = _64b

#.FN_BODY NAS-Message VAL_PTR = &nas_message_tvb
  tvbuff_t *nas_message_tvb=NULL;

%(DEFAULT_BODY)s

	if (nas_message_tvb)
		call_dissector(gsm_a_dtap_handle,nas_message_tvb,%(ACTX)s->pinfo, tree);

#.FN_BODY InterRATHandoverInfo/ue-CapabilityContainer/present VAL_PTR = &ue_radio_access_cap_info_tvb
  tvbuff_t *ue_radio_access_cap_info_tvb=NULL;

%(DEFAULT_BODY)s

	if (ue_radio_access_cap_info_tvb)
		call_dissector(rrc_ue_radio_access_cap_info_handle,ue_radio_access_cap_info_tvb,%(ACTX)s->pinfo, tree);

#.END

#.FN_BODY ActiveSetUpdate
  col_append_str(actx->pinfo->cinfo, COL_INFO, "ActiveSetUpdate");
%(DEFAULT_BODY)s

#.FN_BODY ActiveSetUpdateComplete
  col_append_str(actx->pinfo->cinfo, COL_INFO, "ActiveSetUpdateComplete");
%(DEFAULT_BODY)s

#.FN_BODY ActiveSetUpdateFailure
  col_append_str(actx->pinfo->cinfo, COL_INFO, "ActiveSetUpdateFailure");
%(DEFAULT_BODY)s

#.FN_BODY AssistanceDataDelivery
  col_append_str(actx->pinfo->cinfo, COL_INFO, "AssistanceDataDelivery");
%(DEFAULT_BODY)s

#.FN_BODY CellChangeOrderFromUTRAN
  col_append_str(actx->pinfo->cinfo, COL_INFO, "CellChangeOrderFromUTRAN");
%(DEFAULT_BODY)s

#.FN_BODY CellChangeOrderFromUTRANFailure
  col_append_str(actx->pinfo->cinfo, COL_INFO, "CellChangeOrderFromUTRANFailure");
%(DEFAULT_BODY)s

#.FN_BODY CellUpdate
  col_append_str(actx->pinfo->cinfo, COL_INFO, "CellUpdate");
%(DEFAULT_BODY)s

#.FN_BODY CellUpdateConfirm-CCCH
  col_append_str(actx->pinfo->cinfo, COL_INFO, "CellUpdateConfirm-CCCH");
%(DEFAULT_BODY)s

#.FN_BODY CellUpdateConfirm
  col_append_str(actx->pinfo->cinfo, COL_INFO, "CellUpdateConfirm");
%(DEFAULT_BODY)s

#.FN_BODY CounterCheck
  col_append_str(actx->pinfo->cinfo, COL_INFO, "CounterCheck");
%(DEFAULT_BODY)s

#.FN_BODY CounterCheckResponse
  col_append_str(actx->pinfo->cinfo, COL_INFO, "CounterCheckResponse");
%(DEFAULT_BODY)s

#.FN_BODY DownlinkDirectTransfer
  col_append_str(actx->pinfo->cinfo, COL_INFO, "DownlinkDirectTransfer");
%(DEFAULT_BODY)s

#.FN_BODY ETWSPrimaryNotificationWithSecurity
  col_append_str(actx->pinfo->cinfo, COL_INFO, "ETWSPrimaryNotificationWithSecurity");
%(DEFAULT_BODY)s

#.FN_BODY HandoverToUTRANComplete
  col_append_str(actx->pinfo->cinfo, COL_INFO, "HandoverToUTRANComplete");
%(DEFAULT_BODY)s

#.FN_BODY HandoverFromUTRANCommand-GERANIu
  col_append_str(actx->pinfo->cinfo, COL_INFO, "HandoverFromUTRANCommand-GERANIu");
%(DEFAULT_BODY)s

#.FN_BODY HandoverFromUTRANCommand-GSM
  col_append_str(actx->pinfo->cinfo, COL_INFO, "HandoverFromUTRANCommand-GSM");
%(DEFAULT_BODY)s

#.FN_BODY HandoverFromUTRANCommand-CDMA2000
  col_append_str(actx->pinfo->cinfo, COL_INFO, "HandoverFromUTRANCommand-CDMA2000");
%(DEFAULT_BODY)s

#.FN_BODY HandoverFromUTRANFailure
  col_append_str(actx->pinfo->cinfo, COL_INFO, "HandoverFromUTRANFailure");
%(DEFAULT_BODY)s

#.FN_BODY InitialDirectTransfer
  col_append_str(actx->pinfo->cinfo, COL_INFO, "InitialDirectTransfer");
%(DEFAULT_BODY)s

#.FN_BODY MBMSAccessInformation
  col_append_str(actx->pinfo->cinfo, COL_INFO, "MBMSAccessInformation");
%(DEFAULT_BODY)s

#.FN_BODY MBMSCommonPTMRBInformation
  col_append_str(actx->pinfo->cinfo, COL_INFO, "MBMSCommonPTMRBInformation");
%(DEFAULT_BODY)s

#.FN_BODY MBMSCurrentCellPTMRBInformation
  col_append_str(actx->pinfo->cinfo, COL_INFO, "MBMSCurrentCellPTMRBInformation");
%(DEFAULT_BODY)s

#.FN_BODY MBMSGeneralInformation
  col_append_str(actx->pinfo->cinfo, COL_INFO, "MBMSGeneralInformation");
%(DEFAULT_BODY)s

#.FN_BODY MBMSModificationRequest
  col_append_str(actx->pinfo->cinfo, COL_INFO, "MBMSModificationRequest");
%(DEFAULT_BODY)s

#.FN_BODY MBMSModifiedServicesInformation
  col_append_str(actx->pinfo->cinfo, COL_INFO, "MBMSModifiedServicesInformation");
%(DEFAULT_BODY)s

#.FN_BODY MBMSNeighbouringCellPTMRBInformation
  col_append_str(actx->pinfo->cinfo, COL_INFO, "MBMSNeighbouringCellPTMRBInformation");
%(DEFAULT_BODY)s

#.FN_BODY MBMSSchedulingInformation
  col_append_str(actx->pinfo->cinfo, COL_INFO, "MBMSSchedulingInformation");
%(DEFAULT_BODY)s

#.FN_BODY MBMSUnmodifiedServicesInformation
  col_append_str(actx->pinfo->cinfo, COL_INFO, "MBMSUnmodifiedServicesInformation");
%(DEFAULT_BODY)s

#.FN_BODY MeasurementControl
  col_append_str(actx->pinfo->cinfo, COL_INFO, "MeasurementControl");
%(DEFAULT_BODY)s

#.FN_BODY MeasurementControlFailure
  col_append_str(actx->pinfo->cinfo, COL_INFO, "MeasurementControlFailure");
%(DEFAULT_BODY)s

#.FN_BODY MeasurementReport
  col_append_str(actx->pinfo->cinfo, COL_INFO, "MeasurementReport");
%(DEFAULT_BODY)s

#.FN_BODY PagingType1
  col_append_str(actx->pinfo->cinfo, COL_INFO, "PagingType1");
%(DEFAULT_BODY)s

#.FN_BODY PagingType2
  col_append_str(actx->pinfo->cinfo, COL_INFO, "PagingType2");
%(DEFAULT_BODY)s

#.FN_BODY PhysicalChannelReconfiguration
  col_append_str(actx->pinfo->cinfo, COL_INFO, "PhysicalChannelReconfiguration");
%(DEFAULT_BODY)s

#.FN_BODY PhysicalChannelReconfigurationComplete
  col_append_str(actx->pinfo->cinfo, COL_INFO, "PhysicalChannelReconfigurationComplete");
%(DEFAULT_BODY)s

#.FN_BODY PhysicalChannelReconfigurationFailure
  col_append_str(actx->pinfo->cinfo, COL_INFO, "PhysicalChannelReconfigurationFailure");
%(DEFAULT_BODY)s

#.FN_BODY PhysicalSharedChannelAllocation
  col_append_str(actx->pinfo->cinfo, COL_INFO, "PhysicalSharedChannelAllocation");
%(DEFAULT_BODY)s

#.FN_BODY PUSCHCapacityRequest
  col_append_str(actx->pinfo->cinfo, COL_INFO, "PUSCHCapacityRequest");
%(DEFAULT_BODY)s

#.FN_BODY RadioBearerReconfiguration
  col_append_str(actx->pinfo->cinfo, COL_INFO, "RadioBearerReconfiguration");
%(DEFAULT_BODY)s

#.FN_BODY RadioBearerReconfigurationComplete
  col_append_str(actx->pinfo->cinfo, COL_INFO, "RadioBearerReconfigurationComplete");
%(DEFAULT_BODY)s

#.FN_BODY RadioBearerReconfigurationFailure
  col_append_str(actx->pinfo->cinfo, COL_INFO, "RadioBearerReconfigurationFailure");
%(DEFAULT_BODY)s

#.FN_BODY RadioBearerRelease
  col_append_str(actx->pinfo->cinfo, COL_INFO, "RadioBearerRelease");
%(DEFAULT_BODY)s

#.FN_BODY RadioBearerReleaseComplete
  col_append_str(actx->pinfo->cinfo, COL_INFO, "RadioBearerReleaseComplete");
%(DEFAULT_BODY)s

#.FN_BODY RadioBearerReleaseFailure
  col_append_str(actx->pinfo->cinfo, COL_INFO, "RadioBearerReleaseFailure");
%(DEFAULT_BODY)s

#.FN_BODY RadioBearerSetup
  col_append_str(actx->pinfo->cinfo, COL_INFO, "RadioBearerSetup");
%(DEFAULT_BODY)s

#.FN_BODY RadioBearerSetupComplete
  col_append_str(actx->pinfo->cinfo, COL_INFO, "RadioBearerSetupComplete");
%(DEFAULT_BODY)s

#.FN_BODY RadioBearerSetupFailure
  col_append_str(actx->pinfo->cinfo, COL_INFO, "RadioBearerSetupFailure");
%(DEFAULT_BODY)s

#.FN_BODY RRCConnectionReject
  col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionReject");
%(DEFAULT_BODY)s

#.FN_BODY RRCConnectionRelease
  col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionRelease");
%(DEFAULT_BODY)s

#.FN_BODY RRCConnectionRelease-CCCH
  col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionRelease-CCCH");
%(DEFAULT_BODY)s

#.FN_BODY RRCConnectionReleaseComplete
  col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionReleaseComplete");
%(DEFAULT_BODY)s

#.FN_BODY RRCConnectionRequest
  col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionRequest");
%(DEFAULT_BODY)s

#.FN_BODY RRCConnectionSetup
  col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionSetup");
%(DEFAULT_BODY)s

#.FN_BODY RRCConnectionSetupComplete
  col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCConnectionSetupComplete");
%(DEFAULT_BODY)s

#.FN_BODY RRCStatus
  col_append_str(actx->pinfo->cinfo, COL_INFO, "RRCStatus");
%(DEFAULT_BODY)s

#.FN_BODY SecurityModeCommand
  col_append_str(actx->pinfo->cinfo, COL_INFO, "SecurityModeCommand");
%(DEFAULT_BODY)s

#.FN_BODY SecurityModeComplete
  col_append_str(actx->pinfo->cinfo, COL_INFO, "SecurityModeComplete");
%(DEFAULT_BODY)s

#.FN_BODY SecurityModeFailure
  col_append_str(actx->pinfo->cinfo, COL_INFO, "SecurityModeFailure");
%(DEFAULT_BODY)s

#.FN_BODY SignallingConnectionRelease
  col_append_str(actx->pinfo->cinfo, COL_INFO, "SignallingConnectionRelease");
%(DEFAULT_BODY)s

#.FN_BODY SignallingConnectionReleaseIndication
  col_append_str(actx->pinfo->cinfo, COL_INFO, "SignallingConnectionReleaseIndication");
%(DEFAULT_BODY)s

#.FN_BODY SystemInformation-BCH
  col_append_str(actx->pinfo->cinfo, COL_INFO, "SystemInformation-BCH");
%(DEFAULT_BODY)s

#.FN_BODY SystemInformation-FACH
  col_append_str(actx->pinfo->cinfo, COL_INFO, "SystemInformation-FACH");
%(DEFAULT_BODY)s

#.FN_BODY SystemInformationChangeIndication
  col_append_str(actx->pinfo->cinfo, COL_INFO, "SystemInformationChangeIndication");
%(DEFAULT_BODY)s

#.FN_BODY TransportChannelReconfiguration
  col_append_str(actx->pinfo->cinfo, COL_INFO, "TransportChannelReconfiguration");
%(DEFAULT_BODY)s

#.FN_BODY TransportChannelReconfigurationComplete
  col_append_str(actx->pinfo->cinfo, COL_INFO, "TransportChannelReconfigurationComplete");
%(DEFAULT_BODY)s

#.FN_BODY TransportChannelReconfigurationFailure
  col_append_str(actx->pinfo->cinfo, COL_INFO, "TransportChannelReconfigurationFailure");
%(DEFAULT_BODY)s

#.FN_BODY TransportFormatCombinationControl
  col_append_str(actx->pinfo->cinfo, COL_INFO, "TransportFormatCombinationControl");
%(DEFAULT_BODY)s

#.FN_BODY TransportFormatCombinationControlFailure
  col_append_str(actx->pinfo->cinfo, COL_INFO, "TransportFormatCombinationControlFailure");
%(DEFAULT_BODY)s

#.FN_BODY UECapabilityEnquiry
  col_append_str(actx->pinfo->cinfo, COL_INFO, "UECapabilityEnquiry");
%(DEFAULT_BODY)s

#.FN_BODY UECapabilityInformation
  col_append_str(actx->pinfo->cinfo, COL_INFO, "UECapabilityInformation");
%(DEFAULT_BODY)s

#.FN_BODY UECapabilityInformationConfirm
  col_append_str(actx->pinfo->cinfo, COL_INFO, "UECapabilityInformationConfirm");
%(DEFAULT_BODY)s

#.FN_BODY UplinkDirectTransfer
  col_append_str(actx->pinfo->cinfo, COL_INFO, "UplinkDirectTransfer");
%(DEFAULT_BODY)s

#.FN_BODY UplinkPhysicalChannelControl
  col_append_str(actx->pinfo->cinfo, COL_INFO, "UplinkPhysicalChannelControl");
%(DEFAULT_BODY)s

#.FN_BODY URAUpdate
  col_append_str(actx->pinfo->cinfo, COL_INFO, "URAUpdate");
%(DEFAULT_BODY)s

#.FN_BODY URAUpdateConfirm
  col_append_str(actx->pinfo->cinfo, COL_INFO, "URAUpdateConfirm");
%(DEFAULT_BODY)s

#.FN_BODY URAUpdateConfirm-CCCH
  col_append_str(actx->pinfo->cinfo, COL_INFO, "URAUpdateConfirm-CCCH");
%(DEFAULT_BODY)s

#.FN_BODY UTRANMobilityInformation
  col_append_str(actx->pinfo->cinfo, COL_INFO, "UTRANMobilityInformation");
%(DEFAULT_BODY)s

#.FN_BODY UTRANMobilityInformationConfirm
  col_append_str(actx->pinfo->cinfo, COL_INFO, "UTRANMobilityInformationConfirm");
%(DEFAULT_BODY)s

#.FN_BODY UTRANMobilityInformationFailure
  col_append_str(actx->pinfo->cinfo, COL_INFO, "UTRANMobilityInformationFailure");
%(DEFAULT_BODY)s

#.FN_BODY TargetRNC-ToSourceRNC-Container/dL-DCCHmessage VAL_PTR = &dl_dcch_message_tvb
  tvbuff_t *dl_dcch_message_tvb=NULL;

%(DEFAULT_BODY)s

	if (dl_dcch_message_tvb)
		call_dissector(rrc_dl_dcch_handle,dl_dcch_message_tvb,%(ACTX)s->pinfo, proto_tree_get_root(tree));

#.FN_BODY GSM-MessageList/_item VAL_PTR = &gsm_messagelist_tvb
  tvbuff_t *gsm_messagelist_tvb=NULL;
  
%(DEFAULT_BODY)s

  if (gsm_messagelist_tvb)
		call_dissector(gsm_a_dtap_handle,gsm_messagelist_tvb,actx->pinfo, tree);

#.FN_BODY HandoverFromUTRANCommand-GSM-r3-IEs/gsm-message/single-GSM-Message single-GSM-Message-r3
  tvbuff_t *gsm_message_tvb=NULL;
  guint bits_remaining, whole_octets_remaining;

%(DEFAULT_BODY)s

  bits_remaining = 8*tvb_length(tvb) - offset;
  whole_octets_remaining = bits_remaining / 8;
  
  gsm_message_tvb = new_octet_aligned_subset_bits(tvb, offset, actx, 8*whole_octets_remaining);

  if (gsm_message_tvb)
        call_dissector(gsm_a_dtap_handle,gsm_message_tvb,actx->pinfo, tree);

#.FN_BODY HandoverFromUTRANCommand-GSM-r6-IEs/gsm-message/single-GSM-Message single-GSM-Message-r6
  tvbuff_t *gsm_message_tvb=NULL;
  guint bits_remaining, whole_octets_remaining;

%(DEFAULT_BODY)s

  bits_remaining = 8*tvb_length(tvb) - offset;
  whole_octets_remaining = bits_remaining / 8;
  
  gsm_message_tvb = new_octet_aligned_subset_bits(tvb, offset, actx, 8*whole_octets_remaining);

  if (gsm_message_tvb)
        call_dissector(gsm_a_dtap_handle,gsm_message_tvb,actx->pinfo, tree);

#.FN_BODY GSM-Classmark2 VAL_PTR = &parameter_tvb
tvbuff_t *parameter_tvb=NULL;

%(DEFAULT_BODY)s
  if (parameter_tvb){
	de_ms_cm_2(parameter_tvb, tree, actx->pinfo, 2, tvb_get_guint8(parameter_tvb,1), NULL, 0);
  }

#.FN_BODY GSM-Classmark3 VAL_PTR = &parameter_tvb
tvbuff_t *parameter_tvb=NULL;

%(DEFAULT_BODY)s
  if (parameter_tvb){
	de_ms_cm_3(parameter_tvb, tree, actx->pinfo, 0, tvb_length(parameter_tvb), NULL, 0);
  }

#.FN_BODY InterRATHandoverInfoWithInterRATCapabilities-r3-IEs/interRATHandoverInfo VAL_PTR = &parameter_tvb
tvbuff_t *parameter_tvb=NULL;

%(DEFAULT_BODY)s
  if (parameter_tvb){
	dissect_rrc_InterRATHandoverInfo_PDU(parameter_tvb, actx->pinfo, tree);
  }

#.FN_BODY EUTRA-RadioAccessCapability/ue-EUTRA-Capability VAL_PTR = &ue_eutra_cap_tvb
  tvbuff_t *ue_eutra_cap_tvb = NULL;
%(DEFAULT_BODY)s
  if (ue_eutra_cap_tvb && lte_rrc_ue_eutra_cap_handle)
    call_dissector(lte_rrc_ue_eutra_cap_handle, ue_eutra_cap_tvb, actx->pinfo, tree);

#.FN_BODY HandoverFromUTRANCommand-EUTRA-r8-IEs/eutra-Message VAL_PTR = &eutra_message_tvb
  tvbuff_t *eutra_message_tvb = NULL;
%(DEFAULT_BODY)s
  if (eutra_message_tvb && lte_rrc_dl_dcch_handle)
    call_dissector(lte_rrc_dl_dcch_handle, eutra_message_tvb, actx->pinfo, tree);

#.FN_BODY HandoverFromUtranFailure-v860ext-IEs/eutra-Message VAL_PTR = &eutra_message_tvb
  tvbuff_t *eutra_message_tvb = NULL;
%(DEFAULT_BODY)s
  if (eutra_message_tvb && lte_rrc_dl_dcch_handle)
    call_dissector(lte_rrc_dl_dcch_handle, eutra_message_tvb, actx->pinfo, tree);

#.FN_BODY MultiModeRAT-Capability-v860ext/eutraFeatureGroupIndicators VAL_PTR = &eutraFeatureGroupIndicators_tvb
  tvbuff_t *eutraFeatureGroupIndicators_tvb=NULL;
%(DEFAULT_BODY)s
  if(eutraFeatureGroupIndicators_tvb){
    /* Dissect eutraFeatureGroupIndicators */
    proto_tree *subtree;
    gint curr_bit_offset = 0;
    subtree = proto_item_add_subtree(actx->created_item, ett_rrc_eutraFeatureGroupIndicators);
    proto_tree_add_bits_item(subtree, hf_rrc_eutra_feat_group_ind_1, eutraFeatureGroupIndicators_tvb, curr_bit_offset, 1, FALSE);
    curr_bit_offset++;
    proto_tree_add_bits_item(subtree, hf_rrc_eutra_feat_group_ind_2, eutraFeatureGroupIndicators_tvb, curr_bit_offset, 1, FALSE);
    curr_bit_offset++;
    proto_tree_add_bits_item(subtree, hf_rrc_eutra_feat_group_ind_3, eutraFeatureGroupIndicators_tvb, curr_bit_offset, 1, FALSE);
    curr_bit_offset++;
    proto_tree_add_bits_item(subtree, hf_rrc_eutra_feat_group_ind_4, eutraFeatureGroupIndicators_tvb, curr_bit_offset, 1, FALSE);
    curr_bit_offset++;
}

#.END

