# nr-rrc.cnf
# nr-rrc conformation file
# Copyright 2018 Pascal Quantin

#.OPT
PER
UNALIGNED
#.END

#.USE_VALS_EXT
CA-BandwidthClassNR
ConfiguredGrantConfig/configuredGrantTimer
ConfiguredGrantConfig/periodicity
DRX-Config/drx-onDurationTimer/milliSeconds
DRX-Config/drx-InactivityTimer
DRX-Config/drx-RetransmissionTimerDL
DRX-Config/drx-RetransmissionTimerUL
DRX-Config/drx-LongCycleStartOffset
DRX-Config/shortDRX/drx-ShortCycle
DRX-Config/drx-SlotOffset
DRX-Info/drx-LongCycleStartOffset
DRX-Info/shortDRX/drx-ShortCycle
PDCP-Config/t-Reordering
PollByte
PollPDU
Q-OffsetRange
ServingCellConfig/bwp-InactivityTimer
SPS-Config/periodicity
SRS-PeriodicityAndOffset
T-PollRetransmit
T-Reassembly
T-StatusProhibit
UL-DataSplitThreshold

#.EXPORTS
CellGroupConfig_PDU
CG-ConfigInfo_PDU
ConfigRestrictInfoSCG_PDU
FreqBandList_PDU
MeasurementTimingConfiguration_PDU
MeasResults_PDU
MIB_PDU
RadioBearerConfig_PDU
RRCReconfiguration_PDU
RRCReconfigurationComplete_PDU
SIB1_PDU
UE-CapabilityRAT-ContainerList_PDU
UE-MRDC-Capability_PDU
UE-NR-Capability_PDU
UL-DCCH-Message_PDU

#.PDU
BCCH-BCH-Message             @bcch.bch
CellGroupConfig
CG-ConfigInfo
ConfigRestrictInfoSCG
DL-DCCH-Message              @dl.dcch
FreqBandList
MIB
MeasurementTimingConfiguration
MeasResults
RadioBearerConfig
RRCReconfiguration
RRCReconfigurationComplete
SIB1
UE-CapabilityRAT-ContainerList
UE-MRDC-Capability
UE-NR-Capability
UL-DCCH-Message              @ul.dcch
#.END

#.OMIT_ASSIGNMENT
AS-Context
CellIdentity
CellsTriggeredList
CG-Config
CG-Config-IEs
ConfigRestrictModReqSCG
GSCN-ValueNR
HandoverCommand
HandoverCommand-IEs
HandoverPreparationInformation
HandoverPreparationInformation-IEs
MeasConfigSN
ReestabNCellInfo
ReestabNCellInfoList
RRM-Config
ShortMAC-I
VarMeasConfig
VarMeasReportList
VarMeasReport

#.NO_EMIT ONLY_VALS

#.MAKE_ENUM
RAT-Type TYPE_PREFIX

#.FN_HDR BCCH-BCH-Message
  proto_item *ti;

  col_set_str(actx->pinfo->cinfo, COL_PROTOCOL, "NR RRC");
  col_clear(actx->pinfo->cinfo, COL_INFO);

  ti = proto_tree_add_item(tree, proto_nr_rrc, tvb, 0, -1, ENC_NA);
  tree = proto_item_add_subtree(ti, ett_nr_rrc);

#.FN_HDR UL-DCCH-Message
  proto_item *ti;

  col_set_str(actx->pinfo->cinfo, COL_PROTOCOL, "NR RRC");
  col_clear(actx->pinfo->cinfo, COL_INFO);

  ti = proto_tree_add_item(tree, proto_nr_rrc, tvb, 0, -1, ENC_NA);
  tree = proto_item_add_subtree(ti, ett_nr_rrc);

  actx->pinfo->link_dir = P2P_DIR_UL;

#.FN_HDR DL-DCCH-Message
  proto_item *ti;

  col_set_str(actx->pinfo->cinfo, COL_PROTOCOL, "NR RRC");
  col_clear(actx->pinfo->cinfo, COL_INFO);

  ti = proto_tree_add_item(tree, proto_nr_rrc, tvb, 0, -1, ENC_NA);
  tree = proto_item_add_subtree(ti, ett_nr_rrc);

  actx->pinfo->link_dir = P2P_DIR_DL;

#.FN_HDR MIB
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "MIB");

#.FN_HDR RRCReconfiguration
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "RRC Reconfiguration");

#.FN_HDR MeasurementReport
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "Measurement Report");

#.FN_HDR RRCReconfigurationComplete
  col_append_sep_str(actx->pinfo->cinfo, COL_INFO, NULL, "RRC Reconfiguration Complete");

#.FN_BODY UE-CapabilityRAT-Container
  /* Initialise to invalid value */
  private_data_set_rat_type(actx, 0xFF);
%(DEFAULT_BODY)s

#.FN_BODY RAT-Type VAL_PTR = &rat_type
  guint32 rat_type;
%(DEFAULT_BODY)s
  private_data_set_rat_type(actx, (guint8)rat_type);

#.FN_BODY UE-CapabilityRAT-Container/ue-CapabilityRAT-Container VAL_PTR = &ue_cap_tvb
  tvbuff_t *ue_cap_tvb=NULL;
%(DEFAULT_BODY)s

#.FN_FTR UE-CapabilityRAT-Container/ue-CapabilityRAT-Container
  if (ue_cap_tvb) {
    proto_tree *subtree;

    subtree = proto_item_add_subtree(actx->created_item, ett_nr_rrc_UE_CapabilityRAT_Container);
    switch(private_data_get_rat_type(actx)){
    case RAT_Type_nr:
      dissect_nr_rrc_UE_NR_Capability_PDU(ue_cap_tvb, actx->pinfo, subtree, NULL);
      break;
    case RAT_Type_eutra_nr:
      dissect_nr_rrc_UE_MRDC_Capability_PDU(ue_cap_tvb, actx->pinfo, subtree, NULL);
      break;
    default:
      break;
    }
  }
