# h501.cnf
# H.501 conformation file
# 2007  Tomas Kukosa

#.INCLUDE ../h225/h225-exp.cnf
#.INCLUDE ../h235/h235-exp.cnf

#.OPT
PER
ALIGNED
#.END

#.PDU_NEW
Message
#.END

#.FN_PARS MessageBody
  VAL_PTR = &msg_type
#.FN_HDR
  gint32 msg_type = -1;
  const gchar *p = NULL;
#.FN_FTR
  p = try_val_to_str(msg_type, VALS(h501_MessageBody_vals));
  if (p )
    col_set_str(actx->pinfo->cinfo, COL_INFO, p);
#.END
