#.IMPORT_TAG
ISDN_AddressString       BER_CLASS_UNI BER_UNI_TAG_OCTETSTRING
SS_Status                BER_CLASS_UNI BER_UNI_TAG_OCTETSTRING
CUG_Index                BER_CLASS_UNI BER_UNI_TAG_INTEGER
NotificationToMSUser     BER_CLASS_UNI BER_UNI_TAG_ENUMERATED
AlertingPattern          BER_CLASS_UNI BER_UNI_TAG_OCTETSTRING
LCSClientExternalID      BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
LCSServiceTypeID         BER_CLASS_UNI BER_UNI_TAG_INTEGER
RegisterSS_Arg           BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
SS_Info                  BER_CLASS_ANY/*choice*/ -1/*choice*/
InterrogateSS_Res        BER_CLASS_ANY/*choice*/ -1/*choice*/
Ussd_Arg                 BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
Ussd_Res                 BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
USSD_DataCodingScheme    BER_CLASS_UNI BER_UNI_TAG_OCTETSTRING
USSD_String              BER_CLASS_UNI BER_UNI_TAG_OCTETSTRING
SS_Code                  BER_CLASS_UNI BER_UNI_TAG_OCTETSTRING
NewPassword              BER_CLASS_UNI BER_UNI_TAG_NumericString
GetPasswordArg           BER_CLASS_UNI BER_UNI_TAG_ENUMERATED
CurrentPassword          BER_CLASS_UNI BER_UNI_TAG_NumericString
RegisterCC_EntryRes      BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
EraseCC_EntryArg         BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
EraseCC_EntryRes         BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
SS_ForBS_Code            BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CCBS_Feature             BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
AgeOfLocationInformation BER_CLASS_UNI BER_UNI_TAG_INTEGER
AddressString            BER_CLASS_UNI BER_UNI_TAG_OCTETSTRING
ISDN_SubaddressString    BER_CLASS_UNI BER_UNI_TAG_OCTETSTRING
GSN_Address              BER_CLASS_UNI BER_UNI_TAG_OCTETSTRING
LocationType             BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
DeferredLocationEventType BER_CLASS_UNI BER_UNI_TAG_BITSTRING
LCSClientName            BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
LCSRequestorID           BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
LCS_QoS                  BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
SupportedGADShapes       BER_CLASS_UNI BER_UNI_TAG_BITSTRING
LCS_ReferenceNumber      BER_CLASS_UNI BER_UNI_TAG_OCTETSTRING
LCSCodeword              BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
AreaEventInfo            BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
Ext_GeographicalInformation BER_CLASS_UNI BER_UNI_TAG_OCTETSTRING
Add_GeographicalInformation BER_CLASS_UNI BER_UNI_TAG_OCTETSTRING
SecurityHeader           BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
ProtectedPayload         BER_CLASS_UNI BER_UNI_TAG_OCTETSTRING
ExtensionContainer       BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
#.END

#.TYPE_ATTR
ISDN_AddressString       TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
SS_Status                TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
CUG_Index                TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
NotificationToMSUser     TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(gsm_map_NotificationToMSUser_vals)  BITMASK = 0
AlertingPattern          TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
LCSClientExternalID      TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
LCSServiceTypeID         TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
RegisterSS_Arg           TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
SS_Info                  TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(gsm_map_SS_Info_vals)  BITMASK = 0
InterrogateSS_Res        TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(gsm_map_InterrogateSS_Res_vals)  BITMASK = 0
Ussd_Arg                 TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
Ussd_Res                 TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
USSD_DataCodingScheme    TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
USSD_String              TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
SS_Code                  TYPE = FT_UINT8   DISPLAY = BASE_DEC   STRINGS = VALS(ssCode_vals)  BITMASK = 0
NewPassword              TYPE = FT_STRING  DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
GetPasswordArg           TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(gsm_map_GetPasswordArg_vals)  BITMASK = 0
CurrentPassword          TYPE = FT_STRING  DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
RegisterCC_EntryRes      TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
EraseCC_EntryArg         TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
EraseCC_EntryRes         TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
SS_ForBS_Code            TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CCBS_Feature             TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
AgeOfLocationInformation TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
AddressString            TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
ISDN_SubaddressString    TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
GSN_Address              TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
LocationType             TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
DeferredLocationEventType TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
LCSClientName            TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
LCSRequestorID           TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
LCS_QoS                  TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
SupportedGADShapes       TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
LCS_ReferenceNumber      TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
LCSCodeword              TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
AreaEventInfo            TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
Ext_GeographicalInformation TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
Add_GeographicalInformation TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
SecurityHeader           TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
ProtectedPayload         TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
ExtensionContainer       TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
#.END

