# qsig.cnf
# QSIG conformation file
# 2007  Tomas Kukosa

# $Id$


#.EXPORTS  EXTERN VALS_WITH_TABLE

Name

#.PDU_NEW

OPERATION.&ArgumentType
OPERATION.&ResultType

#.END

#.TYPE_RENAME
ARG-activateDiversionQ/extension    ADExtension
ARG-deactivateDiversionQ/extension  DDExtension
ARG-interrogateDiversionQ/extension      IDExtension
ARG-checkRestriction/extension         CHRExtension
ARG-callRerouteing/extension         CRRExtension
ARG-divertingLegInformation1/extension DLI1Extension
ARG-divertingLegInformation2/extension DLI2Extension
ARG-divertingLegInformation3/extension DLI3Extension
IntResult/extension     IRExtension
#.END

#.FIELD_RENAME
NameArg/nameSequence/extension extensionNA
ARG-activateDiversionQ/extension       extensionAD
ARG-deactivateDiversionQ/extension     extensionDD
ARG-interrogateDiversionQ/extension         extensionID
ARG-checkRestriction/extension            extensionCHR
ARG-callRerouteing/extension            extensionCRR
ARG-divertingLegInformation1/extension        extensionDLI1
ARG-divertingLegInformation2/extension        extensionDLI2
ARG-divertingLegInformation3/extension        extensionDLI3
IntResult/extension            extensionIR
#.END


#.TYPE_ATTR
NameData TYPE = FT_STRING  DISPLAY = BASE_NONE
#.END

#.FN_BODY Extension/extensionArgument

#.END
