# qsig.cnf
# QSIG conformation file
# 2007  Tomas Kukosa

# $Id$

# imported classes
#.CLASS OPERATION
#.CLASS ERROR


#.EXPORTS  EXTERN VALS_WITH_TABLE

Name

#.PDU

#--- ECMA-164 QSIG-NA --------------------------------
NameArg

#--- ECMA-174 QSIG-CF --------------------------------
ARG-activateDiversionQ
RES-activateDiversionQ
ARG-deactivateDiversionQ
RES-deactivateDiversionQ
ARG-interrogateDiversionQ
ARG-checkRestriction
RES-checkRestriction
ARG-callRerouteing
RES-callRerouteing
ARG-divertingLegInformation1
ARG-divertingLegInformation2
ARG-divertingLegInformation3
ARG-cfnrDivertedLegFailed
IntResultList

#.END

#.TYPE_RENAME
ARG-activateDiversionQ/extension    ADExtension
ARG-deactivateDiversionQ/extension  DDExtension
ARG-interrogateDiversionQ/extension      IDExtension
ARG-checkRestriction/extension         CHRExtension
ARG-callRerouteing/extension         CRRExtension
ARG-divertingLegInformation1/extension DLI1Extension
ARG-divertingLegInformation2/extension DLI2Extension
ARG-divertingLegInformation3/extension DLI3Extension
IntResult/extension     IRExtension
#.END

#.FIELD_RENAME
NameArg/nameSequence/extension extensionNA
ARG-activateDiversionQ/extension       extensionAD
ARG-deactivateDiversionQ/extension     extensionDD
ARG-interrogateDiversionQ/extension         extensionID
ARG-checkRestriction/extension            extensionCHR
ARG-callRerouteing/extension            extensionCRR
ARG-divertingLegInformation1/extension        extensionDLI1
ARG-divertingLegInformation2/extension        extensionDLI2
ARG-divertingLegInformation3/extension        extensionDLI3
IntResult/extension            extensionIR
#.END


#.TYPE_ATTR
NameData TYPE = FT_STRING  DISPLAY = BASE_NONE
#.END

#.FN_BODY Extension/extensionArgument

#.END
