# rrlp.cnf
# rrlp conformation file
# Copyright 2006 Anders Broman

#.OPT
PER
UNALIGNED
#.END

#.PDU
PDU

#.OMIT_ASSIGNMENTS_EXCEPT  MAP-LCS-DataTypes
Ext-GeographicalInformation
maxExt-GeographicalInformation
VelocityEstimate
#.END

#.OMIT_ASSIGNMENT  MAP-ExtensionDataTypes
SLR-ArgExtensionContainer
SLR-Arg-PCS-Extensions
#.END

#.FN_HDR PDU

	proto_tree_add_item(tree, proto_rrlp, tvb, 0, -1, ENC_NA);

	col_append_sep_str(actx->pinfo->cinfo, COL_PROTOCOL, "/", "RRLP");
#.END


#.FN_BODY Ext-GeographicalInformation VAL_PTR = &parameter_tvb

tvbuff_t *parameter_tvb = NULL;

  %(DEFAULT_BODY)s

  if(parameter_tvb)
	dissect_geographical_description(parameter_tvb, %(ACTX)s->pinfo, tree);
#.END
