#.IMPORT ../x509ce/x509ce-exp.cnf


#.CLASS OPERATION
&ArgumentType
&argumentTypeOptional  BooleanType
&ResultType
&resultTypeOptional    BooleanType
&Errors                _FixedTypeValueSetFieldSpec
&errorsOptional	 	BooleanType
&operationCode         TypeReference Code
#.END

#.TF_RENAME
IdmBind/argument	bind_argument
IdmBindError/errcode	bind_errcode
IdmBindError/error	bind_error
IdmBindResult/result	bind_result

#.FIELD_RENAME
IDM-PDU/error		idm_error
IDM-PDU/result		idm_result

IdmResult/invokeID	idm_invokeID

#.FN_BODY	IdmBind/argument
	struct SESSION_DATA_STRUCTURE *session = (struct SESSION_DATA_STRUCTURE*)actx->private_data;

	return call_idmp_oid_callback(tvb, offset, actx->pinfo, (ROS_OP_BIND | ROS_OP_ARGUMENT), top_tree, session);

#.END

#.FN_PARS	OBJECT_IDENTIFIER	FN_VARIANT = _str VAL_PTR = &protocolID


#.FN_BODY	IdmBindResult/result
	struct SESSION_DATA_STRUCTURE *session = (struct SESSION_DATA_STRUCTURE*)actx->private_data;

	return call_idmp_oid_callback(tvb, offset, actx->pinfo, (ROS_OP_BIND | ROS_OP_RESULT), top_tree, session);

#.END

#.FN_BODY	IdmBindError/errcode

#.END

#.FN_BODY	IdmBindError/error
	struct SESSION_DATA_STRUCTURE *session = (struct SESSION_DATA_STRUCTURE*)actx->private_data;

	return call_idmp_oid_callback(tvb, offset, actx->pinfo, (ROS_OP_BIND| ROS_OP_ERROR), top_tree, session);

#.END

#.FN_PARS Code/local VAL_PTR = &opcode

#.FN_BODY	Request/argument
	struct SESSION_DATA_STRUCTURE *session = (struct SESSION_DATA_STRUCTURE*)actx->private_data;

	return call_idmp_oid_callback(tvb, offset, actx->pinfo, (ROS_OP_INVOKE | ROS_OP_ARGUMENT | opcode), top_tree, session);

#.END

#.FN_BODY	IdmResult/result
	struct SESSION_DATA_STRUCTURE *session = (struct SESSION_DATA_STRUCTURE*)actx->private_data;

	return call_idmp_oid_callback(tvb, offset, actx->pinfo, (ROS_OP_INVOKE | ROS_OP_RESULT | opcode), top_tree, session);

#.END

#.FN_BODY	Error/errcode

#.END

#.FN_BODY	Error/error

#.END


