# gsm_map.cnf
# gsm_map conformation file

# $Id: gsm_map.cnf 12205 2004-10-05 09:50:19Z etxrab $

#.MODULE_IMPORT

#.EXPORTS

#.PDU

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#.END


