# pkinit.cnf
# pkinit conformation file

# $Id: pkinit.cnf,v 1.2 2004/06/03 08:35:44 guy Exp $

#.MODULE_IMPORT
PKIX1Explicit88              pkix1explicit
CryptographicMessageSyntax   cms

#.INCLUDE ../pkix1explicit/pkix1explicit_exp.cnf
#.INCLUDE ../cms/cms_exp.cnf

#.EXPORTS

#.PDU

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#.END

