# pkinit.cnf
# pkinit conformation file

# $Id$

#.MODULE_IMPORT
PKIX1Explicit88              pkix1explicit
CryptographicMessageSyntax   cms

#.INCLUDE ../pkix1explicit/pkix1explicit_exp.cnf
#.INCLUDE ../cms/cms_exp.cnf

#.EXPORTS

#.PDU

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#.END

