# novell_pkis.cnf

#.MODULE_IMPORT

#.EXPORTS

#.REGISTER
SecurityAttributes B "2.16.840.1.113719.1.9.4.1" "pa-sa"
RelianceLimits     B "2.16.840.1.113719.1.9.4.2" "pa-rl"

#.PDU
# PKIS-MESSAGE

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#.END
