# h235.cnf
# H.235.x conformation file
# 2004  Tomas Kukosa

#.IMPORT ../h225/h225-exp.cnf

#.EXPORTS

SIGNED
ENCRYPTED
HASHED
TimeStamp
ClearToken
CryptoToken
AuthenticationMechanism

SrtpKeys
#.END

#.PDU_NEW
SrtpCryptoCapability
#.END

#.OMIT_ASSIGNMENT
ECGDSASignature
H235CertificateSignature

EncodedGeneralToken
EncodedPwdCertToken
PwdCertToken
EncodedKeySignedMaterial
KeySignedMaterial
EncodedReturnSig
ReturnSig
EncodedKeySyncMaterial
KeySyncMaterial
#.END

#.FIELD_RENAME

TypedCertificate/certificate           certificatedata
SIGNED/signature                       signaturedata
CryptoToken/cryptoHashedToken/token    hashedToken
CryptoToken/cryptoSignedToken/token    signedToken
CryptoToken/cryptoEncryptedToken/token encryptedToken

#.END

#.TYPE_ATTR
TimeStamp  TYPE = FT_ABSOLUTE_TIME  DISPLAY = ABSOLUTE_TIME_LOCAL
#.END

#.FIELD_ATTR
NonStandardParameter/data  TYPE = FT_UINT32  DISPLAY = BASE_DEC
#.END

#.FN_HDR SIGNED
  proto_item  *hidden_item;
  hidden_item = proto_tree_add_item(tree, proto_h235, tvb, offset>>3, 0, ENC_NA);
  PROTO_ITEM_SET_HIDDEN(hidden_item);
#.END
#.FN_HDR ENCRYPTED
  proto_item  *hidden_item;
  hidden_item = proto_tree_add_item(tree, proto_h235, tvb, offset>>3, 0, ENC_NA);
  PROTO_ITEM_SET_HIDDEN(hidden_item);
#.END
#.FN_HDR HASHED
  proto_item  *hidden_item;
  hidden_item = proto_tree_add_item(tree, proto_h235, tvb, offset>>3, 0, ENC_NA);
  PROTO_ITEM_SET_HIDDEN(hidden_item);
#.END

#.FN_HDR ClearToken
  proto_item  *hidden_item;
  hidden_item = proto_tree_add_item(tree, proto_h235, tvb, offset>>3, 0, ENC_NA);
  PROTO_ITEM_SET_HIDDEN(hidden_item);
#.END

#.FN_HDR CryptoToken
  proto_item  *hidden_item;
  hidden_item = proto_tree_add_item(tree, proto_h235, tvb, offset>>3, 0, ENC_NA);
  PROTO_ITEM_SET_HIDDEN(hidden_item);
#.END


