#.IMPORT_TAG
CertReqMessages          BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CertReqMsg               BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CertRequest              BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CertTemplate             BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
OptionalValidity         BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
Controls                 BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
AttributeTypeAndValue    BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
ProofOfPossession        BER_CLASS_ANY/*choice*/ -1/*choice*/
POPOSigningKey           BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
POPOSigningKeyInput      BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
PKMACValue               BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
PBMParameter             BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
POPOPrivKey              BER_CLASS_ANY/*choice*/ -1/*choice*/
SubsequentMessage        BER_CLASS_UNI BER_UNI_TAG_INTEGER
RegToken                 BER_CLASS_UNI BER_UNI_TAG_UTF8String
Authenticator            BER_CLASS_UNI BER_UNI_TAG_UTF8String
PKIPublicationInfo       BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
SinglePubInfo            BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
PKIArchiveOptions        BER_CLASS_ANY/*choice*/ -1/*choice*/
EncryptedKey             BER_CLASS_ANY/*choice*/ -1/*choice*/
EncryptedValue           BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
KeyGenParameters         BER_CLASS_UNI BER_UNI_TAG_OCTETSTRING
OldCertId                BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CertId                   BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
ProtocolEncrKey          BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
UTF8Pairs                BER_CLASS_UNI BER_UNI_TAG_UTF8String
CertReq                  BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
#.END

#.TYPE_ATTR
CertReqMessages          TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
CertReqMsg               TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CertRequest              TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CertTemplate             TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
OptionalValidity         TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
Controls                 TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
AttributeTypeAndValue    TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
ProofOfPossession        TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(crmf_ProofOfPossession_vals)  BITMASK = 0
POPOSigningKey           TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
POPOSigningKeyInput      TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
PKMACValue               TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
PBMParameter             TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
POPOPrivKey              TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(crmf_POPOPrivKey_vals)  BITMASK = 0
SubsequentMessage        TYPE = FT_INT32   DISPLAY = BASE_DEC   STRINGS = VALS(crmf_SubsequentMessage_vals)  BITMASK = 0
RegToken                 TYPE = FT_STRING  DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
Authenticator            TYPE = FT_STRING  DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
PKIPublicationInfo       TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
SinglePubInfo            TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
PKIArchiveOptions        TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(crmf_PKIArchiveOptions_vals)  BITMASK = 0
EncryptedKey             TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(crmf_EncryptedKey_vals)  BITMASK = 0
EncryptedValue           TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
KeyGenParameters         TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
OldCertId                TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CertId                   TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
ProtocolEncrKey          TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
UTF8Pairs                TYPE = FT_STRING  DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CertReq                  TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
#.END

