# CRMF.cnf
# CRMF conformation file

# $Id$

#.MODULE_IMPORT
CryptographicMessageSyntax cms
PKIX1Explicit88	pkix1explicit
PKIX1Implicit88	pkix1implicit
		
#.INCLUDE ../cms/cms-exp.cnf
#.INCLUDE ../pkix1explicit/pkix1explicit_exp.cnf
#.INCLUDE ../pkix1implicit/pkix1implicit_exp.cnf

#.EXPORTS
Authenticator
AttributeTypeAndValue
CertId
CertReq
CertReqMessages
CertReqMsg
CertRequest
CertTemplate
Controls
EncryptedKey
EncryptedValue
KeyGenParameters
OldCertId
OptionalValidity
PBMParameter
PKIArchiveOptions
PKIPublicationInfo
PKMACValue
POPOPrivKey
POPOSigningKey
POPOSigningKeyInput
ProofOfPossession
ProtocolEncrKey
RegToken
SinglePubInfo
SubsequentMessage
UTF8Pairs

#.REGISTER
PBMParameter         B "1.2.840.113533.7.66.13" "PasswordBasedMac"

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME
CertTemplate/issuer		template_issuer
POPOSigningKey/signature	sk_signature
PKMACValue/value		pkmac_value

#.FN_PARS AttributeTypeAndValue/type
  FN_VARIANT = _str  HF_INDEX = hf_crmf_type_oid  VAL_PTR = &object_identifier_id

#.FN_BODY AttributeTypeAndValue/value
  offset=call_ber_oid_callback(object_identifier_id, tvb, offset, pinfo, tree);

#.END


