#!/usr/bin/make -f
# MAde with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Some lines taken from debmake, by Cristoph Lameter.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export DH_COMPAT=3

configure: configure-stamp
configure-stamp:
	dh_testdir

	#libtoolize --force --copy
	-mkdir aclocal-missing
	(if [ -x ./autogen.sh ]; then \
	   ./autogen.sh --prefix=/usr --sysconfdir=/usr/share/ethereal --disable-static --disable-ssl --without-ucdsnmp; \
	else \
	   ./configure --prefix=/usr --sysconfdir=/usr/share/ethereal --disable-static --disable-ssl --without-ucdsnmp; \
	fi)

	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp
	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp

	-$(MAKE) distclean
	rm -f rdps ethereal.1 tethereal.1 doc/ethereal.pod doc/tethereal.pod
	rm -f conftest conftest.c

	dh_clean

# Build architecture-independent files here.
binary-indep: build
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the files into debian/tmp
	$(MAKE) install DESTDIR=`pwd`/debian/tmp
	mkdir -p `pwd`/debian/tmp/usr/lib/python2.2/site-packages/
	cp `pwd`/ethereal_be.py `pwd`/ethereal_gen.py \
			`pwd`/debian/tmp/usr/lib/python2.2/site-packages/
	mkdir -p `pwd`/debian/tmp/usr/include/ethereal/
	for F in `cat debian/ethereal-dev.header-files`; do \
		cp --parents $$F `pwd`/debian/tmp/usr/include/ethereal; \
	done
	cp `pwd`/wiretap/libwiretap.a `pwd`/debian/tmp/usr/lib/
	-rm -rf `pwd`/debian/tmp/usr/man
	dh_installman

	dh_movefiles
	dh_installdocs
	dh_installmenu
	dh_installchangelogs NEWS
	dh_strip
	dh_compress
	dh_fixperms

	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
