# pkinit.cnf
# pkinit conformation file

#.MODULE_IMPORT
PKIX1Explicit88              pkix1explicit

#.INCLUDE ../pkix1explicit/pkix1explicit_exp.cnf
#.IMPORT ../cms/cms-exp.cnf

#.EXPORTS
PaPkAsReq
PaPkAsRep
PA-PK-AS-REQ-Win2k
PA-PK-AS-REP-Win2k

#.FN_BODY PKAuthenticator
	if (kerberos_is_win2k_pkinit(actx)) {
		return dissect_pkinit_PKAuthenticator_Win2k(implicit_tag, tvb, offset, actx, tree, hf_index);
	}
%(DEFAULT_BODY)s

#.REGISTER
AuthPack          B "1.3.6.1.5.2.3.1" "id-pkauthdata"
KDCDHKeyInfo      B "1.3.6.1.5.2.3.2" "id-pkdhkeydata"
KRB5PrincipalName B "1.3.6.1.5.2.2"   "id-pkinit-san"

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME
KDCDHKeyInfo/nonce	dhNonce
PKAuthenticator-Win2k/cusec cusecWin2k
PKAuthenticator/nonce	paNonce
PKAuthenticator-Win2k/nonce	paNonceWin2k

#.END

