# mms.cnf
# mms conformation file

# $Id$

#.MODULE_IMPORT
ISO-8650-ACSE-1 acse

#.INCLUDE ../acse/acse-exp.cnf

#.EXPORTS
MMSpdu

#.PDU

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#.FN_BODY ApplicationReference/ap-title
  offset=dissect_acse_AP_title(FALSE, tvb, offset, pinfo, tree, hf_mms_ap_title);

#.FN_BODY ApplicationReference/ap-invocation-id
  offset=dissect_acse_AP_invocation_identifier(FALSE, tvb, offset, pinfo, tree, hf_mms_ap_invocation_id);

#.FN_BODY ApplicationReference/ae-qualifier
  offset=dissect_acse_AE_qualifier(FALSE, tvb, offset, pinfo, tree, hf_mms_ae_qualifier);

#.FN_BODY ApplicationReference/ae-invocation-id
  offset=dissect_acse_AE_invocation_identifier(FALSE, tvb, offset, pinfo, tree, hf_mms_ae_invocation_id);

#.FN_BODY MMSpdu
  gint branch_taken;

  offset = dissect_ber_choice(pinfo, tree, tvb, offset,
                                 MMSpdu_choice, hf_index, ett_mms_MMSpdu,
                                 &branch_taken);

  if(check_col(pinfo->cinfo, COL_INFO))
    col_append_fstr(pinfo->cinfo, COL_INFO, "%%s ", val_to_str(branch_taken, mms_MMSpdu_vals, "Unknown"));


