#.MODULE_IMPORT 
MTSAbstractService	x411

#.INCLUDE ../x411/x411-exp.cnf
#.INCLUDE ../x420/x420-exp.cnf

#.TYPE_RENAME
AddressListDesignator/type	AddressListType
OtherRecipientDesignator/type	OtherRecipientType

#.FIELD_RENAME
AddressListDesignator/type	address_list_type
MessageType/type		message_type_type
OtherRecipientDesignator/type	other_recipient_type

#.PDU
PrimaryPrecedence
CopyPrecedence
MessageType
AddressListDesignator
ExemptedAddress
ExtendedAuthorisationInfo
DistributionCodes
HandlingInstructions
MessageInstructions
CodressMessage
OriginatorReference
OtherRecipientDesignator
PilotInformation
Acp127MessageIdentifier
OriginatorPlad
Acp127NotificationType
SecurityInformationLabels

#.REGISTER
PrimaryPrecedence 		B "1.3.26.0.4406.0.2.0" "primary-precedence"
CopyPrecedence 			B "1.3.26.0.4406.0.2.1" "copy-precedence"
MessageType 			B "1.3.26.0.4406.0.2.2" "message-type"
AddressListDesignatorSeq 	B "1.3.26.0.4406.0.2.3" "address-list-indicator"
ExemptedAddressSeq 		B "1.3.26.0.4406.0.2.4" "exempted-address"
ExtendedAuthorisationInfo 	B "1.3.26.0.4406.0.2.5" "extended-authorisation-info"
DistributionCodes 		B "1.3.26.0.4406.0.2.6" "distribution-codes"
HandlingInstructions 		B "1.3.26.0.4406.0.2.7" "handling-instructions"
MessageInstructions 		B "1.3.26.0.4406.0.2.8" "message-instructions"
CodressMessage 			B "1.3.26.0.4406.0.2.9" "codress-message"
OriginatorReference 		B "1.3.26.0.4406.0.2.10" "originator-reference"
OtherRecipientDesignatorSeq 	B "1.3.26.0.4406.0.2.11" "other-recipients-indicator"
PilotInformationSeq 		B "1.3.26.0.4406.0.2.12" "pilot-forwarding-info"
Acp127MessageIdentifier 	B "1.3.26.0.4406.0.2.13" "acp127-message-identifierr"
OriginatorPlad 			B "1.3.26.0.4406.0.2.14" "originator-plad"
Acp127NotificationType		B "1.3.26.0.4406.0.2.15" "acp127-notification-request"
SecurityInformationLabels 	B "1.3.26.0.4406.0.2.17" "information-labels"

PriorityLevelQualifier		B "1.3.26.0.4406.0.8.0"	 "priority-level-qualifier"



MMMessageData			B "1.3.26.0.4406.0.7.9" "mm-message"
MMMessageParameters		B "1.3.26.0.4406.0.7.10" "mm-message-parameters"

InformationObject	 	B "2.6.1.4.17.1.3.26.0.4406.0.4.1" 	"id-et-content-p772"


#.FN_BODY T_dist_value
/* XXX: not implemented */

#.FN_PARS PrimaryPrecedence
  VAL_PTR=&precedence
#.FN_BODY PrimaryPrecedence
  int precedence = -1;
  %(DEFAULT_BODY)s
  if((precedence != -1) && check_col(pinfo->cinfo, COL_INFO))
   col_append_fstr(pinfo->cinfo, COL_INFO, " (primary=%%s)", val_to_str(precedence, s4406_PrimaryPrecedence_vals, "precedence(%%d)"));

#.FN_PARS CopyPrecedence
  VAL_PTR=&precedence
#.FN_BODY CopyPrecedence
  int precedence = -1;
  %(DEFAULT_BODY)s
  if((precedence != -1) && check_col(pinfo->cinfo, COL_INFO))
   col_append_fstr(pinfo->cinfo, COL_INFO, " (copy=%%s)", val_to_str(precedence, s4406_CopyPrecedence_vals, "precedence(%%d)"));
