# ranap.cnf
# ranap conformation file

# $Id$

#.PDU

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

SDU-ErrorRatio/exponent exponent_1_8

PrivateIE-Field/id private_id
ProtocolExtensionField/id ext_id

MessageStructure/_item/repetitionNumber item_repetitionNumber
PrivateIE-Field/value private_value
ProtocolIE-Field/value ie_field_value
RAB-DataVolumeReportItem/dl-UnsuccessfullyTransmittedDataVolume rab-dl-UnsuccessfullyTransmittedDataVolume
#.FN_PARS RANAP-PDU

VAL_PTR = &type_of_message

#.FN_PARS ProcedureCode

VAL_PTR = &ProcedureCode

#.FN_FTR ProcedureCode
	if (check_col(pinfo->cinfo, COL_INFO))
       col_add_fstr(pinfo->cinfo, COL_INFO, "%s ",
                   val_to_str(ProcedureCode, ranap_ProcedureCode_vals,
                              "unknown message"));
#.FN_PARS ProtocolIE-ID
 
VAL_PTR = &ProtocolIE_ID

#.FN_PARS ProtocolExtensionID

VAL_PTR = &ProtocolIE_ID

#.FN_BODY Value
	
	offset = dissect_ranap_messages(tvb, offset, pinfo, tree);

#.FN_BODY RANAP_PROTOCOL_IES_Value

	offset = dissect_ranap_ies(tvb, offset, pinfo, tree);

#.FN_PARS NAS-PDU

VAL_PTR = &nas_pdu_tvb

#.FN_BODY NAS-PDU

tvbuff_t *nas_pdu_tvb=NULL;

%(DEFAULT_BODY)s

	if (nas_pdu_tvb)
		dissector_try_port(nas_pdu_dissector_table, 0x1, nas_pdu_tvb, pinfo, top_tree);

#.FN_BODY SecondValue
	offset = dissect_ranap_SecondValue_ies(tvb, offset, pinfo, tree);

#.FN_BODY FirstValue
	offset = dissect_ranap_FirstValue_ies(tvb, offset, pinfo, tree);

#.FN_BODY Extension

	offset = dissect_ranap_ies(tvb, offset, pinfo, tree);

#.FN_BODY RANAP_PRIVATE_IES_Value
/* FIX ME */


#.FN_PARS PLMNidentity

VAL_PTR = &parameter_tvb

#.FN_BODY PLMNidentity

	tvbuff_t *parameter_tvb=NULL;

%(DEFAULT_BODY)s

	 if (!parameter_tvb)
		return offset;
	dissect_e212_mcc_mnc(parameter_tvb, tree, 0);

#.FN_BODY PagingCause
# Remove once asn2eth is fixed to handle PER Enummeration extensions
  offset = dissect_per_enumerated(tvb, offset, pinfo, tree, hf_index,
									0, 4, NULL, NULL, TRUE, 0, 0);

#.FN_BODY Event
# Remove once asn2eth is fixed to handle PER Enummeration extensions
  offset = dissect_per_enumerated(tvb, offset, pinfo, tree, hf_index,
									0, 2, NULL, NULL, TRUE, 0, 0);


#.END
#.TYPE_ATTR
ProtocolExtensionID TYPE = FT_UINT8  DISPLAY = BASE_DEC STRINGS = VALS(ranap_ProtocolIE_ID_vals)