#.MODULE_IMPORT
SelectedAttributeTypes	x509sat
DistributedOperations	dsp
OperationalBindingManagement	dap
InformationFramework		x509if

#.INCLUDE ../x509sat/x509sat-exp.cnf
#.INCLUDE ../dap/dap-exp.cnf
#.INCLUDE ../dsp/dsp-exp.cnf

#.EXPORTS
DSEType
SupplierAndConsumers

#.REGISTER
DSEType	    			B "2.5.12.0" "id-doa-dseType"
SupplierInformation 		B "2.5.12.5" "id-doa-supplierKnowledge"
ConsumerInformation 		B "2.5.12.6" "id-doa-consumerKnowledge"
SupplierAndConsumers 		B "2.5.12.7" "id-doa-secondaryShadows"
