MANUAL mdssvc_dissect_element_blob_spotlight_blob

NOEMIT mdssvc_dissect_element_blob_spotlight_blob_

CODE START
static int
mdssvc_dissect_element_blob_spotlight_blob(tvbuff_t *tvb, int offset, packet_info *pinfo, proto_tree *tree, dcerpc_info* di, guint8 *drep _U_)
{
	tvbuff_t *spotlight_tvb;
	dissector_handle_t spotlight_handle;

	if (di->conformant_run) {
		return offset;
	}

	spotlight_handle = find_dissector("afp_spotlight");
	if (spotlight_handle)
	{
		spotlight_tvb = tvb_new_subset_remaining(tvb, offset + 16);
		return (offset + 16 + call_dissector(spotlight_handle, spotlight_tvb, pinfo, tree));
	}

	return offset;
}
CODE END
