# pkixac.cnf
# An Internet Attribute Certificate (RFC3281) conformation file

#.MODULE_IMPORT
PKIX1Explicit88 pkix1explicit
PKIX1Implicit88 pkix1implicit
CertificateExtensions x509ce

#.IMPORT ../pkix1explicit/pkix1explicit_exp.cnf
#.IMPORT ../pkix1implicit/pkix1implicit_exp.cnf
#.IMPORT ../x509ce/x509ce-exp.cnf

#.OMIT_ASSIGNMENT
ACClearAttrs
AttributeCertificate
AttributeCertificateInfo
AttCertVersion
Holder
AttCertIssuer
AttCertValidityPeriod
V2Form

#.EXPORTS

#.PDU

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#.SYNTAX
Clearance
RFC3281Clearance

#.REGISTER
AAControls              B "1.3.6.1.5.5.7.1.6" "id-pe-aaControls"
ProxyInfo               B "1.3.6.1.5.5.7.1.10" "id-pe-ac-proxying"
SvceAuthInfo            B "1.3.6.1.5.5.7.10.1" "id-aca-authenticationInfo"
SvceAuthInfo            B "1.3.6.1.5.5.7.10.2" "id-aca-accessIdentity"
IetfAttrSyntax          B "1.3.6.1.5.5.7.10.3" "id-aca-chargingIdentity"
IetfAttrSyntax          B "1.3.6.1.5.5.7.10.4" "id-aca-group"
Clearance		B "2.5.1.5.55" "id-at-clearance"
Clearance		B "2.5.4.55" "id-at-clearance"
#AttributeCertificate    B "2.5.4.58" "id-at-attributeCertificate"
RoleSyntax		B "2.5.4.72" "id-at-role"
Targets                 B "2.5.29.55" "id-ce-targetInformation"
#AuthorityKeyIdentifier  B "2.5.29.35" "id-ce-authorityKeyIdentifier"

#.FN_BODY  SecurityCategory
  object_identifier_id = NULL;
  %(DEFAULT_BODY)s

#.FN_PARS  SecurityCategory/type
   FN_VARIANT = _str VAL_PTR = &object_identifier_id

#.FN_BODY  SecurityCategory/value
   if (object_identifier_id)
      offset = call_ber_oid_callback (object_identifier_id, tvb, offset, actx->pinfo, tree, NULL);

#.END

