ETHEREAL_OPENFILENAME_TEMPLATE DIALOG 0, 0, 150, 50
STYLE WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | DS_3DLOOK | DS_CONTROL
FONT 8, "MS Shell Dlg"
{
 CHECKBOX "MAC name resolution", -1, 54, 4, 150, 8,  BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "Network name resolution", -1, 54, 17, 150, 8,  BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "Transport name resolution", -1, 54, 30, 150, 8,  BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
}
