# q932.cnf
# Q.932 conformation file
# 2007  Tomas Kukosa

#.PDU

InterpretationComponent
NetworkFacilityExtension
NetworkProtocolProfile

#.EXPORTS EXTERN

# Addressing-Data-Elements
PresentedAddressScreened
PresentedAddressUnscreened
PresentedNumberScreened WS_DLL
PresentedNumberUnscreened WS_DLL
Address
PartyNumber WS_DLL
PartySubaddress WS_DLL
ScreeningIndicator
PresentationAllowedIndicator

#.FIELD_RENAME

# Addressing-Data-Elements
PresentedNumberScreened/presentationAllowedNumber      presentationAllowedNumberScreened
PresentedAddressScreened/presentationRestrictedAddress presentationRestrictedAddressScreened
PresentedNumberScreened/presentationRestrictedNumber   presentationRestrictedNumberScreened

#.END

