# q932.cnf
# Q.932 conformation file
# 2007  Tomas Kukosa

#.PDU

InterpretationComponent
NetworkFacilityExtension
NetworkProtocolProfile

#.EXPORTS EXTERN WS_DLL

# Addressing-Data-Elements
PresentedAddressScreened
PresentedAddressUnscreened
PresentedNumberScreened
PresentedNumberUnscreened
Address
PartyNumber
PartySubaddress
ScreeningIndicator
PresentationAllowedIndicator

#.FIELD_RENAME

# Addressing-Data-Elements
PresentedNumberScreened/presentationAllowedNumber      presentationAllowedNumberScreened
PresentedAddressScreened/presentationRestrictedAddress presentationRestrictedAddressScreened
PresentedNumberScreened/presentationRestrictedNumber   presentationRestrictedNumberScreened

#.END

