# NS-CERT-EXT.cnf
# NetScape Certificate Extensions conformation file

# $Id: cms.cnf,v 1.2 2004/06/03 08:35:44 guy Exp $

#.MODULE_IMPORT

#.EXPORTS

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#.END


