# NS-CERT-EXT.cnf
# NetScape Certificate Extensions conformation file

# $Id$

#.MODULE_IMPORT

#.EXPORTS

#.PDU
BaseUrl
CaPolicyUrl
CaRevocationUrl
CertRenewalUrl
CertType
Comment
RevocationUrl
SslServerName

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#.END


