# logotype-cert-extn.cnf
# LogotypeCertExtn conformation file

# $Id$

#.INCLUDE ../x509af/x509af-exp.cnf

#.EXPORTS

#.PDU

#.REGISTER
LogotypeExtn B "1.3.6.1.5.5.7.1.12" "id-pe-logotype"
LogotypeExtn B "1.3.6.1.5.5.7.20.1" "id-pe-logo-loyalty"
LogotypeExtn B "1.3.6.1.5.5.7.20.2" "id-pe-logo-background"

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#.END

