# upl.cnf
# upl conformation file
# Copyright 2006 Anders Broman 
# $Id$

#.PDU
ULP-PDU

#.FN_BODY ULP-PDU

	proto_tree_add_item(tree, proto_ulp, tvb, 0, -1, FALSE);

	if (check_col(%(ACTX)s->pinfo->cinfo, COL_PROTOCOL)) 
		col_set_str(%(ACTX)s->pinfo->cinfo, COL_PROTOCOL, PSNAME);
	if (check_col(%(ACTX)s->pinfo->cinfo, COL_INFO))
		col_clear(%(ACTX)s->pinfo->cinfo, COL_INFO);

  %(DEFAULT_BODY)s

#.FN_BODY UlpMessage  VAL_PTR = &UlpMessage

guint32 UlpMessage;

  %(DEFAULT_BODY)s

	if (check_col(%(ACTX)s->pinfo->cinfo, COL_INFO))
	{
	    col_append_fstr(%(ACTX)s->pinfo->cinfo, COL_INFO, "%%s ", val_to_str(UlpMessage,ulp_UlpMessage_vals,"Unknown"));
	}
#.END

#.FN_BODY RRLPPayload VAL_PTR = &rrlp_tvb
 tvbuff_t *rrlp_tvb;

%(DEFAULT_BODY)s

  if (rrlp_tvb){
	call_dissector(rrlp_handle, rrlp_tvb, %(ACTX)s->pinfo, tree);

  }