# upl.cnf
# upl conformation file
# Copyright 2006 Anders Broman 
# $Id$

#.PDU
ULP-PDU

#.FN_BODY ULP-PDU

	proto_tree_add_item(tree, proto_ulp, tvb, 0, -1, FALSE);

	if (check_col(pinfo->cinfo, COL_PROTOCOL)) 
		col_set_str(pinfo->cinfo, COL_PROTOCOL, PSNAME);
	if (check_col(pinfo->cinfo, COL_INFO))
		col_clear(pinfo->cinfo, COL_INFO);

  per_aligment_type_callback(FALSE);
  %(DEFAULT_BODY)s

#.FN_BODY StatusCode
# Remove once asn2eth is fixed to handle PER Enummeration extensions
  offset = dissect_per_enumerated(tvb, offset, pinfo, tree, hf_index,
									19, NULL, NULL, TRUE, 0, StatusCode_value_map);

#.FN_PARS UlpMessage 	VAL_PTR = &UlpMessage

#.FN_BODY UlpMessage

guint32 UlpMessage;

  %(DEFAULT_BODY)s

	if (check_col(pinfo->cinfo, COL_INFO))
	{
	    col_append_fstr(pinfo->cinfo, COL_INFO, "%%s ", val_to_str(UlpMessage,ulp_UlpMessage_vals,"Unknown"));
	}
