# Conformance file for iwbemlevel1login

MANUAL IWbemLevel1Login_dissect_element_EstablishPosition_orpcthis
MANUAL IWbemLevel1Login_dissect_element_EstablishPosition_orpcthat_
MANUAL IWbemLevel1Login_dissect_element_RequestChallenge_orpcthis
MANUAL IWbemLevel1Login_dissect_element_RequestChallenge_orpcthat_
MANUAL IWbemLevel1Login_dissect_element_WBEMLogin_orpcthis
MANUAL IWbemLevel1Login_dissect_element_WBEMLogin_orpcthat_
MANUAL IWbemLevel1Login_dissect_element_NTLMLogin_orpcthis
MANUAL IWbemLevel1Login_dissect_element_NTLMLogin_orpcthat_
MANUAL IWbemLevel1Login_dissect_element_IWbemServices_services

NOEMIT IWbemLevel1Login_dissect_element_IWbemServices_services_

ETT_FIELD ett_IWbemLevel1Login_EstablishPosition_orpcthis
ETT_FIELD ett_IWbemLevel1Login_EstablishPosition_orpcthat
ETT_FIELD ett_IWbemLevel1Login_RequestChallenge_orpcthis
ETT_FIELD ett_IWbemLevel1Login_RequestChallenge_orpcthat
ETT_FIELD ett_IWbemLevel1Login_WBEMLogin_orpcthis
ETT_FIELD ett_IWbemLevel1Login_WBEMLogin_orpcthat
ETT_FIELD ett_IWbemLevel1Login_NTLMLogin_orpcthis
ETT_FIELD ett_IWbemLevel1Login_NTLMLogin_orpcthat

CODE START

	#include "packet-dcom.h"

/* EstablishPosition */
static int
IWbemLevel1Login_dissect_element_EstablishPosition_orpcthis(tvbuff_t *tvb _U_, int offset _U_, packet_info *pinfo _U_, proto_tree *tree _U_, dcerpc_info* di _U_, uint8_t *drep _U_)
{
	proto_item *sub_item;
	proto_tree *sub_tree;

	sub_item = proto_tree_add_item(tree, hf_IWbemLevel1Login_EstablishPosition_orpcthis, tvb, offset, 0, ENC_NA);
	sub_tree = proto_item_add_subtree(sub_item, ett_IWbemLevel1Login_EstablishPosition_orpcthis);

	offset = dissect_dcom_this(tvb, offset, pinfo, sub_tree, di, drep);

	return offset;
}

static int
IWbemLevel1Login_dissect_element_EstablishPosition_orpcthat_(tvbuff_t *tvb _U_, int offset _U_, packet_info *pinfo _U_, proto_tree *tree _U_, dcerpc_info* di _U_, uint8_t *drep _U_)
{
	proto_item *sub_item;
	proto_tree *sub_tree;

	sub_item = proto_tree_add_item(tree, hf_IWbemLevel1Login_EstablishPosition_orpcthat, tvb, offset, 0, ENC_NA);
	sub_tree = proto_item_add_subtree(sub_item, ett_IWbemLevel1Login_EstablishPosition_orpcthat);

	offset = dissect_dcom_that(tvb, offset, pinfo, sub_tree, di, drep);

	return offset;
}

/* RequestChallenge */
static int
IWbemLevel1Login_dissect_element_RequestChallenge_orpcthis(tvbuff_t *tvb _U_, int offset _U_, packet_info *pinfo _U_, proto_tree *tree _U_, dcerpc_info* di _U_, uint8_t *drep _U_)
{
	proto_item *sub_item;
	proto_tree *sub_tree;

	sub_item = proto_tree_add_item(tree, hf_IWbemLevel1Login_RequestChallenge_orpcthis, tvb, offset, 0, ENC_NA);
	sub_tree = proto_item_add_subtree(sub_item, ett_IWbemLevel1Login_RequestChallenge_orpcthis);

	offset = dissect_dcom_this(tvb, offset, pinfo, sub_tree, di, drep);

	return offset;
}

static int
IWbemLevel1Login_dissect_element_RequestChallenge_orpcthat_(tvbuff_t *tvb _U_, int offset _U_, packet_info *pinfo _U_, proto_tree *tree _U_, dcerpc_info* di _U_, uint8_t *drep _U_)
{
	proto_item *sub_item;
	proto_tree *sub_tree;

	sub_item = proto_tree_add_item(tree, hf_IWbemLevel1Login_RequestChallenge_orpcthat, tvb, offset, 0, ENC_NA);
	sub_tree = proto_item_add_subtree(sub_item, ett_IWbemLevel1Login_RequestChallenge_orpcthat);

	offset = dissect_dcom_that(tvb, offset, pinfo, sub_tree, di, drep);

	return offset;
}

/* WBEMLogin */
static int
IWbemLevel1Login_dissect_element_WBEMLogin_orpcthis(tvbuff_t *tvb _U_, int offset _U_, packet_info *pinfo _U_, proto_tree *tree _U_, dcerpc_info* di _U_, uint8_t *drep _U_)
{
	proto_item *sub_item;
	proto_tree *sub_tree;

	sub_item = proto_tree_add_item(tree, hf_IWbemLevel1Login_WBEMLogin_orpcthis, tvb, offset, 0, ENC_NA);
	sub_tree = proto_item_add_subtree(sub_item, ett_IWbemLevel1Login_WBEMLogin_orpcthis);

	offset = dissect_dcom_this(tvb, offset, pinfo, sub_tree, di, drep);

	return offset;
}

static int
IWbemLevel1Login_dissect_element_WBEMLogin_orpcthat_(tvbuff_t *tvb _U_, int offset _U_, packet_info *pinfo _U_, proto_tree *tree _U_, dcerpc_info* di _U_, uint8_t *drep _U_)
{
	proto_item *sub_item;
	proto_tree *sub_tree;

	sub_item = proto_tree_add_item(tree, hf_IWbemLevel1Login_WBEMLogin_orpcthat, tvb, offset, 0, ENC_NA);
	sub_tree = proto_item_add_subtree(sub_item, ett_IWbemLevel1Login_WBEMLogin_orpcthat);

	offset = dissect_dcom_that(tvb, offset, pinfo, sub_tree, di, drep);

	return offset;
}

/* NTLMLogin */
static int
IWbemLevel1Login_dissect_element_NTLMLogin_orpcthis(tvbuff_t *tvb _U_, int offset _U_, packet_info *pinfo _U_, proto_tree *tree _U_, dcerpc_info* di _U_, uint8_t *drep _U_)
{
	proto_item *sub_item;
	proto_tree *sub_tree;

	sub_item = proto_tree_add_item(tree, hf_IWbemLevel1Login_NTLMLogin_orpcthis, tvb, offset, 0, ENC_NA);
	sub_tree = proto_item_add_subtree(sub_item, ett_IWbemLevel1Login_NTLMLogin_orpcthis);

	offset = dissect_dcom_this(tvb, offset, pinfo, sub_tree, di, drep);

	return offset;
}

static int
IWbemLevel1Login_dissect_element_NTLMLogin_orpcthat_(tvbuff_t *tvb _U_, int offset _U_, packet_info *pinfo _U_, proto_tree *tree _U_, dcerpc_info* di _U_, uint8_t *drep _U_)
{
	proto_item *sub_item;
	proto_tree *sub_tree;

	sub_item = proto_tree_add_item(tree, hf_IWbemLevel1Login_NTLMLogin_orpcthat, tvb, offset, 0, ENC_NA);
	sub_tree = proto_item_add_subtree(sub_item, ett_IWbemLevel1Login_NTLMLogin_orpcthat);

	offset = dissect_dcom_that(tvb, offset, pinfo, sub_tree, di, drep);

	return offset;
}

static int
IWbemLevel1Login_dissect_element_IWbemServices_services_(tvbuff_t *tvb, int offset, int length _U_, packet_info *pinfo, proto_tree *tree, dcerpc_info *di, uint8_t *drep _U_)
;

static int
IWbemLevel1Login_dissect_element_IWbemServices_services(tvbuff_t *tvb _U_, int offset _U_, packet_info *pinfo _U_, proto_tree *tree _U_, dcerpc_info* di _U_, uint8_t *drep _U_)
{
	offset = dissect_ndr_ucarray_block(tvb, offset, pinfo, tree, di, drep, &IWbemLevel1Login_dissect_element_IWbemServices_services_);

	return offset;
}

static int
IWbemLevel1Login_dissect_element_IWbemServices_services_(tvbuff_t *tvb, int offset, int length _U_, packet_info *pinfo, proto_tree *tree, dcerpc_info *di, uint8_t *drep _U_)
{
	proto_item *sub_item;
	proto_tree *sub_tree;

	sub_item = proto_tree_add_item(tree, hf_IWbemLevel1Login_WBEMLogin_ppNamespace, tvb, offset, 0, ENC_NA);
	sub_tree = proto_item_add_subtree(sub_item, ett_IWbemLevel1Login_IWbemServices);

	offset = dissect_dcom_OBJREF(tvb, offset, pinfo, sub_tree, di, drep, hf_IWbemLevel1Login_WBEMLogin_ppNamespace, NULL);

	return offset;
}

CODE END