# gsm_ss.cnf
# GSM SS conformation file

# $Id$

#.MODULE_IMPORT

MAP-Protocol gsm_map

#.INCLUDE ../gsmmap/gsm_map-exp.cnf

#.EXPORTS

#.PDU

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#----------------------------------------------------------------------------------------
#.FN_BODY DestinationReference

 tvbuff_t	*parameter_tvb;
 char		*digit_str;

 offset = dissect_ber_octet_string(implicit_tag, pinfo, tree, tvb, offset, hf_index,
                                    &parameter_tvb);
 if (parameter_tvb) {
   digit_str = unpack_digits(parameter_tvb, 1);

   proto_tree_add_string(tree, hf_MAP_DialoguePDU_destref_digits, parameter_tvb, 1, -1, digit_str);
   g_free(digit_str);
 }

#.END
#----------------------------------------------------------------------------------------
#.FN_BODY OriginationReference
 tvbuff_t	*parameter_tvb;
 char		*digit_str;

 offset = dissect_ber_octet_string(implicit_tag, pinfo, tree, tvb, offset, hf_index,
                                    &parameter_tvb);
 if (parameter_tvb) {
   digit_str = unpack_digits(parameter_tvb, 1);

   proto_tree_add_string(tree, hf_MAP_DialoguePDU_origref_digits, parameter_tvb, 1, -1, digit_str);
   g_free(digit_str);
 }

#.END
#----------------------------------------------------------------------------------------
#.END
