# s1ap.cnf
# s1ap conformation file

# $Id$

#.OPT
PER
ALIGNED
#.END

#.EXPORTS

#.PDU_NEW
S1AP-PDU

#.MAKE_ENUM
ProcedureCode
ProtocolIE-ID

#.NO_EMIT
TBCD-STRING

#.OMIT_ASSIGNMENT
# Get rid of unused code warnings
ProtocolIE-FieldPair 
ProtocolIE-ContainerPair
ProtocolIE-ContainerPairList
ProtocolError-IE-ContainerList
PrivateIE-Container
PrivateIE-Field
PrivateIE-ID 
SAEB-IE-ContainerPairList

UEPagingID
IMSI
Presence
#.END


#.TYPE_RENAME

InitiatingMessage/value InitiatingMessage_value
SuccessfulOutcome/value SuccessfulOutcome_value
UnsuccessfulOutcome/value UnsuccessfulOutcome_value

#.FIELD_RENAME

InitiatingMessage/value initiatingMessagevalue
UnsuccessfulOutcome/value unsuccessfulOutcome_value
SuccessfulOutcome/value successfulOutcome_value


#PrivateIE-Field/id private_id
ProtocolExtensionField/id ext_id

#PrivateIE-Field/value private_value
ProtocolIE-Field/value ie_field_value

#.FN_PARS ProtocolIE-ID  VAL_PTR=&ProtocolIE_ID
#.FN_FTR ProtocolIE-ID
  if (tree) {
    proto_item_append_text(proto_item_get_parent_nth(actx->created_item, 2), ": %s", val_to_str(ProtocolIE_ID, VALS(s1ap_ProtocolIE_ID_vals), "unknown (%d)"));
  }
#.END



#.FN_PARS ProtocolIE-Field/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_ProtocolIEFieldValue 
# Currently not used
# FN_PARS ProtocolIE-FieldPair/firstValue  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_ProtocolIEFieldPairFirstValue 
# FN_PARS ProtocolIE-FieldPair/secondValue  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_ProtocolIEFieldPairSecondValue 

#.FN_PARS ProtocolExtensionID  VAL_PTR=&ProtocolExtensionID
#.FN_PARS ProtocolExtensionField/extensionValue  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_ProtocolExtensionFieldExtensionValue

#.FN_PARS  ProcedureCode  VAL_PTR = &ProcedureCode
#.FN_FTR ProcedureCode
	if (check_col(actx->pinfo->cinfo, COL_INFO))
       col_add_fstr(actx->pinfo->cinfo, COL_INFO, "%s ",
                   val_to_str(ProcedureCode, s1ap_ProcedureCode_vals,
                              "unknown message"));
#.END

#.FN_PARS InitiatingMessage/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_InitiatingMessageValue

#.FN_PARS SuccessfulOutcome/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_SuccessfulOutcomeValue

#.FN_PARS UnsuccessfulOutcome/value  FN_VARIANT=_pdu_new  TYPE_REF_FN=dissect_UnsuccessfulOutcomeValue

#--- Parameterization is not supported in asn2wrs ---

#ProtocolIE-ContainerList {INTEGER : lowerBound, INTEGER : upperBound, S1AP-PROTOCOL-IES : IEsSetParam} ::=
#	SEQUENCE (SIZE (lowerBound..upperBound)) OF
#	ProtocolIE-Container {{IEsSetParam}}

#.FN_PARS ProtocolIE-ContainerList
MIN_VAL = asn1_param_get_integer(%(ACTX)s,"lowerBound")
MAX_VAL = asn1_param_get_integer(%(ACTX)s,"upperBound")
#.FN_HDR ProtocolIE-ContainerList
  static const asn1_par_def_t ProtocolIE_ContainerList_pars[] = {
    { "lowerBound", ASN1_PAR_INTEGER },
    { "upperBound", ASN1_PAR_INTEGER },
    { NULL, 0 }
  };
  asn1_stack_frame_check(actx, "ProtocolIE-ContainerList", ProtocolIE_ContainerList_pars);
#.END

#ProtocolIE-ContainerPairList {INTEGER : lowerBound, INTEGER : upperBound, S1AP-PROTOCOL-IES-PAIR : IEsSetParam} ::=
#	SEQUENCE (SIZE (lowerBound..upperBound)) OF
#	ProtocolIE-ContainerPair {{IEsSetParam}}

# Currently not used
# FN_PARS ProtocolIE-ContainerPairList
#MIN_VAL = asn1_param_get_integer(%(ACTX)s,"lowerBound")
#MAX_VAL = asn1_param_get_integer(%(ACTX)s,"upperBound")
# FN_HDR ProtocolIE-ContainerPairList
#  static const asn1_par_def_t ProtocolIE_ContainerPairList_pars[] = {
#    { "lowerBound", ASN1_PAR_INTEGER },
#    { "upperBound", ASN1_PAR_INTEGER },
#    { NULL, 0 }
#  };
#  asn1_stack_frame_check(actx, "ProtocolIE-ContainerPairList", ProtocolIE_ContainerPairList_pars);
# END

#SAEB-IE-ContainerList                  { S1AP-PROTOCOL-IES      : IEsSetParam }	::= ProtocolIE-ContainerList     { 1, maxNrOfSAEBs,   {IEsSetParam} }
#.FN_BODY SAEB-IE-ContainerList
  asn1_stack_frame_push(%(ACTX)s, "ProtocolIE-ContainerList");
  asn1_param_push_integer(%(ACTX)s, 1);
  asn1_param_push_integer(%(ACTX)s, maxNrOfSAEBs);
%(DEFAULT_BODY)s
  asn1_stack_frame_pop(%(ACTX)s, "ProtocolIE-ContainerList");
#.END

# SAEB-IE-ContainerPairList              { S1AP-PROTOCOL-IES-PAIR : IEsSetParam }	::= ProtocolIE-ContainerPairList { 1, maxNrOfSAEBs,   {IEsSetParam} }
# Currently not used
# FN_BODY SAEB-IE-ContainerPairList
#  asn1_stack_frame_push(%(ACTX)s, "ProtocolIE-ContainerPairList");
#  asn1_param_push_integer(%(ACTX)s, 1);
#  asn1_param_push_integer(%(ACTX)s, maxNrOfSAEBs);
#%(DEFAULT_BODY)s
#  asn1_stack_frame_pop(%(ACTX)s, "ProtocolIE-ContainerPairList");
#.END

# Currently not used
# ProtocolError-IE-ContainerList        { S1AP-PROTOCOL-IES      : IEsSetParam }	::= ProtocolIE-ContainerList     { 1, maxNrOfSAEBs,   {IEsSetParam} }
# FN_BODY ProtocolError-IE-ContainerList
#  asn1_stack_frame_push(%(ACTX)s, "ProtocolIE-ContainerList");
#  asn1_param_push_integer(%(ACTX)s, 1);
#  asn1_param_push_integer(%(ACTX)s, maxNrOfSAEBs);
#%(DEFAULT_BODY)s
#  asn1_stack_frame_pop(%(ACTX)s, "ProtocolIE-ContainerList");
# END

# Handle 64 bit constraint
#.FN_PARS BitRate FN_VARIANT = _64b

# following construction is not supported by asn2wrs
# PLMNidentity ::= TBCD-STRING (SIZE (3))
# TBCD-STRING ::= OCTET STRING

#.FN_BODY PLMNidentity  VAL_PTR = parameter_tvb
  tvbuff_t *parameter_tvb=NULL;

  offset = dissect_per_octet_string(tvb, offset, actx, tree, hf_index,
                                       3, 3, FALSE, &parameter_tvb);
	if(tvb_length(tvb)==0) 
		return offset;
		
	if (!parameter_tvb)
		return offset;
	dissect_e212_mcc_mnc(parameter_tvb, tree, 0);
#.END

#.FN_BODY ENBname VAL_PTR = parameter_tvb
  tvbuff_t *parameter_tvb=NULL;
  int length;
  int p_offset;
  gboolean is_ascii;

  offset = dissect_per_octet_string(tvb, offset, actx, tree, hf_index,
                                       NO_BOUND, NO_BOUND, FALSE, &parameter_tvb);

  if (!parameter_tvb)
    return offset;

  length = tvb_length(parameter_tvb);
 
  is_ascii = TRUE;
  for (p_offset=0; p_offset < length; p_offset++){
	 if(!isalpha(tvb_get_guint8(parameter_tvb, p_offset ))){
		is_ascii = FALSE;
		break;
	 }
  }
  if (is_ascii)
  		proto_item_append_text(actx->created_item,"(%%s)",tvb_format_text(parameter_tvb, 0, length));

#.END

#.FN_BODY NAS-PDU VAL_PTR = &parameter_tvb

  tvbuff_t *parameter_tvb=NULL;
  
%(DEFAULT_BODY)s

  if ((tvb_length(parameter_tvb)>0)&&(nas_eps_handle))
    call_dissector(nas_eps_handle,parameter_tvb,%(ACTX)s->pinfo, proto_tree_get_root(tree));

#.TYPE_ATTR
ProtocolExtensionID TYPE = FT_UINT8  DISPLAY = BASE_DEC STRINGS = VALS(s1ap_ProtocolIE_ID_vals)

#.ASSIGN_VALUE_TO_TYPE  # S1AP does not have constants assigned to types, they are pure INTEGER
# ProcedureCode

id-HandoverPreparation 					ProcedureCode
id-HandoverResourceAllocation 			ProcedureCode
id-HandoverNotification 				ProcedureCode
id-PathSwitchRequest 					ProcedureCode
id-HandoverCancel 						ProcedureCode
id-SAEBearerSetup						ProcedureCode
id-SAEBearerModify 						ProcedureCode
id-SAEBearerRelease						ProcedureCode
id-SAEBearerReleaseRequest				ProcedureCode
id-InitialContextSetup					ProcedureCode
id-Paging								ProcedureCode
id-downlinkNASTransport					ProcedureCode
id-initialUEMessage						ProcedureCode
id-uplinkNASTransport					ProcedureCode
id-Reset								ProcedureCode
id-ErrorIndication						ProcedureCode
id-NASNonDeliveryIndication				ProcedureCode
id-S1Setup								ProcedureCode
id-UEContextReleaseRequest				ProcedureCode
id-DownlinkS1cdma2000tunneling			ProcedureCode
id-UplinkS1cdma2000tunneling			ProcedureCode
id-UEContextModification				ProcedureCode
id-UECapabilityInfoIndication			ProcedureCode
id-UEContextRelease						ProcedureCode
id-eNBStatusTransfer					ProcedureCode
id-MMEStatusTransfer					ProcedureCode
id-DeactivateTrace						ProcedureCode
id-TraceStart							ProcedureCode
id-TraceFailureIndication				ProcedureCode
id-ENBConfigurationUpdate				ProcedureCode
id-MMEConfigurationUpdate				ProcedureCode
id-LocationReportingControl				ProcedureCode
id-LocationReportingFailureIndication	ProcedureCode
id-LocationReport						ProcedureCode
id-OverloadStart						ProcedureCode
id-OverloadStop							ProcedureCode

# ProtocolIE-ID
id-MME-UE-S1AP-ID									ProtocolIE-ID
id-HandoverType										ProtocolIE-ID
id-Cause											ProtocolIE-ID
id-TargetID											ProtocolIE-ID
id-Intra-LTEHOInformationReq						ProtocolIE-ID
id-LTEtoUTRANHOInformationReq						ProtocolIE-ID
id-LTEtoGERANHOInformationReq						ProtocolIE-ID
id-eNB-UE-S1AP-ID									ProtocolIE-ID
id-Intra-LTEHOInformationRes						ProtocolIE-ID
id-LTEtoUTRANHOInformationRes						ProtocolIE-ID
id-LTEtoGERANHOInformationRes						ProtocolIE-ID
id-SAEBearerSubjecttoDataForwardingList				ProtocolIE-ID
id-SAEBearertoReleaseListHOCmd						ProtocolIE-ID
id-SAEBearerDataForwardingItem						ProtocolIE-ID
id-SAEBearerReleaseItemBearerRelComp				ProtocolIE-ID
id-SAEBearerToBeSetupListBearerSUReq				ProtocolIE-ID
id-SAEBearerToBeSetupItemBearerSUReq				ProtocolIE-ID
id-SAEBearerAdmittedList							ProtocolIE-ID
id-SAEBearerFailedToSetupListHOReqAck				ProtocolIE-ID
id-SAEBearerAdmittedItem							ProtocolIE-ID
id-SAEBearerFailedtoSetupItemHOReqAck				ProtocolIE-ID
id-SAEBearerToBeSwitchedDLList						ProtocolIE-ID
id-SAEBearerToBeSwitchedDLItem						ProtocolIE-ID
id-SAEBearerToBeSetupListCtxtSUReq					ProtocolIE-ID
id-TraceActivation									ProtocolIE-ID
id-NAS-PDU											ProtocolIE-ID
id-SAEBearerToBeSetupItemHOReq						ProtocolIE-ID
id-SAEBearerSetupListBearerSURes					ProtocolIE-ID
id-SAEBearerFailedToSetupListBearerSURes			ProtocolIE-ID
id-SAEBearerToBeModifiedListBearerModReq			ProtocolIE-ID
id-SAEBearerModifyListBearerModRes					ProtocolIE-ID
#id-SAEBearerFailedToModifyList						ProtocolIE-ID
id-SAEBearerToBeReleasedList						ProtocolIE-ID
id-SAEBearerFailedToReleaseList						ProtocolIE-ID
id-SAEBearerItem									ProtocolIE-ID
id-SAEBearerToBeModifiedItemBearerModReq			ProtocolIE-ID
id-SAEBearerModifyItemBearerModRes					ProtocolIE-ID
id-SAEBearerReleaseItem								ProtocolIE-ID
id-SAEBearerSetupItemBearerSURes					ProtocolIE-ID
id-Security-Information								ProtocolIE-ID
id-HandoverRestrictionList							ProtocolIE-ID
id-pagingDRX 										ProtocolIE-ID
id-pagingCause										ProtocolIE-ID
id-TAIList											ProtocolIE-ID
id-TAIItem											ProtocolIE-ID
id-SAEBearerFailedToSetupListCtxtSURes				ProtocolIE-ID
id-SAEBearerReleaseItemHOCmd						ProtocolIE-ID
id-SAEBearerSetupItemCtxtSURes						ProtocolIE-ID
id-SAEBearerSetupListCtxtSURes						ProtocolIE-ID
id-SAEBearerToBeSetupItemCtxtSUReq					ProtocolIE-ID
id-SAEBearerToBeSetupListHOReq						ProtocolIE-ID
id-GERANtoLTEHOInformationRes						ProtocolIE-ID
id-UTRANtoLTEHOInformationRes						ProtocolIE-ID
id-CriticalityDiagnostics 							ProtocolIE-ID
id-eNBname											ProtocolIE-ID
id-MMEname											ProtocolIE-ID
id-Global-ENB-ID									ProtocolIE-ID
id-ServedPLMNs										ProtocolIE-ID
id-SupportedTAs										ProtocolIE-ID
id-TimeToWait										ProtocolIE-ID
id-uEaggregateMaximumBitrate						ProtocolIE-ID
id-TAI												ProtocolIE-ID
id-SAEBearerReleaseListBearerRelComp				ProtocolIE-ID
id-cdma2000PDU										ProtocolIE-ID
id-cdma2000RATType									ProtocolIE-ID
id-cdma2000SectorID									ProtocolIE-ID
id-SecurityInfo										ProtocolIE-ID
id-UERadioCapability								ProtocolIE-ID
id-GUMMEI-ID										ProtocolIE-ID
id-SAEBearerInformationListItem						ProtocolIE-ID
id-Direct-Forwarding-Path-Availability				ProtocolIE-ID
id-UEIdentityIndexValue								ProtocolIE-ID
id-cdma2000HOStatus									ProtocolIE-ID
id-cdma2000HORequiredIndication						ProtocolIE-ID
id-TraceReference									ProtocolIE-ID
id-RelativeMMECapacity								ProtocolIE-ID
id-SourceMME-UE-S1AP-ID								ProtocolIE-ID
id-Bearers-SubjectToStatusTransfer-Item				ProtocolIE-ID
id-eNB-StatusTransfer-TransparentContainer			ProtocolIE-ID
id-UE-associatedLogicalS1-ConnectionItem			ProtocolIE-ID
id-ResetType										ProtocolIE-ID
id-UE-associatedLogicalS1-ConnectionListResAck		ProtocolIE-ID
id-SAEBearerToBeSwitchedULItem						ProtocolIE-ID
id-SAEBearerToBeSwitchedULList						ProtocolIE-ID
id-S-TMSI											ProtocolIE-ID
id-cdma2000OneXRAND									ProtocolIE-ID
id-RequestType										ProtocolIE-ID
id-UE-S1AP-IDs										ProtocolIE-ID
id-EUTRAN-CGI										ProtocolIE-ID
id-OverloadResponse									ProtocolIE-ID
id-cdma2000OneXSRVCCInfo							ProtocolIE-ID
id-SAEBearerFailedToSwitchDLList					ProtocolIE-ID
id-SourceeNodeB-ToTargeteNodeB-TransparentContainer	ProtocolIE-ID
id-ServedGUMMEIs									ProtocolIE-ID
id-SubscriberProfileIDforRFP						ProtocolIE-ID
#.END

#.REGISTER_NEW

#S1AP-PROTOCOL-IES
MME-UE-S1AP-ID							N s1ap.ies id-MME-UE-S1AP-ID
HandoverType							N s1ap.ies id-HandoverType
Cause									N s1ap.ies id-Cause
TargetID								N s1ap.ies id-TargetID
Intra-LTEHOInformationReq				N s1ap.ies id-Intra-LTEHOInformationReq
LTEtoUTRANHOInformationReq				N s1ap.ies id-LTEtoUTRANHOInformationReq
LTEtoGERANHOInformationReq				N s1ap.ies id-LTEtoGERANHOInformationReq
ENB-UE-S1AP-ID							N s1ap.ies id-eNB-UE-S1AP-ID
Intra-LTEHOInformationRes				N s1ap.ies id-Intra-LTEHOInformationRes
LTEtoUTRANHOInformationRes				N s1ap.ies id-LTEtoUTRANHOInformationRes
LTEtoGERANHOInformationRes				N s1ap.ies id-LTEtoGERANHOInformationRes
SAEBearerSubjecttoDataForwardingList	N s1ap.ies id-SAEBearerSubjecttoDataForwardingList
SAEBearertoReleaseListHOCmd				N s1ap.ies id-SAEBearertoReleaseListHOCmd
SAEBearerDataForwardingItem				N s1ap.ies id-SAEBearerDataForwardingItem
SAEBearerReleaseItemBearerRelComp		N s1ap.ies id-SAEBearerReleaseItemBearerRelComp
SAEBearerToBeSetupListBearerSUReq		N s1ap.ies id-SAEBearerToBeSetupListBearerSUReq
SAEBearerToBeSetupItemBearerSUReq		N s1ap.ies id-SAEBearerToBeSetupItemBearerSUReq
SAEBearerAdmittedList					N s1ap.ies id-SAEBearerAdmittedList
SAEBearerFailedtoSetupListHOReqAck		N s1ap.ies id-SAEBearerFailedToSetupListHOReqAck
SAEBearerAdmittedItem					N s1ap.ies id-SAEBearerAdmittedItem
SAEBearerFailedToSetupItemHOReqAck		N s1ap.ies id-SAEBearerFailedtoSetupItemHOReqAck
SAEBearerToBeSwitchedDLList				N s1ap.ies id-SAEBearerToBeSwitchedDLList
SAEBearerToBeSwitchedDLItem				N s1ap.ies id-SAEBearerToBeSwitchedDLItem
SAEBearerToBeSetupListCtxtSUReq			N s1ap.ies id-SAEBearerToBeSetupListCtxtSUReq
TraceActivation							N s1ap.ies id-TraceActivation
NAS-PDU									N s1ap.ies id-NAS-PDU
SAEBearerToBeSetupItemHOReq				N s1ap.ies id-SAEBearerToBeSetupItemHOReq
SAEBearerSetupListBearerSURes			N s1ap.ies id-SAEBearerSetupListBearerSURes
SAEBearerList							N s1ap.ies id-SAEBearerFailedToSetupListBearerSURes
SAEBearerToBeModifiedListBearerModReq	N s1ap.ies id-SAEBearerToBeModifiedListBearerModReq
SAEBearerModifyListBearerModRes			N s1ap.ies id-SAEBearerModifyListBearerModRes
SAEBearerList							N s1ap.ies id-SAEBearerFailedToModifyList
SAEBearerList							N s1ap.ies id-SAEBearerToBeReleasedList
SAEBearerList							N s1ap.ies id-SAEBearerFailedToReleaseList
SAEBearerItem							N s1ap.ies id-SAEBearerItem
SAEBearerToBeModifiedItemBearerModReq	N s1ap.ies id-SAEBearerToBeModifiedItemBearerModReq
SAEBearerModifyItemBearerModRes			N s1ap.ies id-SAEBearerModifyItemBearerModRes
#SAEBearerReleaseItem					N s1ap.ies id-SAEBearerReleaseItem
SAEBearerSetupItemBearerSURes			N s1ap.ies id-SAEBearerSetupItemBearerSURes
SecurityInformation						N s1ap.ies id-Security-Information
HandoverRestrictionList					N s1ap.ies id-HandoverRestrictionList
PagingDRX								N s1ap.ies id-pagingDRX
PagingCause								N s1ap.ies id-pagingCause
TAIList									N s1ap.ies id-TAIList
TAIItem									N s1ap.ies id-TAIItem
SAEBearerList							N s1ap.ies id-SAEBearerFailedToSetupListCtxtSURes
SAEBearerReleaseItemHOCmd				N s1ap.ies id-SAEBearerReleaseItemHOCmd
SAEBearerSetupItemCtxtSURes				N s1ap.ies id-SAEBearerSetupItemCtxtSURes
SAEBearerSetupListCtxtSURes				N s1ap.ies id-SAEBearerSetupListCtxtSURes
SAEBearerToBeSetupItemCtxtSUReq			N s1ap.ies id-SAEBearerToBeSetupItemCtxtSUReq
SAEBearerToBeSetupListHOReq				N s1ap.ies id-SAEBearerToBeSetupListHOReq
GERANtoLTEHOInformationRes				N s1ap.ies id-GERANtoLTEHOInformationRes
UTRANtoLTEHOInformationRes				N s1ap.ies id-UTRANtoLTEHOInformationRes
CriticalityDiagnostics					N s1ap.ies id-CriticalityDiagnostics
Global-ENB-ID							N s1ap.ies id-Global-ENB-ID
ENBname									N s1ap.ies id-eNBname
MMEname									N s1ap.ies id-MMEname
ServedPLMNs								N s1ap.ies id-ServedPLMNs
SupportedTAs							N s1ap.ies id-SupportedTAs
TimeToWait								N s1ap.ies id-TimeToWait
UEAggregateMaximumBitrate				N s1ap.ies id-uEaggregateMaximumBitrate
TAI										N s1ap.ies id-TAI
SAEBearerReleaseListBearerRelComp		N s1ap.ies id-SAEBearerReleaseListBearerRelComp				
Cdma2000PDU								N s1ap.ies id-cdma2000PDU										
Cdma2000RATType							N s1ap.ies id-cdma2000RATType									
Cdma2000SectorID						N s1ap.ies id-cdma2000SectorID									
SecurityInfo							N s1ap.ies id-SecurityInfo										
UERadioCapability						N s1ap.ies id-UERadioCapability								
GUMMEI									N s1ap.ies id-GUMMEI-ID										
SAEBearerInformationListItem			N s1ap.ies id-SAEBearerInformationListItem						
Direct-Forwarding-Path-Availability		N s1ap.ies id-Direct-Forwarding-Path-Availability				
UEIdentityIndexValue					N s1ap.ies id-UEIdentityIndexValue								
Cdma2000HOStatus						N s1ap.ies id-cdma2000HOStatus
Cdma2000HORequiredIndication			N s1ap.ies id-cdma2000HORequiredIndication
TraceReference							N s1ap.ies id-TraceReference
RelativeMMECapacity						N s1ap.ies id-RelativeMMECapacity
MME-UE-S1AP-ID							N s1ap.ies id-SourceMME-UE-S1AP-ID
Bearers-SubjectToStatusTransfer-Item	N s1ap.ies id-Bearers-SubjectToStatusTransfer-Item
ENB-StatusTransfer-TransparentContainer	N s1ap.ies id-eNB-StatusTransfer-TransparentContainer
UE-associatedLogicalS1-ConnectionItem	N s1ap.ies id-UE-associatedLogicalS1-ConnectionItem
ResetType								N s1ap.ies id-ResetType
UE-associatedLogicalS1-ConnectionListResAck	N s1ap.ies id-UE-associatedLogicalS1-ConnectionListResAck
SAEBearerToBeSwitchedULItem				N s1ap.ies id-SAEBearerToBeSwitchedULItem
SAEBearerToBeSwitchedULList				N s1ap.ies id-SAEBearerToBeSwitchedULList
S-TMSI									N s1ap.ies id-S-TMSI
Cdma2000OneXRAND						N s1ap.ies id-cdma2000OneXRAND
RequestType								N s1ap.ies id-RequestType
UE-S1AP-IDs								N s1ap.ies id-UE-S1AP-IDs
EUTRAN-CGI								N s1ap.ies id-EUTRAN-CGI
OverloadResponse						N s1ap.ies id-OverloadResponse
Cdma2000OneXSRVCCInfo					N s1ap.ies id-cdma2000OneXSRVCCInfo
SAEBearerList							N s1ap.ies id-SAEBearerFailedToSwitchDLList
SourceeNodeB-ToTargeteNodeB-TransparentContainer	N s1ap.ies id-SourceeNodeB-ToTargeteNodeB-TransparentContainer
ServedGUMMEIs							N s1ap.ies id-ServedGUMMEIs
SubscriberProfileIDforRFP				N s1ap.ies id-SubscriberProfileIDforRFP

#S1AP-PROTOCOL-IES-PAIR
#RAB-SetupOrModifyItemFirst         N s1ap.ies.pair.first id-RAB-SetupOrModifyItem
#RAB-SetupOrModifyItemSecond        N s1ap.ies.pair.second id-RAB-SetupOrModifyItem

#NBAP-PROTOCOL-EXTENSION
#RAB-Parameters                     N s1ap.extension id-AlternativeRABConfiguration
#Alt-RAB-Parameter-ExtendedGuaranteedBitrateInf N s1ap.extension id-Alt-RAB-Parameter-ExtendedGuaranteedBitrateInf

#NBAP-ELEMENTARY-PROCEDURE
HandoverRequired						N s1ap.proc.imsg id-HandoverPreparation
HandoverCommand							N s1ap.proc.sout id-HandoverPreparation
HandoverPreparationFailure				N s1ap.proc.uout id-HandoverPreparation

HandoverRequest							N s1ap.proc.imsg id-HandoverResourceAllocation
HandoverRequestAcknowledge				N s1ap.proc.sout id-HandoverResourceAllocation
HandoverFailure							N s1ap.proc.uout id-HandoverResourceAllocation

HandoverNotify							N s1ap.proc.imsg id-HandoverNotification

PathSwitchRequest						N s1ap.proc.imsg id-PathSwitchRequest
PathSwitchRequestAcknowledge			N s1ap.proc.sout id-PathSwitchRequest
PathSwitchRequestFailure				N s1ap.proc.uout id-PathSwitchRequest

SAEBearerSetupRequest					N s1ap.proc.imsg id-SAEBearerSetup
SAEBearerSetupResponse					N s1ap.proc.sout id-SAEBearerSetup

SAEBearerModifyRequest					N s1ap.proc.imsg id-SAEBearerModify
SAEBearerModifyResponse					N s1ap.proc.sout id-SAEBearerModify

SAEBearerReleaseCommand					N s1ap.proc.imsg id-SAEBearerRelease
SAEBearerReleaseResponse				N s1ap.proc.sout id-SAEBearerRelease

SAEBearerReleaseRequest					N s1ap.proc.imsg id-SAEBearerReleaseRequest

InitialContextSetupRequest				N s1ap.proc.imsg id-InitialContextSetup
InitialContextSetupResponse				N s1ap.proc.sout id-InitialContextSetup
InitialContextSetupFailure				N s1ap.proc.uout id-InitialContextSetup

UEContextReleaseRequest					N s1ap.proc.imsg id-UEContextReleaseRequest

Paging									N s1ap.proc.imsg id-Paging

DownlinkNASTransport					N s1ap.proc.imsg id-downlinkNASTransport

InitialUEMessage						N s1ap.proc.imsg id-initialUEMessage

UplinkNASTransport						N s1ap.proc.imsg id-uplinkNASTransport

NASNonDeliveryIndication				N s1ap.proc.imsg id-NASNonDeliveryIndication

HandoverCancel							N s1ap.proc.imsg id-HandoverCancel
HandoverCancelAcknowledge				N s1ap.proc.sout id-HandoverCancel

Reset									N s1ap.proc.imsg id-Reset
ResetAcknowledge						N s1ap.proc.sout id-Reset

ErrorIndication							N s1ap.proc.imsg id-ErrorIndication

S1SetupRequest							N s1ap.proc.imsg id-S1Setup
S1SetupResponse							N s1ap.proc.sout id-S1Setup
S1SetupFailure							N s1ap.proc.uout id-S1Setup

DownlinkS1cdma2000tunneling				N s1ap.proc.imsg id-DownlinkS1cdma2000tunneling

ENBConfigurationUpdate					N s1ap.proc.imsg id-ENBConfigurationUpdate
ENBConfigurationUpdateAcknowledge		N s1ap.proc.sout id-ENBConfigurationUpdate
ENBConfigurationUpdateFailure			N s1ap.proc.uout id-ENBConfigurationUpdate

MMEConfigurationUpdate					N s1ap.proc.imsg id-MMEConfigurationUpdate
MMEConfigurationUpdateAcknowledge		N s1ap.proc.sout id-MMEConfigurationUpdate
MMEConfigurationUpdateFailure			N s1ap.proc.uout id-MMEConfigurationUpdate

UplinkS1cdma2000tunneling				N s1ap.proc.imsg id-UplinkS1cdma2000tunneling

UEContextModificationRequest			N s1ap.proc.imsg id-UEContextModification 
UEContextModificationResponse			N s1ap.proc.sout id-UEContextModification
UEContextModificationFailure			N s1ap.proc.uout id-UEContextModification

UECapabilityInfoIndication				N s1ap.proc.imsg id-UECapabilityInfoIndication

UEContextReleaseCommand					N s1ap.proc.imsg id-UEContextRelease
UEContextReleaseComplete				N s1ap.proc.sout id-UEContextRelease

ENBStatusTransfer						N s1ap.proc.imsg id-eNBStatusTransfer

MMEStatusTransfer						N s1ap.proc.imsg id-MMEStatusTransfer

DeactivateTrace							N s1ap.proc.imsg id-DeactivateTrace

TraceStart								N s1ap.proc.imsg id-TraceStart

TraceFailureIndication					N s1ap.proc.imsg id-TraceFailureIndication

LocationReportingControl				N s1ap.proc.imsg id-LocationReportingControl

LocationReportingFailureIndication		N s1ap.proc.imsg id-LocationReportingFailureIndication

LocationReport							N s1ap.proc.imsg id-LocationReport

OverloadStart							N s1ap.proc.imsg id-OverloadStart

OverloadStop							N s1ap.proc.imsg id-OverloadStop

#.TYPE_ATTR
BitRate TYPE = FT_UINT64 DISPLAY = BASE_DEC STRINGS = NULL
#.END
