# CRMF.cnf
# CRMF conformation file

#.MODULE_IMPORT
PKIX1Explicit88	pkix1explicit
PKIX1Implicit88	pkix1implicit
CryptographicMessageSyntax2004 cms

#.IMPORT ../cms/cms-exp.cnf
#.INCLUDE ../pkix1explicit/pkix1explicit_exp.cnf
#.INCLUDE ../pkix1implicit/pkix1implicit_exp.cnf

#.EXPORTS
Authenticator
Attributes
AttributeTypeAndValue
CertId
CertReq
CertReqMessages
CertReqMsg
CertRequest
CertTemplate
Controls
EncKeyWithID
EncryptedKey
EncryptedValue
KeyGenParameters
OldCertId
OptionalValidity
PBMParameter
PKIArchiveOptions
PKIPublicationInfo
PKMACValue
POPOPrivKey
POPOSigningKey
POPOSigningKeyInput
PrivateKeyInfo
ProofOfPossession
ProtocolEncrKey
RegToken
SinglePubInfo
SubsequentMessage
UTF8Pairs

#.REGISTER
EncKeyWithID         B "1.2.840.113549.1.9.16.1.21" "id-ct-encKeyWithID"
PBMParameter         B "1.2.840.113533.7.66.13"     "PasswordBasedMac"
RegToken             B "1.3.6.1.5.5.7.5.1.1"        "id-regCtrl-regToken"
Authenticator        B "1.3.6.1.5.5.7.5.1.2"        "id-regCtrl-authenticator"
PKIPublicationInfo   B "1.3.6.1.5.5.7.5.1.3"        "id-regCtrl-pkiPublicationInfo"
PKIArchiveOptions    B "1.3.6.1.5.5.7.5.1.4"        "id-regCtrl-pkiArchiveOptions"
OldCertId            B "1.3.6.1.5.5.7.5.1.5"        "id-regCtrl-oldCertID"
ProtocolEncrKey      B "1.3.6.1.5.5.7.5.1.6"        "id-regCtrl-protocolEncrKey"
UTF8Pairs            B "1.3.6.1.5.5.7.5.2.1"        "id-regInfo-utf8Pairs"
CertRequest          B "1.3.6.1.5.5.7.5.2.2"        "id-regInfo-certReq"

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME
CertTemplate/issuer		template_issuer
POPOSigningKey/signature	sk_signature
PKMACValue/value		pkmac_value
PrivateKeyInfo/version          privkey_version
EncKeyWithID/privateKey         enckeywid_privkey

#.FN_PARS AttributeTypeAndValue/type
  FN_VARIANT = _str  HF_INDEX = hf_crmf_type_oid  VAL_PTR = &actx->external.direct_reference

#.FN_BODY AttributeTypeAndValue/value
  offset=call_ber_oid_callback(actx->external.direct_reference, tvb, offset, actx->pinfo, tree, NULL);

#.END


