[Format]
Type=PortableApps.comFormat
Version=2.0

[Details]
Name=Wireshark Portable
AppID=WiresharkPortable
Publisher=Wireshark.org
Homepage=www.wireshark.org
Category=Internet
Description=Wireshark is one of the world's foremost network protocol analyzers.
Language=Multilingual
Trademarks=Wireshark and the fin logo are registered trademarks of Gerald C. Combs

[License]
Shareable=true
OpenSource=true
Freeware=true
CommercialUse=true

[Version]
PackageVersion=$(PAPPS_VERSION)
DisplayVersion=$(VERSION_MAJOR).$(VERSION_MINOR)

[Control]
Icons=1
Start=WiresharkPortable.exe
