#
# WirersharkPortable.ini - settings for configure the running of WiresharkPortable
#
[WiresharkPortable]

WiresharkDirectory=App/Wireshark
WiresharkExecutable=wireshark.exe
AdditionalParameters=

DisableWinPcapInstall=false
WinPcapInstaller=WinPcap_$(WINPCAP_VERSION).exe

MSVCRedist=vcredist_$(TARGET_MACHINE).exe

# This INI is an example only and will not work until placed according to the directions in readme.txt
# The above options are explained in the included readme.txt
