<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?define WiresharkFileAssociation = "wireshark-capture-file" ?>

  <!-- The path to the installer's End-User License Agreement, displayed during installation -->
  <?define EulaPath="$(var.AssetDir)\COPYING.rtf"?>
  <!-- Windows 8 and later supports PNG. Until then we use cave paintings^W^W BMP. -->
  <?define BannerImagePath="$(var.AssetDir)\banner.bmp"?>
  <?define DialogImagePath="$(var.AssetDir)\dialog.bmp"?>

  <Product Id="*" Name="$(var.WiresharkName) $(var.WiresharkVersion)" Language="1033" Version="$(var.WiresharkVersion)" Manufacturer="The Wireshark developer community, http://www.wireshark.org/" UpgradeCode="0d67aace-269a-4264-81a3-da8055c1c79c">
        <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />
    <!-- Values for Additional Tasks -->
    <Property Id="WIRESHARK_START_MENU" Value="1" Secure="yes"/>
    <Property Id="WIRESHARK_DESKTOP_ICON" Secure="yes"/>
    <Property Id="WIRESHARK_QUICK_LAUNCH_ICON" Value="1" Secure="yes" />
    <Property Id="WIRESHARK_LEGACY_START_MENU" Value="1" Secure="yes" />
    <Property Id="WIRESHARK_LEGACY_DESKTOP_ICON" Secure="yes"/>
    <Property Id="WIRESHARK_LEGACY_QUICK_LAUNCH_ICON" Value="1" Secure="yes" />
    <Property Id="WIRESHARK_FILE_EXTENSIONS" Value="0"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.WiresharkName) is already installed." />
        <MediaTemplate EmbedCab="yes" />

    <!-- Include the prerequisites, by referencing the placeholder property -->
    <PropertyRef Id="IncludePrerequisites" />

    <!-- Include the top-most parent feature -->
    <FeatureRef Id="Fe.Wireshark" />

    <!-- Include the installer UI definition -->
    <UIRef Id="UI.Wireshark"/>
  </Product>

  <?include InputPaths.wxi ?>
  <?include DirectoryStructure.wxi ?>
  <?include Prerequisites.wxi ?>
  <?include ComponentGroups.wxi ?>
  <?include Plugins.wxi ?>
  <?include Features.wxi ?>
  <?include UserInterface.wxi ?>
</Wix>