<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <!--
        Recommended control sizing and spacing:
        https://docs.microsoft.com/en-us/windows/win32/uxguide/vis-layout#control-sizing
        https://docs.microsoft.com/en-us/windows/win32/uxguide/vis-layout#spacing
        The recommended spacing between unrelated controls is 7, but 10 looks better.
        -->
      <Dialog Id="WiresharkOptionsDlg" Width="370" Height="270" Title="!(loc.LicenseAgreementDlg_Title)">
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.LicenseAgreementDlgBannerBitmap)"/>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0"/>
        <Control Id="Title" Type="Text" X="14" Y="7" Width="350" Height="15" Transparent="yes" NoPrefix="yes" Text="Packet capture, shortcuts, and file extensions"/>
        <Control Id="Description" Type="Text" X="20" Y="26" Width="350" Height="15" Transparent="yes" NoPrefix="yes" Text="You must install Npcap or WinPcap in order to capture packets."/>

        <!-- BannerLine y = 44, 44 + 7 = 51 -->
        <Control Id="NetworkCapture" Type="Text" X="14" Y="51" Width="350" Height="12" Text="{\WixUI_Font_Bold}Wireshark requires Npcap or WinPcap to capture network packets"/>
        <Control Id="NetworkCaptureNpcap" Type="Hyperlink" X="20" Y="63" Width="350" Height="11">
          <Text><![CDATA[<a href="https://npcap.org">Download Npcap</a> (recommended)]]></Text>
        </Control>
        <!-- It looks Hyperlink controls only support one hyperlink, per control. -->
        <Control Id="NetworkCaptureWinPcap" Type="Hyperlink" X="20" Y="74" Width="350" Height="11">
          <Text><![CDATA[…or <a href="https://www.winpcap.org">download WinPcap</a>]]></Text>
        </Control>

        <!-- NetworkCaptureWinPcap y = 74, 74 + 8 + 10 = 92 -->
        <Control Id="UsbCapture" Type="Text" X="14" Y="92" Width="350" Height="12" Text="{\WixUI_Font_Bold}Wireshark requires USBPcap to capture USB Packets"/>
        <Control Id="UsbCaptureUsbPcap" Type="Hyperlink" X="20" Y="104" Width="350" Height="11">
          <Text><![CDATA[<a href="https://desowin.org/usbpcap/">Download USBPcap</a> (experimental)]]></Text>
        </Control>

        <!-- UsbCaptureUsbPcap y = 104, 104 + 8 + 10 = 122 -->
        <Control Id="Shortcuts" Type="Text" X="14" Y="122" Width="350" Height="11" Text="{\WixUI_Font_Bold}Create Shortcuts"/><!-- h = static text + label spacing = 8 + 3 -->
        <Control Id="WiresharkStartMenuCB" Type="CheckBox" X="20" Y="133" Width="350" Height="14" CheckBoxValue="1" Property="WIRESHARK_START_MENU" Text="Wireshark Start Menu Item"><!-- h = 10 + 4 -->
          <Condition Action="enable"><![CDATA[&Fe.Wireshark = 3]]></Condition>
          <Condition Action="disable"><![CDATA[&Fe.Wireshark <> 3]]></Condition>
        </Control>
        <Control Id="WiresharkDesktopIconCB" Type="CheckBox" X="20" Y="147" Width="350" Height="14" CheckBoxValue="1" Property="WIRESHARK_DESKTOP_ICON" Text="Wireshark Desktop Icon">
          <Condition Action="enable"><![CDATA[&Fe.Wireshark = 3]]></Condition>
          <Condition Action="disable"><![CDATA[&Fe.Wireshark <> 3]]></Condition>
        </Control>
        <Control Id="WiresharkQuickLaunchIconCB" Type="CheckBox" X="20" Y="161" Width="350" Height="14" CheckBoxValue="1" Property="WIRESHARK_QUICK_LAUNCH_ICON" Text="Wireshark Quick Launch Icon">
          <Condition Action="enable"><![CDATA[&Fe.Wireshark = 3]]></Condition>
          <Condition Action="disable"><![CDATA[&Fe.Wireshark <> 3]]></Condition>
        </Control>

        <!-- WiresharkQuickLaunchIconCB y = 161, 161 + 10 + 10 = 181 -->
        <Control Id="FileExtensions" Type="Text" X="14" Y="181" Width="350" Height="11" Text="{\WixUI_Font_Bold}Associate File Extensions"/><!-- h = static text + label spacing = 8 + 3 -->
        <Control Id="FileExtensionsCB" Type="CheckBox" X="20" Y="192" Width="350" Height="14" CheckBoxValue="1" Property="WIRESHARK_FILE_EXTENSIONS" Text="Associate trace file extensions with Wireshark">
          <Condition Action="enable"><![CDATA[&Fe.Wireshark = 3]]></Condition>
          <Condition Action="disable"><![CDATA[&Fe.Wireshark <> 3]]></Condition>
        </Control>
        <Control Id="FileExtensionsText1" Type="Text" X="20" Y="206" Width="350" Height="11" Transparent="yes" NoPrefix="yes" Text="Extensions include 5vw, acp, apc, atc, bfr, cap, enc, erf, fdc, lcap, mplog, ntar, out,"/>
        <Control Id="FileExtensionsText2" Type="Text" X="20" Y="217" Width="350" Height="11" Transparent="yes" NoPrefix="yes" Text="pcap, pcapng, pkt, rf5, snoop, syc, tpc, tr1, trace, trc, vwr, wpc, and wpz."/>

        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0"/>
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)"/>
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)"/>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
    </UI>
  </Fragment>
</Wix>
