# x509.cnf
# X509 conformation file

# $Id$

#.MODULE_IMPORT
InformationFramework x509if
CertificateExtensions x509ce
SelectedAttributeTypes x509sat

#.INCLUDE ../x509ce/x509ce-exp.cnf
#.INCLUDE ../x509if/x509if-exp.cnf
#.INCLUDE ../x509sat/x509sat-exp.cnf

#.EXPORTS
ACPathData
AlgorithmIdentifier
AttCertValidityPeriod
AttributeCertificate
AttributeCertificateAssertion
AttributeCertificateInfo
AttributeCertificationPath
Certificate
Certificates
CertificateList
CertificatePair
CertificateSerialNumber
CertificationPath
CrossCertificates
Extension
Extensions
ForwardCertificationPath
IssuerSerial
SubjectPublicKeyInfo
Time
Validity
Version

#.PDU

#.REGISTER
Certificate          B "2.5.4.36" "id-at-userCertificate"
Certificate          B "2.5.4.37" "id-at-cAcertificate"
CertificateList      B "2.5.4.38" "id-at-authorityRevocationList"
CertificateList      B "2.5.4.39" "id-at-certificateRevocationList"
CertificatePair      B "2.5.4.40" "id-at-crossCertificatePair"
AttributeCertificate B "2.5.4.58" "id-at-attributeCertificate"
CertificateList      B "2.5.4.59" "id-at-attributeCertificateRevocationList"

DSS-Params	     B "1.2.840.10040.4.1" "id-dsa"
#.NO_EMIT

#.TYPE_RENAME
AttributeCertificateInfo/subject	InfoSubject
AttributeCertificateAssertion/subject	AssertionSubject

#.FIELD_RENAME
AttributeCertificateInfo/issuer		issuerName	
AttributeCertificateInfo/subject info_subject
AttributeCertificateAssertion/subject assertion_subject

AttributeCertificateAssertion/issuer assertionIssuer

AttributeCertificateInfo/subject/subjectName      infoSubjectName
AttributeCertificateAssertion/subject/subjectName assertionSubjectName
IssuerSerial/issuer			issuerName	
CertificateList/signedCertificateList/revokedCertificates/_item/userCertificate		revokedUserCertificate
#.END

#.FN_PARS AlgorithmIdentifier/algorithmId
  FN_VARIANT = _str  HF_INDEX = hf_x509af_algorithm_id  VAL_PTR = &algorithm_id

#.FN_BODY AlgorithmIdentifier/algorithmId
  char *name;

  %(DEFAULT_BODY)s

  if(algorithm_id) {
    name = get_ber_oid_name(algorithm_id);

    proto_item_append_text(tree, " (%%s)", name ? name : algorithm_id); 
  }

#.FN_BODY AlgorithmIdentifier/parameters
  offset=call_ber_oid_callback(algorithm_id, tvb, offset, pinfo, tree);

#.FN_PARS Extension/extnId
  FN_VARIANT = _str  HF_INDEX = hf_x509af_extension_id  VAL_PTR = &extension_id

#.FN_BODY Extension/extnId
  char *name;

  %(DEFAULT_BODY)s

  if(extension_id) {
    name = get_ber_oid_name(extension_id);

    proto_item_append_text(tree, " (%%s)", name ? name : extension_id);
  }

#.FN_BODY Extension/extnValue
  gint8 class;
  gboolean pc, ind;
  gint32 tag;
  guint32 len;
  /* skip past the T and L  */
  offset = dissect_ber_identifier(pinfo, tree, tvb, offset, &class, &pc, &tag);
  offset = dissect_ber_length(pinfo, tree, tvb, offset, &len, &ind);
  offset=call_ber_oid_callback(extension_id, tvb, offset, pinfo, tree);

#.FN_BODY SubjectName

  %(DEFAULT_BODY)s

  proto_item_append_text(proto_item_get_parent(tree), " (%%s)", x509if_get_last_dn());

#.END
