
#.IMPORT_TAG
AlgorithmIdentifier BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
AttributeCertificate     BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
AttributeCertificateAssertion BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
AttributeCertificationPath BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
Certificate              BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CertificateSerialNumber  BER_CLASS_UNI BER_UNI_TAG_INTEGER
Certificates             BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CertificationPath        BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CertificateList          BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
SubjectPublicKeyInfo     BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
#.END

#.TYPE_ATTR
Certificate              TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CertificateSerialNumber  TYPE = FT_INT32   DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
Certificates             TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CertificationPath        TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CertificateList          TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
AttributeCertificationPath TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
AttributeCertificate     TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
AttributeCertificateAssertion TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
SubjectPublicKeyInfo     TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
#.END
