# rrlp.cnf
# rrlp conformation file
# Copyright 2006 Anders Broman 
# $Id$

#.OPT
PER
UNALIGNED
#.END

#.PDU
PDU

#.OMIT_ASSIGNMENTS_EXCEPT  MAP-LCS-DataTypes
Ext-GeographicalInformation
maxExt-GeographicalInformation
VelocityEstimate
#.END

#.OMIT_ASSIGNMENT  MAP-ExtensionDataTypes
SLR-ArgExtensionContainer
SLR-Arg-PCS-Extensions
#.END

#.FN_HDR PDU
	
	proto_tree_add_item(tree, proto_rrlp, tvb, 0, -1, ENC_NA);

	col_append_sep_str(actx->pinfo->cinfo, COL_PROTOCOL, "/", "RRLP");
#.END


#.FN_BODY Ext-GeographicalInformation VAL_PTR = &parameter_tvb

tvbuff_t *parameter_tvb = NULL;

  %(DEFAULT_BODY)s

  if(parameter_tvb)
	dissect_geographical_description(parameter_tvb, %(ACTX)s->pinfo, tree);
#.END

# Handle 64 bit constraint
#.FN_PARS UTCmodelSet3/tauC FN_VARIANT = _64b
#.FN_PARS UTCmodelSet4/utcA0wnt FN_VARIANT = _64b
#.FN_PARS NavModel-CNAVKeplerianSet/cnavMo FN_VARIANT = _64b
#.FN_PARS NavModel-CNAVKeplerianSet/cnavOmega FN_VARIANT = _64b
#.FN_PARS NavModel-CNAVKeplerianSet/cnavOMEGA0 FN_VARIANT = _64b
#.FN_PARS NavModel-CNAVKeplerianSet/cnavIo FN_VARIANT = _64b
#.FN_PARS NavModel-CNAVKeplerianSet/cnavE FN_VARIANT = _64b
#.FN_PARS ReferenceNavModel/keplerW FN_VARIANT = _64b
#.FN_PARS ReferenceNavModel/keplerM0 FN_VARIANT = _64b
#.FN_PARS ReferenceNavModel/keplerI0 FN_VARIANT = _64b
#.FN_PARS ReferenceNavModel/keplerOmega0 FN_VARIANT = _64b
