# rrlp.cnf
# rrlp conformation file
# Copyright 2006 Anders Broman 
# $Id$

#.PDU
PDU

#.FN_BODY PDU
	
	proto_tree_add_item(tree, proto_rrlp, tvb, 0, -1, FALSE);

	if (check_col(pinfo->cinfo, COL_PROTOCOL)) 
		col_set_str(pinfo->cinfo, COL_PROTOCOL, PSNAME);
	if (check_col(pinfo->cinfo, COL_INFO))
		col_clear(pinfo->cinfo, COL_INFO);

  %(DEFAULT_BODY)s
#.END


#.FN_BODY Ext-GeographicalInformation VAL_PTR = &parameter_tvb

tvbuff_t *parameter_tvb = NULL;

  %(DEFAULT_BODY)s

  if(parameter_tvb)
	dissect_geographical_description(parameter_tvb, pinfo, tree);
