<?xml version="1.0" encoding="UTF-8"?>
<u3manifest xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.0">
	<application uuid="$(UUID)" version="$(U3_VERSION)">
		<icon>wireshark.ico</icon>
		<name>Wireshark</name>
		<vendor url="http://www.wireshark.org/">The Wireshark Community</vendor>
		<description>Wireshark $(VERSION) is one of the world's foremost network protocol analyzers, and is the standard in many parts of the industry.</description>
		<shortDescription>Network protocol analyzer</shortDescription>
		<options>
			<minFreeSpace>$(SIZE)</minFreeSpace>
			<upgrade appData="remove" deviceExec="remove"/>
		</options>
	</application>
	<actions>
		<hostConfigure cmd="%U3_HOST_EXEC_PATH%\u3util.exe">hostConfigure</hostConfigure>
		<appStart cmd="%U3_HOST_EXEC_PATH%\wireshark.exe"/>
		<appStop cmd="%U3_HOST_EXEC_PATH%\u3util.exe">appStop</appStop>
		<hostCleanUp cmd="%U3_HOST_EXEC_PATH%\u3util.exe">hostCleanUp</hostCleanUp>
	</actions>
</u3manifest>
