<?xml version="1.0" encoding="UTF-8"?>
<u3manifest xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="C:\ethereal\packaging\u3\U3_manifest_1003.xsd" version="1.0">
	<application uuid="bb5e77c0-6bd8-11db-a4d9-0002a5d5c51b" version="$(VERSION)">
		<icon>wireshark.ico</icon>
		<name>Wireshark $(VERSION)</name>
		<vendor url="http://www.wireshark.org/">The Wireshark Developer Community</vendor>
		<description>Wireshark is one of the world's foremost network protocol analyzers, and is the standard in many parts of the industry.</description>
		<options>
			<minFreeSpace>60</minFreeSpace>
		</options>
	</application>
	<actions>
		<hostConfigure cmd="%U3_HOST_EXEC_PATH%\u3util.exe">hostConfigure</hostConfigure>
		<appStart cmd="%U3_HOST_EXEC_PATH%\wireshark.exe"/>
		<appStop cmd="%U3_HOST_EXEC_PATH%\u3util.exe">appStop</appStop>
		<hostCleanUp cmd="%U3_HOST_EXEC_PATH%\u3util.exe">hostCleanUp</hostCleanUp>
	</actions>
</u3manifest>
