# x509ce.cnf
# X509CE conformation file

# $Id$

#.MODULE_IMPORT
MTSAbstractService	x411

#.INCLUDE ../x509if/x509if-exp.cnf
#.INCLUDE ../x509af/x509af-exp.cnf
#.INCLUDE ../x509sat/x509sat-exp.cnf
#.INCLUDE ../x411/x411-exp.cnf

#.EXPORTS
AltNameType
AttributesSyntax
AuthorityKeyIdentifier
BaseCRLNumber
BaseDistance
BaseRevocationInfo
BasicConstraintsSyntax
CertificateAssertion
CertificateExactAssertion
CertificateListAssertion
CertificateListExactAssertion
CertificatePairAssertion
CertificatePairExactAssertion
CertificatePoliciesSyntax
CertPolicySet
CRLDistPointsSyntax
CRLNumber
CRLReason
CRLReferral
CRLScopeSyntax
CRLStreamIdentifier
DeltaInformation
DeltaRefInfo
DistributionPoint
DistributionPointName
EDIPartyName
GeneralName
GeneralNames
GeneralSubtree
GeneralSubtrees
HoldInstruction
IssuingDistPointSyntax
KeyIdentifier
KeyPurposeId
KeyPurposeIDs
KeyUsage
NameConstraintsSyntax
NumberRange
OnlyCertificateTypes
OrderedListSyntax
PerAuthorityScope
PkiPathMatchSyntax
PolicyConstraintsSyntax
PolicyInformation
PolicyMappingsSyntax
PolicyQualifierInfo
PrivateKeyUsagePeriod
ReasonFlags
SkipCerts
StatusReferral
StatusReferrals
SubjectKeyIdentifier

#.REGISTER
AttributesSyntax          B "2.5.29.9"  "id-ce-subjectDirectoryAttributes"
SubjectKeyIdentifier      B "2.5.29.14" "id-ce-subjectKeyIdentifier"
KeyUsage                  B "2.5.29.15" "id-ce-keyUsage"
PrivateKeyUsagePeriod     B "2.5.29.16" "id-ce-privateKeyUsagePeriod"
GeneralNames              B "2.5.29.17" "id-ce-subjectAltName"
GeneralNames              B "2.5.29.18" "id-ce-issuerAltName"
BasicConstraintsSyntax    B "2.5.29.19" "id-ce-basicConstraints"
CRLNumber                 B "2.5.29.20" "id-ce-cRLNumber"
CRLReason                 B "2.5.29.21" "id-ce-reasonCode"
HoldInstruction           B "2.5.29.23" "id-ce-instructionCode"
BaseCRLNumber             B "2.5.29.27" "id-ce-deltaCRLIndicator"
IssuingDistPointSyntax    B "2.5.29.28" "id-ce-issuingDistributionPoint"
GeneralNames              B "2.5.29.29" "id-ce-certificateIssuer"
NameConstraintsSyntax     B "2.5.29.30" "id-ce-nameConstraints"
CRLDistPointsSyntax       B "2.5.29.31" "id-ce-cRLDistributionPoints"
CertificatePoliciesSyntax B "2.5.29.32" "id-ce-certificatePolicies"
PolicyMappingsSyntax      B "2.5.29.33" "id-ce-policyMappings"
AuthorityKeyIdentifier    B "2.5.29.35" "id-ce-authorityKeyIdentifier"
PolicyConstraintsSyntax   B "2.5.29.36" "id-ce-policyConstraints"
KeyPurposeIDs             B "2.5.29.37" "id-ce-extKeyUsage"
CRLStreamIdentifier       B "2.5.29.40" "id-ce-cRLStreamIdentifier"
CRLScopeSyntax            B "2.5.29.44" "id-ce-cRLScope"
StatusReferrals           B "2.5.29.45" "id-ce-statusReferrals"
CRLDistPointsSyntax       B "2.5.29.46" "id-ce-freshestCRL"
OrderedListSyntax         B "2.5.29.47" "id-ce-orderedList"
DeltaInformation          B "2.5.29.53" "id-ce-deltaInfo"
SkipCerts                 B "2.5.29.54" "id-ce-inhibitAnyPolicy"

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME
CRLReferral/issuer	crlr_issuer
CertificatePairExactAssertion/issuedToThisCAAssertion	cpea_issuedToThisCAAssertion
CertificatePairExactAssertion/issuedByThisCAAssertion	cpea_issuedByThisCAAssertion
	
#.FN_PARS PolicyQualifierId
  FN_VARIANT = _str  HF_INDEX = hf_x509ce_object_identifier_id  VAL_PTR = &object_identifier_id

#.FN_BODY PolicyQualifierValue
  offset=call_ber_oid_callback(object_identifier_id, tvb, offset, pinfo, tree);

#.FN_BODY GeneralName/iPAddress
	proto_tree_add_item(tree, hf_x509ce_IPAddress, tvb, offset, 4, FALSE);
	offset+=4;

#.FN_PARS OtherNameType
  FN_VARIANT = _str  VAL_PTR = &object_identifier_id

#.FN_BODY OtherNameValue
  offset=call_ber_oid_callback(object_identifier_id, tvb, offset, pinfo, tree);

#.FN_FTR IA5String
  if(hf_index == hf_x509ce_uniformResourceIdentifier)
	PROTO_ITEM_SET_URL(get_ber_last_created_item());

#.END


