#.IMPORT_TAG
AuthorityKeyIdentifier   BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
KeyIdentifier            BER_CLASS_UNI BER_UNI_TAG_OCTETSTRING
SubjectKeyIdentifier     BER_CLASS_UNI BER_UNI_TAG_OCTETSTRING
KeyUsage                 BER_CLASS_UNI BER_UNI_TAG_BITSTRING
KeyPurposeIDs            BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
KeyPurposeId             BER_CLASS_UNI BER_UNI_TAG_OID
PrivateKeyUsagePeriod    BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CertificatePoliciesSyntax BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
PolicyInformation        BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
PolicyQualifierInfo      BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
PolicyMappingsSyntax     BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
GeneralNames             BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
GeneralName              BER_CLASS_ANY/*choice*/ -1/*choice*/
EDIPartyName             BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
AttributesSyntax         BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
BasicConstraintsSyntax   BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
NameConstraintsSyntax    BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
GeneralSubtrees          BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
GeneralSubtree           BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
BaseDistance             BER_CLASS_UNI BER_UNI_TAG_INTEGER
PolicyConstraintsSyntax  BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
SkipCerts                BER_CLASS_UNI BER_UNI_TAG_INTEGER
CRLNumber                BER_CLASS_UNI BER_UNI_TAG_INTEGER
CRLReason                BER_CLASS_UNI BER_UNI_TAG_ENUMERATED
HoldInstruction          BER_CLASS_UNI BER_UNI_TAG_OID
CRLScopeSyntax           BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
PerAuthorityScope        BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
OnlyCertificateTypes     BER_CLASS_UNI BER_UNI_TAG_BITSTRING
NumberRange              BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
BaseRevocationInfo       BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
StatusReferrals          BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
StatusReferral           BER_CLASS_ANY/*choice*/ -1/*choice*/
CRLReferral              BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
DeltaRefInfo             BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CRLStreamIdentifier      BER_CLASS_UNI BER_UNI_TAG_INTEGER
OrderedListSyntax        BER_CLASS_UNI BER_UNI_TAG_ENUMERATED
DeltaInformation         BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CRLDistPointsSyntax      BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
DistributionPoint        BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
DistributionPointName    BER_CLASS_ANY/*choice*/ -1/*choice*/
ReasonFlags              BER_CLASS_UNI BER_UNI_TAG_BITSTRING
IssuingDistPointSyntax   BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
BaseCRLNumber            BER_CLASS_UNI BER_UNI_TAG_INTEGER
CertificateExactAssertion BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CertificateAssertion     BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
AltNameType              BER_CLASS_ANY/*choice*/ -1/*choice*/
CertPolicySet            BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CertificatePairExactAssertion BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CertificatePairAssertion BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CertificateListExactAssertion BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
CertificateListAssertion BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
PkiPathMatchSyntax       BER_CLASS_UNI BER_UNI_TAG_SEQUENCE
#.END

#.TYPE_ATTR
AuthorityKeyIdentifier   TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
KeyIdentifier            TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
SubjectKeyIdentifier     TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
KeyUsage                 TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
KeyPurposeIDs            TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
KeyPurposeId             TYPE = FT_OID     DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
PrivateKeyUsagePeriod    TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CertificatePoliciesSyntax TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
PolicyInformation        TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
PolicyQualifierInfo      TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
PolicyMappingsSyntax     TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
GeneralNames             TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
GeneralName              TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(x509ce_GeneralName_vals)  BITMASK = 0
EDIPartyName             TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
AttributesSyntax         TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
BasicConstraintsSyntax   TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
NameConstraintsSyntax    TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
GeneralSubtrees          TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
GeneralSubtree           TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
BaseDistance             TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
PolicyConstraintsSyntax  TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
SkipCerts                TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
CRLNumber                TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
CRLReason                TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(x509ce_CRLReason_vals)  BITMASK = 0
HoldInstruction          TYPE = FT_OID     DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CRLScopeSyntax           TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
PerAuthorityScope        TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
OnlyCertificateTypes     TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
NumberRange              TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
BaseRevocationInfo       TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
StatusReferrals          TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
StatusReferral           TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(x509ce_StatusReferral_vals)  BITMASK = 0
CRLReferral              TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
DeltaRefInfo             TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CRLStreamIdentifier      TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
OrderedListSyntax        TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(x509ce_OrderedListSyntax_vals)  BITMASK = 0
DeltaInformation         TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CRLDistPointsSyntax      TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
DistributionPoint        TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
DistributionPointName    TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(x509ce_DistributionPointName_vals)  BITMASK = 0
ReasonFlags              TYPE = FT_BYTES   DISPLAY = BASE_HEX   STRINGS = NULL  BITMASK = 0
IssuingDistPointSyntax   TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
BaseCRLNumber            TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
CertificateExactAssertion TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CertificateAssertion     TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
AltNameType              TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = VALS(x509ce_AltNameType_vals)  BITMASK = 0
CertPolicySet            TYPE = FT_UINT32  DISPLAY = BASE_DEC   STRINGS = NULL  BITMASK = 0
CertificatePairExactAssertion TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CertificatePairAssertion TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CertificateListExactAssertion TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
CertificateListAssertion TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
PkiPathMatchSyntax       TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
#.END

