# ess.cnf
# ExtendedSecurityServices conformation file

# $Id$

#.IMPORT ../x509af/x509af-exp.cnf
#.IMPORT ../x509ce/x509ce-exp.cnf
#.IMPORT ../cms/cms-exp.cnf

#.EXPORTS

#.PDU

#.REGISTER
ReceiptRequest	   B "1.2.840.113549.1.9.16.2.1"  "id-aa-receiptRequest"
ContentIdentifier  B "1.2.840.113549.1.9.16.2.7"  "id-aa-contentIdentifier"
Receipt            B "1.2.840.113549.1.9.16.1.1"  "id-ct-receipt"
ContentHints       B "1.2.840.113549.1.9.16.2.4"  "id-aa-contentHint"
MsgSigDigest       B "1.2.840.113549.1.9.16.2.5"  "id-aa-msgSigDigest"
ContentReference   B "1.2.840.113549.1.9.16.2.10" "id-aa-contentReference"
ESSSecurityLabel   B "1.2.840.113549.1.9.16.2.2"  "id-aa-securityLabel"
EquivalentLabels   B "1.2.840.113549.1.9.16.2.9"  "id-aa-equivalentLabels"
MLExpansionHistory B "1.2.840.113549.1.9.16.2.3"  "id-aa-mlExpandHistory"
SigningCertificate B "1.2.840.113549.1.9.16.2.12" "id-aa-signingCertificate"
SigningCertificateV2 B "1.2.840.113549.1.9.16.2.47" "id-aa-signingCertificateV2"

RestrictiveTag	   B "2.16.840.1.101.2.1.8.3.0"	  "id-restrictiveAttributes"
EnumeratedTag	   B "2.16.840.1.101.2.1.8.3.1"	  "id-enumeratedPermissiveAttributes"
PermissiveTag	   B "2.16.840.1.101.2.1.8.3.2"	  "id-permissiveAttributes"
InformativeTag	   B "2.16.840.1.101.2.1.8.3.3"	  "id-informativeAttributes"
EnumeratedTag	   B "2.16.840.1.101.2.1.8.3.4"	  "id-enumeratedRestrictiveAttributes"

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME
SigningCertificateV2/certs	certsV2
RestrictiveTag/tagName          restrictiveTagName
RestrictiveTag/attributeFlags   restrictiveAttributeFlags
PermissiveTag/tagName           permissiveTagName
PermissiveTag/attributeFlags    permissiveAttributeFlags
InformativeTag/tagName          informativeTagName
FreeFormField/bitSetAttributes  informativeAttributeFlags

#.FN_PARS SecurityCategory/type
  FN_VARIANT = _str  HF_INDEX = hf_ess_SecurityCategory_type_OID  VAL_PTR = &object_identifier_id

#.FN_BODY SecurityCategory/value
  offset=call_ber_oid_callback(object_identifier_id, tvb, offset, actx->pinfo, tree);

#.FN_PARS RestrictiveTag/tagName
  FN_VARIANT = _str  VAL_PTR = &object_identifier_id

#.FN_PARS EnumeratedTag/tagName
  FN_VARIANT = _str  VAL_PTR = &object_identifier_id

#.FN_PARS PermissiveTag/tagName
  FN_VARIANT = _str  VAL_PTR = &object_identifier_id
  
#.FN_PARS InformativeTag/tagName
  FN_VARIANT = _str  VAL_PTR = &object_identifier_id

#.FN_PARS SecurityAttribute
  VAL_PTR = &attribute
  
#.FN_BODY SecurityAttribute
  guint32 attribute;
  
  %(DEFAULT_BODY)s
  ess_dissect_attribute (attribute, actx);
  
#.FN_PARS RestrictiveTag/attributeFlags
  VAL_PTR = &attributes
  
#.FN_BODY RestrictiveTag/attributeFlags
  tvbuff_t *attributes;
  
  %(DEFAULT_BODY)s
  ess_dissect_attribute_flags (attributes, actx);
  
#.FN_PARS PermissiveTag/attributeFlags
  VAL_PTR = &attributes
  
#.FN_BODY PermissiveTag/attributeFlags
  tvbuff_t *attributes;
  
  %(DEFAULT_BODY)s
  ess_dissect_attribute_flags (attributes, actx);
  
#.FN_PARS FreeFormField/bitSetAttributes
  VAL_PTR = &attributes
  
#.FN_BODY FreeFormField/bitSetAttributes
  tvbuff_t *attributes;
  
  %(DEFAULT_BODY)s
  ess_dissect_attribute_flags (attributes, actx);
  
#.FN_BODY Receipt
  col_set_str(actx->pinfo->cinfo, COL_PROTOCOL, "ESS");
  col_set_str(actx->pinfo->cinfo, COL_INFO, "Signed Receipt");
  %(DEFAULT_BODY)s

#.END

