# ess.cnf
# ExtendedSecurityServices conformation file

# $Id$

#.INCLUDE ../x509af/x509af-exp.cnf
#.INCLUDE ../x509ce/x509ce-exp.cnf
#.INCLUDE ../cms/cms-exp.cnf

#.EXPORTS

#.PDU

#.REGISTER
ReceiptRequest	   B "1.2.840.113549.1.9.16.2.1"  "id-aa-receiptRequest"
ContentIdentifier  B "1.2.840.113549.1.9.16.2.7"  "id-aa-contentIdentifier"
Receipt            B "1.2.840.113549.1.9.16.1.1"  "id-ct-receipt"
ContentHints       B "1.2.840.113549.1.9.16.2.4"  "id-aa-contentHint"
MsgSigDigest       B "1.2.840.113549.1.9.16.2.5"  "id-aa-msgSigDigest"
ContentReference   B "1.2.840.113549.1.9.16.2.10" "id-aa-contentReference"
ESSSecurityLabel   B "1.2.840.113549.1.9.16.2.2"  "id-aa-securityLabel"
EquivalentLabels   B "1.2.840.113549.1.9.16.2.9"  "id-aa-equivalentLabels"
MLExpansionHistory B "1.2.840.113549.1.9.16.2.3"  "id-aa-mlExpandHistory"
SigningCertificate B "1.2.840.113549.1.9.16.2.12" "id-aa-signingCertificate"

RestrictiveTag	   B "2.16.840.1.101.2.1.8.3.0"	  "id-restrictiveAttributes"
EnumeratedTag	   B "2.16.840.1.101.2.1.8.3.1"	  "id-enumeratedPermissiveAttributes"
PermissiveTag	   B "2.16.840.1.101.2.1.8.3.2"	  "id-restrictiveAttributes"
InformativeTag	   B "2.16.840.1.101.2.1.8.3.3"	  "id-informativeAttributes"
EnumeratedTag	   B "2.16.840.1.101.2.1.8.3.4"	  "id-enumeratedRestrictiveAttributes"

#.NO_EMIT

#.TYPE_RENAME

#.FIELD_RENAME

#.FN_PARS SecurityCategory/type
  FN_VARIANT = _str  HF_INDEX = hf_ess_SecurityCategory_type_OID  VAL_PTR = &object_identifier_id

#.FN_BODY SecurityCategory/value
  offset=call_ber_oid_callback(object_identifier_id, tvb, offset, pinfo, tree);

#.END

