# CMakeListsCustom.txt
#
# Wireshark - Network traffic analyzer
# By Gerald Combs <gerald@wireshark.org>
# Copyright 1998 Gerald Combs
#
# SPDX-License-Identifier: GPL-2.0-or-later
#
# You can add custom builtin dissectors here by replaceing foo with your dissectors name.

set(CUSTOM_DISSECTOR_SRC
#	${CMAKE_CURRENT_SOURCE_DIR}/packet-foo.c
)

set(CUSTOM_DIRTY_ASN1_DISSECTOR_SRC
#	${CMAKE_CURRENT_SOURCE_DIR}/packet-bar.c
)

#
# Editor modelines  -  https://www.wireshark.org/tools/modelines.html
#
# Local variables:
# c-basic-offset: 8
# tab-width: 8
# indent-tabs-mode: t
# End:
#
# vi: set shiftwidth=8 tabstop=8 noexpandtab:
# :indentSize=8:tabSize=8:noTabs=false:
#
