# c-basic-offset: 2; tab-width: 2; indent-tabs-mode: t
# vi: set shiftwidth=2 tabstop=2 noexpandtab:
# :indentSize=2:tabSize=2:noTabs=false:

#.MODULE_IMPORT

#.EXPORTS

#.PDU
	CMAircraftMessage
	CMGroundMessage
#.END

#
# Editor modelines  -  http://www.wireshark.org/tools/modelines.html
#
# Local variables:
# c-basic-offset: 2
# tab-width: 2
# indent-tabs-mode: t
# End:
#
# vi: set shiftwidth=2 tabstop=2 noexpandtab:
# :indentSize=2:tabSize=2:noTabs=false:
