name: Close Pull Requests

on:
  pull_request:
    types: [opened]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: superbrothers/close-pull-request@v2
      with:
        # Optional. Post a issue comment just before closing a pull request.
        comment: |
          Hi, thank you for your contribution!
          Github is however not the right place for these, please have a look at

          https://www.wireshark.org/docs/wsdg_html_chunked/ChSrcContribute.html

          for further instructions.
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
