name: Build Windows

on: [push]

jobs:
  windows:
    name: Build & Test
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Choco install
        run: cinst -y --force --no-progress asciidoctorj xsltproc docbook-bundle winflexbison3 cmake nsis
      - name: Install strawberryperl
        run: |
          choco install strawberryperl
          echo "##[add-path]C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin"
      - name: Install Qt
        uses: jurplel/install-qt-action@v2
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.0.0
        with:
          vs-version: 16.4
      - name: Set MSVC command prompt
        uses: ilammy/msvc-dev-cmd@v1
      - name: Mkdir
        run: mkdir build
      - name: Cmake
        run: cmake -A x64 ..
        env:
          PLATFORM: x64
          WIRESHARK_BASE_DIR: C:/wireshark-libs
          QT5_BASE_DIR: C:/Qt/5.12.3/msvc2017_64
        working-directory: build
      - name: Build
        run: cmake --build . --config RelWithDebInfo
        working-directory: build
      - name: Build guides
        run: cmake --build . --config RelWithDebInfo --target user_guide_chm
        working-directory: build
      - name: Build test-programs
        run: cmake --build . --config RelWithDebInfo --target test-programs
        working-directory: build
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install pytest
        run: pip install pytest pytest-xdist
      - name: Run tests
        env:
          PYTEST_ADDOPTS: --skip-missing-programs=rawshark
        run: pytest
        working-directory: build
      - name: Build Windows pkg
        run: |
          msbuild /m /p:Configuration=RelWithDebInfo nsis_package_prep.vcxproj
          msbuild /m /p:Configuration=RelWithDebInfo nsis_package.vcxproj
        working-directory: build
      - name: Move Windows packages
        run: |
          mkdir exe
          mv build/packaging/nsis/*exe exe/
      - name: Upload Windows packages
        uses: actions/upload-artifact@v1
        with:
          name: packages
          path: exe
