#.IMPORT_TAG
RTORQapdu                BER_CLASS_UNI BER_UNI_TAG_SET
RTOACapdu                BER_CLASS_UNI BER_UNI_TAG_SET
RTORJapdu                BER_CLASS_UNI BER_UNI_TAG_SET
RTABapdu                 BER_CLASS_UNI BER_UNI_TAG_SET
EXTERNAL                 BER_CLASS_UNI 8
#.END

#.TYPE_ATTR
RTORQapdu                TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
RTOACapdu                TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
RTORJapdu                TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
RTABapdu                 TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
EXTERNAL                 TYPE = FT_NONE    DISPLAY = BASE_NONE  STRINGS = NULL  BITMASK = 0
#.END

